[2016-05-04 00:31] sbellan opened #7 "Support Signing"
Windows Server 2012 seems to have 'Required Signature' enabled by default.  So need to implement that. MS-SMB2 3.2.4.1.1 Signing the Message

[2016-05-04 01:07] sbellan opened #8 "Support DFS Referrals"
Machines using the SMB 2 Protocol can use the Distributed File System (DFS): Referral Protocol as specified in [MS-DFSC] to resolve names from a namespace distributed across many servers and geographies into local names on specific file servers.

DFS clients communicate with DFS servers via referral requests/responses conveyed in SMB2 IOCTL messages, analogous to a file system client performing co

[2016-07-25 09:28] hierynomus opened #11 "Graciously close open sessions when connection closes"

[2016-07-25 12:45] hierynomus opened #12 "Open a FileId once, and re-use that for multiple operations on the file (existence, read, write, fileinfo, etc)"

[2016-07-26 10:19] hierynomus opened #13 "Add getInputStream and getOutputStream on com.hierynomus.smbj.share.File"

[2016-07-26 10:21] hierynomus opened #14 "Move com.hierynomus.smbj.smb2 to com.hierynomus.mssmb2"
And ensure that we don't leak the protocol classes on the API layer.

[2016-07-26 13:18] hierynomus opened #15 "Check why reading an smb file to disk is twice as fast as writing to an SMB file."

[2016-07-26 13:19] hierynomus opened #16 "Allow read/write buffer sizes to be configurable"
Now the read buffer size and write buffer size for file read/write is set to the maximum that was negotiated. Allow this to be tweaked.

[2016-07-27 11:30] #14 closed

[2016-08-30 21:53] niggemannmj opened #20 "Add support for retrieving via DiskShare the file system information"
While the underlying protocol support libraries seem to support getting the FileFsSizeInformation via SMB2QueryInfoRequest, it would be more useful if this were exposed as a simpler method call in DiskShare, similar to the getFileInformation() method, but for the share file system instead. Perhaps call it getFileSystemInformation()

[2016-08-31 09:01] hierynomus commented on #20
Agreed, the APIs are still in flux and I am cleaning them up.

[2016-09-07 23:17] niggemannmj opened #22 "ByteChunkProvider offset should be long and should be protected access, not private."
The offset for the SMB2WriteRequest message is defined to be UInt64. The ByteChunkProvider getOffset() method is used to provide the file offset where writing is to begin. Since this is an int, the maximum positive offset would be 2GB. Believe it or not, I work in the medical imaging industry and we have image datasets that are larger than 2GB.

Furthermore, the ByteChunkProvider should make the o

[2016-09-08 08:56] hierynomus commented on #22
Yes agreed. If you have some time I would love a Pull Request :)

Also can you give some background as to what you're using (going to use) SMBj for? Would be nice to build a list of projects that it is being used in 😃 .

[2016-09-08 11:35] #13 closed

[2016-09-08 11:35] #15 closed

[2016-09-08 11:35] #11 closed

[2016-09-13 21:40] niggemannmj commented on #22
I am still evaluating whether we're going to use SMBJ. Right now, we're using JCIFS and since it's locked into the deprecated SMB1/CIFS we need something to replace it with several of our Java applications since our customers are moving on to SMB3 based storage solutions and won't be enabling SMB1/CIFS.

[2016-11-02 11:17] dhoehmann commented on #7
Yes need that, too! SMBv1 gets switched off in many environments for security reasons - and that only makes sense if message signing is enforced

[2016-11-02 11:22] hierynomus commented on #7
Intention is certainly to implement this in the future. It's not trivial, but also not impossible.

[2016-11-06 16:00] ckherrmann commented on #7
I've been working on SMBv2 signing with SMBJ.  I just created a fork to share the code and will be putting it out for review soon.

[2016-11-07 08:42] hierynomus commented on #7
Wow, great! Looking forward. You do need to change the authentication interface, to return more than just a `sessionId`, but that would be perfect. Bring it on!

[2016-11-07 11:04] #22 closed

[2016-11-07 19:50] ckherrmann commented on #7
I submitted the pull request.  Look forward to hearing your comments.  Also, would appreciate suggestions for how to add tests to your test framework for this.

[2016-11-08 00:36] sbellan commented on #7
@ckherrmann @hierynomus
I also created a new pull request for the smb2 signature stuff :( https://github.com/hierynomus/smbj/pull/27
But I'm having issues with supporting signatures with SMB2WriteRequest because of the streaming model.

[2016-11-08 01:16] sbellan commented on #7
@hierynomus Feel free to decline the pull request for signing. I got some ideas from @ckherrmann about delayed signature computation. I have couple of other changes (list Directory, Nt error codes) in the same pull request, I can submit a new pull request for it.

[2016-11-08 01:37] ckherrmann opened #28 "SPNEGO support"
Looks like the SPNEGO authentication support is not implemented--there's just a stub class.

I do actually have something working, but I'm wondering if anyone else is trying to do this.

[2016-11-08 03:35] sbellan opened #29 "Issue with Credits when uploading large file"
Looks like Windows 2012 servers in DC mode, is granting clients only up to a max of 128 credits at any given time. When upload a large file, the negotiated maxWriteSize is 8M, but for 8M we need 128 ((payLoadSize - 1)/65536) + 1) credits, but since we want keep at least 1 credit, we reduce the credits by 1 to 127. But this is not enough to send 8M payload and call fails with INVALID_PARAMETER.

Wi

[2016-11-08 07:05] hierynomus commented on #7
Please do split it! The pr from @ckherrmann os already in a pretty good
shape. Need to review the changes.

Thanks!

Op 8 nov. 2016 2:16 a.m. schreef "sbellan" <notifications@github.com>:

[2016-11-08 08:38] hierynomus commented on #28
Haven't worked on this yet :)

[2016-11-08 08:39] hierynomus commented on #29
Yes, I think I know what is wrong, was looking at the Multicredit stuff yesterday. Will see whether I can fix this tomorrow.

[2016-11-09 14:17] hierynomus commented on #28
@ckherrmann I've refactored the authentication part. I'm wondering if the first `authenticate` method is needed. Does the SPNEGO authenticator have the same initial step?

[2016-11-09 15:31] hierynomus commented on #28
Ok, well after reading the GSS specs a bit more, refactored the authentication even further. Have a look to see whether you can fit the SPNEGO authenticator in this, or whether we need to change it.
The NTLM authenticator now does what it's supposed to, without depending on the "protocol" that is using the authentication.

The Authenticator now is a stateful object, so you can use it as such also

[2016-11-11 05:24] ckherrmann commented on #28
I haven't looked at your new refactoring yet, but I did push my SPNEGO/Kerberos authentication onto a branch in my fork.  Which means you can look at it if you like, while I work on it to get it ready to merge.
Here is the link to compare: https://github.com/hierynomus/smbj/compare/master...ckherrmann:spnego

[2016-11-11 12:44] hierynomus commented on #29
@sbellan Can you check branch https://github.com/hierynomus/smbj/tree/issue-29 and see whether that fixes the issue?

[2016-11-11 19:03] ckherrmann commented on #28
Started with looking at the refactoring.  Main issue is that I need to change my code to remove the message pump since you put that into Connection (where it probably belongs anyway), so it might take a little while.  But I think what you have currently should work pretty well.

[2016-11-11 20:08] ckherrmann commented on #28
The latest issue is that the type of authentication credentials you have available influences what authentication mechanism you can use.  If you have a username/password/domain (ie, a AuthenticationContext), then you have to use NTLM; if you have a [Kerberos]Subject (ie, a GSSAuthenticationContext), you have to use SPNEGO.  I'm thinking the factory for a mechanism could inspect the context for com

[2016-11-11 20:16] hierynomus commented on #28
I would suggest the authenticator has the boolean method. We could also
merge the two authentication contexts if we maie the credentials an Object
(a string password or an gss subject)?

Op 11 nov. 2016 9:08 p.m. schreef "ckherrmann" <notifications@github.com>:

[2016-11-11 21:04] ckherrmann commented on #28
The order of things right now is:
1. make a "AuthContext" which is basically a Credentials-holder
2. start a connection
3. negotiate available protocols
4. pick the first auth protocol that is available
5. create an authenticator for that auth protocol using the auth protocol's factory
6. perform the authentication loop using the authenticator

You're suggesting that 5. should be:
5. create an aut

[2016-11-11 21:10] hierynomus commented on #28
Yes, but the authenticators are pretty cheap to create, so I don't worry
about that too much.
The sequence seems right indeed.

2016-11-11 22:05 GMT+01:00 ckherrmann <notifications@github.com>:

[2016-11-11 21:26] sbellan commented on #29
@hierynomus I think I still got the same error. Wireshark packet capture attached. I'm running the SmbJTest.testBasic against a AD server which has got signatures enabled. (I had to make small change in DiskShare.java, where we were still calling connection.send to session.send)

[issue-29.zip](https://github.com/hierynomus/smbj/files/586778/issue-29.zip)

[2016-11-19 01:01] ckherrmann commented on #8
I've been working on DFS Referrals.  It's not quite all done, but it is pushed to a branch of my fork, if you're interested.

[2016-11-19 08:03] hierynomus commented on #8
Wow, great! Will have a look. Looking forward to the pr!

Op 19 nov. 2016 2:01 a.m. schreef "ckherrmann" <notifications@github.com>:

[2016-11-23 08:51] hierynomus commented on #28
This was implemented :) Closing the ticket.

[2016-11-23 08:51] #28 closed

[2016-11-23 08:52] hierynomus commented on #7
Was implemented with #26

[2016-11-23 08:52] #7 closed

[2016-11-23 08:53] hierynomus commented on #8
@ckherrmann Any chance you are able to send a PR before Friday? I want to try to release a new version Friday end of day with all the new features.

[2016-11-23 16:35] ckherrmann commented on #8
No, it needs a lot more testing.  (Plus, it's a holiday here.)

[2016-12-16 09:18] ckherrmann opened #34 "PacketReader.stop does not interrupt reader thread, so reader thread does not stop immediately"
When you do a connection.close(), it calls packetReader.stop();, but this only sets a variable to indicate the reader is stopped.  It does not interrupt the reader thread, causing the socket read to be interrupted.  So, the reader thread doesn't stop for "a while", when the socket read actually times out.

[2016-12-17 00:29] #20 closed

[2016-12-17 00:32] niggemannmj commented on #20
This was fixed in commit  53970ed.

[2016-12-29 10:11] #34 closed

[2016-12-30 09:07] #29 closed

[2017-02-17 18:47] visch opened #35 "Examples"
The readme mentions some examples (Maybe copied from sshj), but I don't think there's any available?

Examples would be awesome :D

[2017-02-20 08:38] hierynomus commented on #35
Hi @visch, You're right, part of the README was copied from SSHJ ;). The goal is indeed to have some usage examples, Feel free to send a PR with examples if you happen to have some time.

[2017-02-20 13:14] gidravlic commented on #35
Yes, it would be nice to add examples of the use the library

[2017-03-03 11:55] gidravlic commented on #8
Hello guys! How goes implementation of dfs in you library?

[2017-03-03 11:57] hierynomus commented on #8
@gidravlic It keeps me awake in the evenings... Currently cleaning up the code on a separate branch. Hopefully somewhere next week that I have something that I feel comfortable merging :).

[2017-03-03 12:08] gidravlic commented on #8
Nice! Good news! :)

[2017-03-09 13:48] gidravlic opened #36 "Expand FileInfo class"
In the method FileInformationFactory.parseFileAllInformation, the datetime fields are filled, but this information does not fall into the class.

Something like this:

[code]
and
[code]

[2017-03-15 08:50] #36 closed

[2017-03-15 14:52] niggemannmj opened #37 "NegTokenInit.parseTagged throw exception when required token elements are present"
The NegTokenInit.parseTagged should not throw an exception when it parses the reqFlags or mechListMIC ASN1TaggedObject. These should simply be ignored. This fields are commonly set by Samba and thus you won't be able to interoperate with Samba. The fix is to add cases for 1 and 3 and ignore them instead of dropping through to the default case.

[2017-03-17 08:01] shashank-ssriva opened #39 "While using Windows Plugin to install a Windows service on an SMB host, XLD shows "message is not signed" message."
When ``HKLM\System\CurrentControlSet\Services\LanManServer\Parameters\RequireSecuritySignature
Registry`` setting is enabled i.e. set to 1, deployment of Windows service using Windows plugin on an SMB host fails with below  message : -
[code]
Same Powershell command (mentioned in plugin/below) when invoked directly on Windows host runs perfectly without any issue.
[code]
Even below command runs pe

[2017-03-21 10:33] #39 closed

[2017-03-23 18:29] gillyx opened #40 "Buffer underflow exception"
After the initial negociation, it seems the GssNegotiateToken is empty - see trace below.
Any clue of what that means / how to trouble shoot ?

Thanks!

[code]

[2017-03-23 20:46] hierynomus commented on #40
Which version of smbj are you running? And to what kind  of server are you
connecting?

Op 23 mrt. 2017 7:29 p.m. schreef "gillyx" <notifications@github.com>:

[2017-03-23 21:21] gillyx commented on #40
I compiled from HEAD and it gives me smbj-0.0.8.
Server is Microsoft on Azure Files.

[2017-03-23 22:36] gillyx commented on #40
I added some trace in `DirectTcpPacketReader.doRead` and see `_readTcpHeader()` always returns 128.
That explains at least why the packet couldn't be fully read.

[2017-03-23 22:45] hierynomus commented on #40
Actually the packet was fully read, else you would've gotten an exception
from the packet deserialization that it missed a few bytes.

However I think that the server you're connecting with triggers the
following case:

2.2.4 SMB2 NEGOTIATE Response  - Buffer
The buffer SHOULD contain a token as produced by the GSS protocol as
specified in section 3.3.5.4. If SecurityBufferLength is 0, this field

[2017-03-24 09:25] hierynomus commented on #40
Can you try with the code from the PR? I _think_ this should fix it :)

[2017-03-24 16:24] gillyx commented on #40
Thanks for the quick response and fix!

That worked.

The ```SmbjTest``` integration test is now running though I had to comment the code in the test dealing with DACL in security descriptor since it's null.
The Security descriptor looks as ```SecurityDescriptor{control=[PS, OD], ownerSid=S-1-1-0, groupSid=S-1-1-0, sacl=null, dacl=null}```

[2017-03-24 16:42] gillyx commented on #40
Just a side note that maybe in ```com.hierynomus.smbj.transport.PacketReader``` the constructor should set the thread to be a daemon otherwise the JVM won't exit if the connection is not closed.

[2017-03-24 17:18] hierynomus commented on #40
Yes, thanks for the suggestion. Missed that. Will fix

Op 24 mrt. 2017 5:42 p.m. schreef "gillyx" <notifications@github.com>:

[2017-03-24 22:43] #40 closed

[2017-03-24 22:44] hierynomus commented on #37
Fixed by bfffb2a

[2017-03-24 22:45] #37 closed

[2017-04-02 09:21] HubKing commented on #35
How to use it? I cannot find documentation (other than the class references) or any example in this site or by searching Google. I am not even looking for detailed examples; I am just looking for a basic example like reading a file from a Windows shared directory, and I cannot find it.

[2017-04-02 10:00] HubKing opened #42 "Is this library supported on Android?"
I could not find any example, so I just guessed how it would work, and wrote the following code.

	SMBClient client = new SMBClient();
	Log.d(TAG, "Trying to connect");
	Connection conn = client.connect(ServerIP);
	AuthenticationContext auth = new AuthenticationContext(ID, Password.toCharArray(), null);
	Log.d(TAG, "Trying to authenticate");
	Session ses = conn.authenticate(auth);

But `authentica

[2017-04-02 10:29] hierynomus commented on #42
It should not be too hard to support Android. I will look into it. Thanks
for asking!

Op 2 apr. 2017 12:00 schreef "GitHub King" <notifications@github.com>:

I could not find any example, so I just guessed how it would work, and
wrote the following code.

SMBClient client = new SMBClient();
Log.d(TAG, "Trying to connect");
Connection conn = client.connect(ServerIP);
AuthenticationContext auth = n

[2017-04-05 10:19] zuoshui commented on #42
Hi hierynomus,
I use this demo to list, it return NT Status: STATUS_ACCESS_DENIED (0xc0000022)

32	7.305456	192.168.1.110	192.168.1.10	SMB2	156	Find Request File:  SMB2_FIND_ID_BOTH_DIRECTORY_INFO Pattern: *

33	7.308874	192.168.1.10	192.168.1.110	SMB2	131	Find Response, Error: STATUS_ACCESS_DENIED

what the reason? @hierynomus

[2017-04-06 09:23] zuoshui opened #43 "Can this example can list files on smb2 server"
Hi hierynomus ,
Can this example can list files on the server of smb2?
When i use the list interface , it will response STATUS_ACCESS_DENIED
[log_list.txt](https://github.com/hierynomus/smbj/files/902091/log_list.txt)

[2017-04-14 14:05] rlstehr opened #44 "Unknown Object Tag 3 encountered exception while authenticating."
When I authenticate with Windows servers everything is fine.  When I try to authenticate with a multiprotocol file server that uses SMBv2.1, I get this exception.

com.hierynomus.smbj.common.SMBRuntimeException: com.hierynomus.spnego.SpnegoException: Unknown Object Tag 3 encountered.
	at com.hierynomus.spnego.NegTokenInit.read(NegTokenInit.java:117)
	at com.hierynomus.spnego.NegTokenInit.read(NegT

[2017-04-14 20:37] hierynomus commented on #44
I think this is fixed in the current master. Take a look at that. I will try to cut a new release next week.

[2017-04-17 15:21] niggemannmj commented on #44
I ran into the same issue and fixed it already. It should be on master.

[2017-04-19 13:48] hierynomus commented on #44
Was fixed with bfffb2ad145891cc6f7d8c484724a6b5b64e36bb

[2017-04-19 13:48] #44 closed

[2017-04-19 13:50] hierynomus commented on #43
Hi @zuoshui

Which version did you use? I've recently fixed quite a number of things regarding signatures, which lead to this same message. Could you give it a try by building the current master branch and seeing whether that one works?

I will hopefully cut a release end of this week.

[2017-04-19 13:51] hierynomus commented on #42
It most probably got to do with signatures being not sent. Can you give it a try with the current master?

[2017-04-19 13:52] hierynomus commented on #35
@HubKing have you looked at the SmbjTest testcases? They should provide some starting point at least.

[2017-04-24 13:08] kprateek777 opened #45 "Exception after logoff"
Hi hierynomus team,

I'm getting the exception

![image](https://cloud.githubusercontent.com/assets/13343959/25338521/2524f21c-291d-11e7-9935-70d929cc643d.png)

what could be the reason behind it?

Thanks,
Prateek

[2017-04-24 13:13] hierynomus commented on #45
What does the client code look like? Are you calling `Connection.close()`?

[2017-04-24 13:22] kprateek777 commented on #45
I'm calling session.close() but not Connection.close()

[2017-04-24 13:29] hierynomus commented on #45
Add a call to `connection.close()` then the packet reader will be closed correctly.

[2017-04-24 13:30] hierynomus commented on #45
Reason behind this: The connection supports running multiple (simultaneous) different sessions. That's why you need to close it separately.

[2017-04-24 13:33] kprateek777 commented on #45
okay. I will do that and check.

Thanks a lot for the quick reply!

[2017-04-24 13:46] kprateek777 commented on #45
One more question, if i close the connection is there a need to close the session?

[2017-04-24 14:17] hierynomus commented on #45
No, closing the connection will first log off and close all sessions. So that is safe if you're not multiplexing multiple sessions in your client.

[2017-04-24 14:37] kprateek777 commented on #45
There is no multiplexing Sir. I removed session.close and added connection.close. I still get the error:
![image](https://cloud.githubusercontent.com/assets/13343959/25342417/a501b8b0-2929-11e7-84f8-9a130f0ab76e.png)

[2017-04-24 14:46] hierynomus commented on #45
I don't see this happening when I for instance run this code: https://github.com/hierynomus/smb-client/blob/master/src/main/groovy/com/hierynomus/smbj/client/SmbjClient.groovy

Can you post your code?

[2017-04-25 12:55] kprateek777 commented on #45
I got that issue fixed with the implementation in the above code, closing share, session, and connection.
Thanks for this help.

I'm trying to watch directory for new files. Once watched setlastmodifiedtime to a fixed time to avoid looping.
Is there a way to setlastmodifiedtime of a file on unc using fileinformation just like it can be done using jav.io.File.setLastModifiedTime?

[2017-04-25 13:17] hierynomus commented on #45
I don't think I currently have support for that.
Shouldn't you only check for files newer than `now()`? Then you don't need
to touch anything.

2017-04-25 14:55 GMT+02:00 kprateek777 <notifications@github.com>:

[2017-04-26 13:21] rlstehr commented on #44
When are you planning to the next release?

From: Jeroen van Erp [mailto:notifications@github.com]
Sent: Wednesday, April 19, 2017 9:49 AM
To: hierynomus/smbj <smbj@noreply.github.com>
Cc: Stehr, Robert (NIH/CC/DCRI) [E] <robert.stehr@nih.gov>; Author <author@noreply.github.com>
Subject: Re: [hierynomus/smbj] Unknown Object Tag 3 encountered exception while authenticating. (#44)

Closed #44<https:

[2017-04-26 14:23] hierynomus commented on #44
I'm finishing off #46 first, then I want to make a release. I hope this weekend.

[2017-04-26 18:37] rlstehr commented on #44
Thanks

From: Jeroen van Erp [mailto:notifications@github.com]
Sent: Wednesday, April 26, 2017 10:23 AM
To: hierynomus/smbj <smbj@noreply.github.com>
Cc: Stehr, Robert (NIH/CC/DCRI) [E] <robert.stehr@nih.gov>; Author <author@noreply.github.com>
Subject: Re: [hierynomus/smbj] Unknown Object Tag 3 encountered exception while authenticating. (#44)

I'm finishing off #46<https://github.com/hierynomus/

[2017-04-28 11:19] kprateek777 commented on #45
Actually along with that, once the file is transferred to target, I'm deleting the file from watch directory and if delete fails then setlastmodifiedtimeto some random time and don't try to delete it again.

Also, the exception```

Exception in thread "Packet Reader for test " Exception in thread "main" com.hierynomus.smbj.common.SMBRuntimeException: com.hierynomus.smbj.transport.TransportExceptio

[2017-05-11 16:25] napalmvin opened #47 "Missing sample of associated Windows account or domain name resolution in ACLs."

[2017-05-15 18:47] hierynomus commented on #47
Could you describe a bit more clearly what it is you're expecting / want to see implemented / added?

[2017-05-23 18:09] travisennis opened #48 "Support Renames"
It appears the library can support renames by using the SMB2SetInfoRequest class, but I'm having trouble figuring out how to configure an instance of that class that will successfully do the rename.

Could you give me some advice on how renames might be implemented? Also, could a rename method be implemented on the Share class, so that the API can hide the complexity of the SMB2SetInfoRequest from

[2017-05-23 19:06] hierynomus commented on #48
Yes, the Share should abstract that away. There should be no need to
construct the messages yourself indeed. Will add it.

2017-05-23 20:09 GMT+02:00 Travis Ennis <notifications@github.com>:

[2017-05-23 19:08] hierynomus commented on #43
@zuoshui Any update? Have you been able to try 0.0.9?

[2017-05-23 19:10] hierynomus commented on #42
@HubKing This should be fixed with the next release with the introduction of our own abstraction over SecurityProvider (b01ac77917c0cc9f0a7ddf8d32c6d40192f858bf). You could try building the latest master in order to verify whether this fixes it.

[2017-05-24 13:27] travisennis commented on #48
Excellent! Thank you! Can you provide an estimate as to when you think it will get added and released?

[2017-05-30 16:46] rlstehr commented on #44
When is the next release planned?

From: Stehr, Robert (NIH/CC/DCRI) [E]
Sent: Wednesday, April 26, 2017 2:37 PM
To: 'hierynomus/smbj' <reply@reply.github.com>
Subject: RE: [hierynomus/smbj] Unknown Object Tag 3 encountered exception while authenticating. (#44)

Thanks

From: Jeroen van Erp [mailto:notifications@github.com]
Sent: Wednesday, April 26, 2017 10:23 AM
To: hierynomus/smbj <smbj@noreply

[2017-06-04 19:54] LSOFT123 opened #51 "SMB on MacOSX: Not enough credits Exception"
Hi,

When connecting to SMB2.1 on MacOSX, we got the following:
Not enough credits (0 available) to hand out 1 sequence numbers

When calling:
AuthenticationContext ac = new AuthenticationContext(username, password == null ? new char[0] : password.toCharArray(), domain);
Session session = conn.authenticate(ac); // <== Exception here

Same works fine with Windows10 Share.

What could be the problem

[2017-06-05 05:19] yin19941005 commented on #48
Hello,

I had created a pull request for this issue. I tried to move (rename) a "txt" file, empty directory and directory with a "txt" file and all of them passed on my environment.

@travisennis , could you take a look and test with it?

[2017-06-05 20:35] hierynomus commented on #51
Can you send a log of an attempt at trace level?

[2017-06-06 12:47] travisennis commented on #48
@yin19941005, I did some testing with your code changes yesterday and everything worked in my environment as well.

[2017-06-07 10:24] Pernicies opened #57 "DiskShare.getFile does not set fileId on returned File"
Hi folks,

I just started digging into smbj and the whole smb topic on the technical level and encountered a behaviour that I would not have expected when it came down to using an input stream.

So I connected to a share and retrieved a File object via the getFile method of the DiskShare class. Unfortunately this File object could not be used to create an input stream as it would fail with a NullP

[2017-06-07 11:53] hierynomus commented on #57
Indeed, it is a bug/shortcoming :) Fixing it in #58

[2017-06-08 07:28] zuoshui commented on #43
Hi hierynomus,
    sorry for late to replay this case, I have modify the source code to resolve this problem,
smbj\src\main\java\com\hierynomus\smbj\share\DiskShare.java

    public List<FileInfo> list(String path) throws SMBApiException, TransportException {
        logger.info("List {}", path);

        Directory fileHandle = openDirectory(path, EnumSet.of(GENERIC_READ),
==>
Directory fileHandle

[2017-06-08 10:12] hierynomus commented on #57
Just did some checking, the FileId returned from the FileInformation object is not an actual SMB2FileId (it is only 8 bytes), it might be part of it.

I'll fix it by having File/Directory open on demand.

[2017-06-08 10:49] hierynomus commented on #51
@LSOFT123 Do you have some logs that I can take a look at?

[2017-06-08 10:49] hierynomus commented on #48
New PR for this is #61

[2017-06-08 10:50] hierynomus commented on #43
Can you try using `AccessMask.MAXIMUM_ALLOWED`?

[2017-06-08 11:59] sopak opened #62 "Logging is too verbose"
I think we should change all occurrences of logger.info to logger.debug. With few exceptions as connect, disconnect and authenticate.

[2017-06-08 14:03] gidravlic commented on #62
I support this issue

[2017-06-08 18:53] travisennis commented on #48
@yin19941005 after further testing, I'm seeing an issue where your solution does not properly rename files or directories that exist inside of other directories.

[2017-06-09 08:33] yin19941005 commented on #48
Hi @travisennis ,

Could you provide more details information? I am not able to reproduce the case you mentioned. I tested on my environment with the setup below :

Client : Windows 10 PRO
Server : Windows Server 2008 R2
My test program is a modified version based on [`SmbjTest.java`](https://github.com/hierynomus/smbj/blob/master/src/it/java/SmbjTest.java) :
[code]

The write functions called on

[2017-06-09 08:35] sopak commented on #62
@hierynomus what is your opinion? Can I do this change?

[2017-06-09 18:13] travisennis commented on #48
@yin19941005 it appears I didn't have all of your most recent changes pulled down. Now that I'm working with the most current code, renames seem to be working fine. I apologize for the confusion.

[2017-06-09 18:52] hierynomus commented on #48
#61 is merged. So Iwill close this issue.

[2017-06-09 18:52] #48 closed

[2017-06-10 13:59] pepijnve commented on #57
@hierynomus I fixed this in a branch I'm working on by opening the object and then determining if it's a file or directory based on the metadata in the create response.
See https://github.com/pepijnve/smbj/blob/fileops/src/main/java/com/hierynomus/smbj/share/DiskShare.java#L86

[2017-06-10 14:03] pepijnve commented on #12
I'm working on this in https://github.com/pepijnve/smbj/tree/fileops
Idea is to add a bunch of instance methods to DiskEntry, File and Directory. I've added these next to the methods that take a FileId in DiskShare, but maybe the instance methods should actually replace those instead. What do you think?

[2017-06-10 19:08] hierynomus commented on #12
Hi pepijn,

Indeed, that would be my preference also for the File and Directory
instances to have their own methods. Instead of coding everything on the
DiskShare.

Op 10 jun. 2017 4:03 p.m. schreef "Pepijn Van Eeckhoudt" <
notifications@github.com>:

[2017-06-11 12:54] LSOFT123 commented on #51
Here it is

[code]

[2017-06-11 19:33] pepijnve commented on #51
Ran into this one today as well. AFAICT this is caused by com.hierynomus.mssmb2.SMB2Header#writeCreditRequest not filling in the credit request header field during negotiation. The client send a request for 0, the server macOS server responds with a grant for 0 and then the client is out of credit.
Removing the 2.0.2/Unknown dialect case in that method resolves the problem. I think this is a safe

[2017-06-12 06:19] 4dn-oss opened #72 "Data was corrupted at maxWriteSize(8MB) boundary, when File#write() using a buffer of a size not a power of 2."
Following code makes corrupted file.

[code]

[code]

Java: Java(TM) SE Runtime Environment (build 1.8.0_112-b15)
Server: Windows 10 Pro (negotiatedProtocol=NegotiatedProtocol{dialect=SMB_2_1, maxTransactSize=8388608, maxReadSize=8388608, maxWriteSize=8388608})

It seems to be a bug of RingBuffer.

[code]

[2017-06-12 07:04] pepijnve commented on #48
@yin19941005 [MS-FSCC] states

Does `network operations` mean it applies to any SMB based rename operation? If so, I don't think it makes sense to allow the `rootDirectory` value to be set. Perhaps the overload of `rename` that provides that parameter should be removed?

[2017-06-12 07:19] #51 closed

[2017-06-12 07:19] hierynomus commented on #51
Fixed, thanks for the suggestion @pepijnve

[2017-06-12 07:32] hierynomus commented on #57
The PR for this is #71 now

[2017-06-12 07:42] yin19941005 commented on #48
Hi @pepijnve ,

Actually, I am not sure about the meaning on the [MS-FSCC] document ([`2.4.34.2 FileRenameInformation for SMB2`](https://msdn.microsoft.com/en-us/library/cc704597.aspx)). It's header states the document is only for SMB2 and it should simply saying something like `It MUST be zero.` without any condition.

However, it states :

This confused me, so I just leave it able to set in the

[2017-06-12 08:44] #12 closed

[2017-06-12 08:44] #57 closed

[2017-06-12 12:16] #72 closed

[2017-06-12 17:35] LSOFT123 opened #78 "Upload/Write Exception on MacOSX"
Hi,

Since your last fixes everything looks good under MacOSX except upload of file(s) with specific size. For instance, uploading a simple file sample2009q1a.ajpg (size = 4,221,390 bytes) returns the following exception at the end of transfer. Uploading the same file under Windows works, uploading another file under MacOSX with another size works.

[code]

[2017-06-12 18:11] pepijnve commented on #78
This particular error happens when the server unexpectedly closes the underlying TCP connection from its end. Could you provide a code snippet that shows what you're doing exactly? I can try to reproduce this on my own, but having some reproduction code to start from helps a lot in solving problems quickly.

[2017-06-12 18:27] pepijnve commented on #43
Rather surprising that GENERIC_READ gives access denied while LIST + READ_ATTRIBUTES does not. When GENERIC_READ is mapped to file specific access rights it maps to an access mask that contains those two. See https://msdn.microsoft.com/en-us/library/windows/desktop/aa364399(v=vs.85).aspx for the details.

[2017-06-12 19:02] LSOFT123 commented on #78
Code that uploads from FileInputStream:

[code]

[2017-06-12 19:21] pepijnve commented on #78
Tested this against my mac (macOS 10.12.5). For me the upload does work correctly, but I also get the same error as you do. For me this happens when the connection is closed. It seems that the macOS SMB server closes the TCP connection when the last session for that connection is logged off. To be more specific I see the following in Wireshark:
[code]

The smbj code currently doesn't expect this t

[2017-06-12 19:38] hierynomus commented on #78
@pepijnve What you're describing is something else than the initial bug report it seems, as @LSOFT123 claims that uploading a specific (size) file fails, but another succeeds fully.

[2017-06-12 19:44] LSOFT123 commented on #78
Here is the file I'm using if it can help.
I'm not closing the session until the code I sent returns.

![sample2009qa](https://user-images.githubusercontent.com/29181341/27051909-2ab11f14-4fb8-11e7-9728-35957ce1a055.jpg)

[2017-06-12 19:52] pepijnve commented on #78
@hierynomus I'm 99% sure this is the same issue. I get the exact same results as @LSOFT123 running the code he shared. Due to PacketReader running in a separate Thread and debug logging getting printed to stdout and fatal to stderr, the exact point at which the RuntimeException gets printed to the console varies. Sometimes it's after the last write debug logging, sometimes after the connection clo

[2017-06-13 03:17] zuoshui commented on #43
@hierynomus If i using AccessMask.MAXIMUM_ALLOWED, it still return

40	13.566002	192.168.1.10

	192.168.1.105	SMB2	131	Find Response, Error: STATUS_ACCESS_DENIED

And i see the source has changed , i will check the new code later

[2017-06-13 06:57] LSOFT123 commented on #78
session.close() removed after transfer but it fails exactly the same.
The file copied is 0 bytes for both (under MacOSX).

[2017-06-13 07:04] pepijnve commented on #78
So then it is something else after all... Are you familiar with either Wireshark or tcpdump by any chance? Getting a pcap file containing the back and forth between smbj and the server would be helpful again.

[2017-06-13 12:47] #16 closed

[2017-06-14 20:15] swtet2003 opened #80 "DiskShare.getFileInformation() does not work properly for root directory"
We built a version of SMBJ when this was the head of master:

https://github.com/hierynomus/smbj/commit/57dfc9825b6d0f4935cf787e4fba8ac1ce7e9632

With that code, the following code snippet would report inconsistent results between Windows 10 and Windows Server 2012.  For Win 10, the name information was "".  For 2012, it was "\temp".  Both hosts negotiated SMB_2_1 dialect.

DiskShare share = (Disk

[2017-06-15 06:26] pepijnve commented on #80
This is due to the code path that accepts a string path not specifying any share modes. It used to specify all in earlier versions. I'll fix that asap.
If you need a short term workaround, you can fix this by using `openDirectory` with access mask `GENERIC_READ`, a set of all the ShareAccess values and create disposition `FILE_OPEN`. Then call `getFileInformation` on the returned Directory object

[2017-06-15 08:07] pepijnve opened #82 "Add support for MSRPC based services"
MSRPC services over SMB work by writing/reading data to/from an SMB named pipe. Adding support for this would enable things like remote share management, user management, etc.

I would propose adding some base classes to support this and then adapting MIDLC from the JCIFS project (http://jcifs.samba.org/src/midlc-0.6.1.tar.gz) to generate compatible classes. The adapted version of MIDLC would have

[2017-06-15 08:57] hierynomus commented on #82
Hi Pepijn,

I'm very allergic to GPLv2 licenses as we use SMBJ commercially. So my
preference is to keep them far away to prevent any confusion.

Adding base classes to support RPC over named pipes makes sense.

2017-06-15 10:07 GMT+02:00 Pepijn Van Eeckhoudt <notifications@github.com>:

[2017-06-15 10:20] pepijnve commented on #82
Understood; same here.

I would suggest making modified MIDLC version a separate project; not part of SMBJ itself. SMBJ stays ASLv2. You would use MIDLC to generate request/response classes and the service client based on the MIDL files provided by Microsoft (see https://msdn.microsoft.com/en-us/library/cc247293.aspx for an example). The generated classes depend on runtime classes provided by SMBJ

[2017-06-15 10:44] hierynomus commented on #80
Fixed with merging #81

[2017-06-15 13:08] swtet2003 commented on #80
Any chance you can update SMBTest to reflect the API changes?

With the changes that were merged to master, I am back to my original problem where Win 10 and 2012 report different information using DiskShare.getFileInformation().  Any idea how to fix that?

[2017-06-15 13:13] pepijnve commented on #80
SMBJ just passes on what it receives from the server. Different SMB servers behave differently in corner cases of the specification. Not much that can be done about that in a client library I think.

[2017-06-15 13:20] swtet2003 commented on #80
As a consumer of the client library, that forces me to understand the differences in the SMB spec and code around it based on the host that I am connecting to...seems like that should be a library concern.

[2017-06-15 13:24] pepijnve commented on #80
I'll leave it to @hierynomus to make that philosophical decision 😄
My opinion is that an SMB client library should not manipulate requests/responses on the users behalf. Adding these kinds of workarounds is a rabbit hole. There's no way to get things consistent across every single file server.

Could you explain why this matters for your use case? Perhaps there's a different way to get the informa

[2017-06-15 13:29] hierynomus commented on #80
Yes, I would be interested in knowing what the difference is :)

2017-06-15 15:24 GMT+02:00 Pepijn Van Eeckhoudt <notifications@github.com>:

[2017-06-15 14:30] swtet2003 commented on #80
I am trying to get the entries name.  If it is the root of the share, I could understand "" or even "." maybe.  Besides being inconsistent, it also appears to be wrong or, I should be doing something else.  If I pass a path into getFileInformation( "dir\file.txt" ), on Win 10, I always get "" from getNameInformation().  On 2012, I would get "\temp\dir\file.txt".  I wasn't expecting a full path but

[2017-06-15 14:31] pepijnve commented on #80
I'll check with my Windows 10 VM in a minute. But you should be blaming Windows 10; not SMBJ.

[2017-06-15 15:08] pepijnve commented on #80
FWIW I can confirm that Windows 10 sends back empty names.

@hierynomus this is what I'm getting back from the SMB server on a GETINFO request for FileAllInformation on a file named "Test.txt". You can see in the last line that filename length is 0. This results in an empty string as filename. Perhaps `null` would be more correct here?

[code]

I was able to get the name out using a directory quer

[2017-06-15 16:05] oranoran opened #85 "No timeout while waiting on SMB2TreeDisconnect and SMB2Logoff responses"
I've run into a case where for some reason no response was received from the SMB server to a SMB2TreeDisconnect request.
As a result, my calling thread hung. Also a PacketReader thread probably remains open in this case (haven't verified that).

I think there should definitely be a timeout in the Future.get() call that is waiting for the response.
Not sure what kind of configuration / API changes

[2017-06-16 07:27] pepijnve commented on #85
There were quite a few places in the code where indefinite waits were being used. PR #86 adds configurable timeouts for (distinct values for read, write and everything else). Defaults to 60s for all three.

[2017-06-16 13:49] swtet2003 commented on #80
Going back to a previous comment, I am beginning to wonder if getFileInformation() is not what I need in my situation.  I am trying to find basic information about a file/directory: type (file or directory), name, size, create date, modify date.  As we have been discussing, the name information has issues.  Now I can't seem to find a way to get the file size.  I can get the allocation size but tha

[2017-06-16 13:51] pepijnve commented on #80
Well, the name you kind of already have since you need to pass that in as a parameter. The file size is in `FileStandardInformation#endOfFile`. Timestamps and attributes are all in `FileBasicInformation`.

[2017-06-16 13:57] swtet2003 commented on #80
I do kind of have the name....I pass in a full path, which includes the name.  But, I don't necessarily have the proper case, which would be nice to get (somefile.txt == SomeFile.txt).  I would have never guessed endOfFile().  You might want to rename that or at least JavaDoc it.

[2017-06-16 13:59] pepijnve commented on #80
Regarding the semantics of the information classes and fields, best to read the docs https://msdn.microsoft.com/en-us/library/cc232088.aspx

[2017-06-17 08:46] LSOFT123 commented on #78
Here are the SMB2 packets:
![smb2traces](https://user-images.githubusercontent.com/29181341/27251579-23dd0898-534a-11e7-8276-368254c8eaa8.png)

[2017-06-17 11:59] pepijnve commented on #78
That second screenshot is mysterious. The sequence leading up to the gray line show the server acknowledging a bunch of packets and then terminating the TPC connection.
Could you export this out of Wireshark as a pcapng file and attach that? Then I can have a more in depth look.

[2017-06-18 09:39] LSOFT123 commented on #78
Here are 2 exports for the same upload (2 attempts):
[smb2traces-export.pcapng.gz](https://github.com/hierynomus/smbj/files/1082984/smb2traces-export.pcapng.gz)
[smb2traces2-export.pcapng.gz](https://github.com/hierynomus/smbj/files/1082985/smb2traces2-export.pcapng.gz)

Here is also the same file upload (that works) through a regular Windows 10 connected to MacOSX share:
[smb2traces-win10-export.

[2017-06-18 13:50] PH0lder opened #88 "[How] Is it possible to anonymously authenticate?"
I have a NAS share that doesn't require authentication to read from, and I can't find an obvious way to set that up using smbj.  (Well to be honest, the correct use of this library is far from obvious because there are no examples to speak of.)  I will include my own code so that maybe someone can comment if I have gone in the wrong direction.

I'd expect there to be an easy way to get an "Anonymo

[2017-06-18 13:52] PH0lder commented on #88
I thought I'd reference #35 because it mentions examples and this code *could* be a valid example?

[2017-06-18 14:02] PH0lder opened #89 "[How] Is it possible to use SMB URLs?"
In my investigation of Java support for SMB I checked out a different library (that did not support SMB2 or SMB3, only SMB1) but used smb URLs.  Is it possible to use URLs such as:
[code]

or optionally for something like:
[code]

[2017-06-19 07:32] pepijnve commented on #89
This is not possible at the moment but would be easy to add; at least up to the share part of the URI.

[2017-06-19 07:33] pepijnve commented on #88
I don't think anonymous authentication has been implemented yet.

[2017-06-19 11:47] hierynomus commented on #62
Merged #83 to make logging a bit less verbose on INFO level. Now you just see the connecting/closing of the different domain objects.

[2017-06-19 11:47] #62 closed

[2017-06-19 11:51] hierynomus commented on #78
@LSOFT123 Quick recap, what are the source and target OS's of each of the scenarios?

[2017-06-19 11:55] LSOFT123 commented on #78
Source is Java code running in Java Runtime under Windows 10. Target is MacOSX.

[2017-06-19 12:02] oranoran opened #91 "Ability to fine-tune socket options (timeout, keepalive, linger, etc.)"
It would be useful to be able to set socket options for the sockets used by SMB connections.
Specifically, SO_TIMEOUT, and probably KEEPALIVE and SO_LINGER seem to be useful.

I created a [potential fix](https://github.com/intigua/smbj/tree/socket-options), allowing Config to receive a customized SocketFactory, and allowing ProxySocketFactory to be customized with some socket options.

The only pr

[2017-06-19 12:23] hierynomus commented on #91
There is no need to inject/change `SocketFactory`. The `SocketClient` actually takes care of setting `soTimeout`, and should take care of the rest also. Adding those as config parameters makes sense indeed, I was thinking the same when Pepijn sent the PR this weekend.

[2017-06-19 13:01] oranoran commented on #91
Good catch, somehow I missed it.
And unlike my change, this works, though I'm not sure what the difference is.

But adding connection.setSotTimeout(100) to my test still fails the test, since connection.isConnected() continues to return true. The timeout event kills the PacketReader thread, but it doesn't cause the socket to be closed Wouldn't it make sense to close the socket and set it to null i

[2017-06-19 13:15] hierynomus commented on #91
Yes, I think that makes sense.

[2017-06-19 13:33] oranoran commented on #91
Ok, I will try to create a PR for this (hopefully tomorrow). Probably should also verify that an SO timeout causes Future.get() requests to fail.

[2017-06-19 13:36] hierynomus commented on #91
It wouldn't directly fail the Futures, as only when a Packet is received we know for which Future it is. It will however close complete all the waiting futures if we close the connection, due to the SO Timeout.

[2017-06-19 21:40] hierynomus commented on #88
Have you tried just using an empty username and password?
After tweaking my Windows10 VM to allow Anonymous and Guest login, that works out of the box.

[2017-06-19 21:55] hierynomus commented on #88
I've added two static factory methods to the AuthenticationContext in commit 3e07a43. Let me know if that works for you.

[2017-06-20 10:16] oranoran commented on #91
About using setSoTimeout - I'm not sure whether calling this method will have an effect if called after the socket is already connected. In case it doesn't have an effect, then the only way to effectively set the timeout is not to use SMBClient and create connections directly.

A simpler change then would be for soTimeout to be part of the config, and then SMBClient.connect() method should set it.

[2017-06-20 10:57] Pernicies opened #94 "DiskShare.list() not working if client requires signing"
If the method list of the DiskShare class is used with a SMBClient instance, that was configured to require signing, an exception will be thrown as an invalid packet signature was received.

Tracking it down in the debugger the exception is raised in the queryDirectory method of the Directory class when the server responds with a message having the nt-status STATUS_NO_MORE_FILES.

This behaviour i

[2017-06-20 11:06] hierynomus commented on #91
You can call it after a connect, but it should be called before a blocking operation according to the javadoc.

This is added in fee525c

I'm doubting whether any of the other options should be exposed. What do you think? I would be in favour of not exposing them unless absolutely necessary.

[2017-06-20 11:09] hierynomus commented on #94
I've seen this happen before on non- NtStatus.SUCCESS responses.

Will dig into it.

2017-06-20 12:57 GMT+02:00 Pernicies <notifications@github.com>:

[2017-06-20 11:41] oranoran commented on #91
I think keepalive is probably the next-most-useful one, in case someone wants to leave the client running idle for a while and ensure liveness. But it's less important then soTimeout.

There are quite a few other TCP connection parameters, though as you say most of them seem not interesting. One way of keeping TCP configuration flexible is #93 - exposing the SocketFactory in the Config. This way a

[2017-06-20 15:37] Git-Koushik opened #96 "Do we support SMB3?"
I see from the connection/negotiation code, we do not support SMB3 version of the protocol. This version of protocol has end-end encryption capability and other performance enhancements. Do you plan to support?

[2017-06-20 17:29] hierynomus commented on #96
It is the intention to support it. However I first want to get smb support
stable.

Op 20 jun. 2017 5:37 p.m. schreef "Git-Koushik" <notifications@github.com>:

[2017-06-20 18:03] LSOFT123 commented on #78
I've just downloaded current source code from master and upload that failed before (under MaxOSX) works now. What did you fix?

[2017-06-20 18:41] hierynomus commented on #78
I have no idea. Though I'm interested to know why it failed. Could you do a
"git bisect"  to see what was fixed and where?

Op 20 jun. 2017 8:03 p.m. schreef "LSOFT123" <notifications@github.com>:

[2017-06-20 19:49] LSOFT123 commented on #78
Not easy to say, lot of changes between today (June 20th) and June 12nd (date I downloaded code to report the issue).

[2017-06-20 19:52] pepijnve commented on #78
With `git bisect` you should be able to pinpoint it fairly quickly. See https://git-scm.com/book/en/v2/Git-Tools-Debugging-with-Git#_binary_search for details.

[2017-06-21 00:01] codyswanson4 commented on #89
I'm working on getting this implemented.  I'm not quite sure how to get the share connected from the SMBClient class, but I'm sure I'll get it figured out.  It is being worked on, though :) .

[2017-06-21 10:14] 4dn-oss opened #97 "Recursive DiskShare.rmdir() raise StackOverflowError."
With recent changes, DiskShare.list() now returns "." and "..",　so recursive rmdir() has become infinitely recursive.

Stack dump:
[code]

[2017-06-21 10:53] #97 closed

[2017-06-21 11:24] hierynomus commented on #88
@PH0lder Have you tried whether this works? If so, I can close the issue :)

[2017-06-21 13:14] #91 closed

[2017-06-21 13:43] pepijnve commented on #47
I'm going to guess this is about name <-> SID resolution. This can be done over SMB via the [LSA RPC interface](https://msdn.microsoft.com/en-us/library/cc234420.aspx). Blocked by #82.

[2017-06-21 13:44] pepijnve commented on #47
Note that ACLs in security descriptor objects are always SID based. SID to name resolution is only useful here for display purposes. Conversely name to SID resolution enables building more user friendly ACL editing user interfaces.

[2017-06-21 13:52] hierynomus commented on #85
PR #101 is merged now.

[2017-06-21 13:52] #85 closed

[2017-06-21 13:54] hierynomus opened #102 "Improve timeout handling in closing Connection/Session/Share"
Copied comment on #86 from @oranoran:

PR #101 makes sure there are no hang situations, but the unwinding process in case of a server failure may still take a long time.

A typical error handling sequence in case of timeout would make a close() request on the Session, which in turn triggers close() requests on individual shares. In case the server is not responding, each one of these requests woul

[2017-06-21 18:34] tandhy opened #103 "Exception with SMBClient"
Hi,

I am trying to connect to a shared drive: \\\sharedDrive\parent folder\theFolder.
The following is the code I used:
[code]
try {
      final SMBClient client = new SMBClient();
    	    Connection connection = client.connect("sharedDrive");
    	    Session session = connection.authenticate(new AuthenticationContext("username", "password".toCharArray(), null));
    	    Share share = session.

[2017-06-21 19:07] hierynomus commented on #103
Are you using it in a project where mbassador has a newer version?

Op 21 jun. 2017 8:34 p.m. schreef "Tandhy B.P. Simanjuntak" <
notifications@github.com>:

[2017-06-21 20:29] hierynomus commented on #103
Just checked, the latest version of mbassador even has the no-args constructor.
Which version are you using?

[2017-06-21 20:55] hierynomus commented on #96
Unless you have any additional questions, I will close this issue.

[2017-06-21 20:58] hierynomus commented on #42
@HubKing Have you tried building a recent master version to check whether it works on Android?

[2017-06-21 23:37] PH0lder commented on #88
Unfortunately I am using the Maven repository, so it's not really possible for me to quickly pull your commit for a test.

[2017-06-21 23:41] PH0lder commented on #89
If it helps you @codyswanson4 I have a working regular expression for the parsing of a SMB URl, you may feel free to "steal"  ;-)
[code]

[2017-06-22 00:24] tandhy commented on #103
Thanks Jeroen,

I will double check that and share it here.

[2017-06-22 07:14] pepijnve commented on #89
I wouldn't recommend using a regex for this. `java.net.URI#create` will do the same thing and allow you to extract the various components of the URI.

[2017-06-22 07:33] hierynomus commented on #89
Fully agreed... Using a regex to parse a URL is overly complex as there is
a JDK class perfectly suited for this :)

2017-06-22 9:14 GMT+02:00 Pepijn Van Eeckhoudt <notifications@github.com>:

[2017-06-22 10:57] Disablez opened #104 "Problem in DiskShare.getSecurityInfo"
Current smbj version returns a SecurityDescriptor whose fields are always null.

Fixed it with the attached change...
[change.txt](https://github.com/hierynomus/smbj/files/1094501/change.txt)

[2017-06-22 11:01] pepijnve commented on #104
Cleaned up patch a bit and made a PR for it

[2017-06-22 11:06] #104 closed

[2017-06-22 12:10] NadigNikhil opened #106 "Overwrite existing file"
Hi,

I'm using the below code to overwrite an existing file. I'm getting the below exception. Kindly help me fix the issue.

Code:

[code]

Exception:
com.hierynomus.smbj.common.SMBApiException: STATUS_SHARING_VIOLATION(3221225539/3221225539): Create failed for TestFolder/1.txt

[2017-06-22 12:22] hierynomus commented on #106
Is the code really for that exception? The paths don't seem to match up...

2017-06-22 14:10 GMT+02:00 NadigNikhil <notifications@github.com>:

[2017-06-22 12:26] pepijnve commented on #106
@hierynomus note that this is from an older version of smbj where the share mode could not yet be specified with `openFile`. On master you have to specify it.

@NadigNikhil a sharing violation means someone else has an open handle to the file and the specified  share mode does not allow you to open it as well. In 0.0.9, openFile always used `SMB2ShareAccess.FILE_SHARE_READ`. If someone else has th

[2017-06-22 12:39] codyswanson4 commented on #89
Ahh, beautiful.  I will implement thus using the URI class then.  Thanks
for mentioning that!

On Thu, Jun 22, 2017, 3:33 AM Jeroen van Erp <notifications@github.com>
wrote:

[2017-06-22 12:43] JhaShardendu commented on #106
@hierynomus that was a typo error ,the path is the same

Exception:
com.hierynomus.smbj.common.SMBApiException: STATUS_SHARING_VIOLATION(3221225539/3221225539): Create failed for TestFolder/TestFl1/1/1.txt

[2017-06-22 13:12] hierynomus commented on #88
@pepijnve Maybe you can verify whether _anonymous_ and _Guest_ accounts work indeed?

[2017-06-22 13:14] hierynomus commented on #80
See the discussion in #84.

Last comment by me in that thread: Unless you can come up with a very good solution for how to fix the fact that the server omits information, I would also not be inclined to add something like that.

What I can imagine is adding a quirks/compatibility mode which you could set in the config. For instance `config.setQuirksMode(SmbQuirks.Win10)`, but then what should it d

[2017-06-22 14:31] tandhy commented on #103
Hi @hierynomus , thanks for the info.
I've updated the mbassador to the latest one. it works.

[2017-06-22 14:31] #103 closed

[2017-06-23 06:10] NadigNikhil commented on #106
@pepijnve Thanks for the update, but we need to give a feature in our product where the user can overwrite an existing file. When is the next release planned with the new feature?

[2017-06-23 06:33] hierynomus commented on #106
Should not be too long. I aim for end of this month.

Op 23 jun. 2017 08:11 schreef "NadigNikhil" <notifications@github.com>:

[2017-06-23 07:04] pepijnve commented on #106
@NadigNikhil if you need a workaround today you can 'inline' the openFile function to get access to the parameters you need.

The bit that needs changing is the `EnumSet.of(FILE_SHARE_READ)` parameter value. Change that to `EnumSet.of(FILE_SHARE_READ, FILE_SHARE_WRITE, FILE_SHARE_DELETE)`.

[code]

[2017-06-23 11:24] NadigNikhil commented on #106
@hierynomus and @pepijnve, Thanks for the update.

[2017-06-23 17:50] bli-r7 opened #107 "File.read(buffer, fileOffset, offset, length) does not handle EOF status."
File.read(buffer, fileOffset, offset, length) calls share.read(fileId, offset, length) which does not handle EOF, results in a RuntimeException.

The FileInputStream handles EOF in loadBuffer()

[2017-06-26 08:59] oranoran opened #109 "Async transport with NIO"
Currently there is a PacketReader thread doing a mostly-idle read for each active connection.
This can add up to a lot of threads.

It would be nice to use asynchronous I/O and have a single thread (or a small number of threads) doing reads and writes for all connections.

As a prerequisite, need to break the current coupling of the Connection class to the underlying synchronous transport layer. C

[2017-06-26 09:02] hierynomus commented on #109
Sounds like a nice improvement indeed. Let's fix it :)

[2017-06-26 13:35] #107 closed

[2017-06-27 13:37] JhaShardendu commented on #106
@hierynomus and @pepijnve,
We tried the above approach mentioned.It seems to work out at the moment. I have one more query is it possible to append the data to an existing file?

[2017-06-27 13:47] pepijnve commented on #106
It's possible but rather cumbersome with 0.0.9. To do that you need to query the existing size of the file and then use File#write with a ByteChunkProvider with an initial file offset set to the size of the file.

On the development branch there are a bunch of additional methods on DiskShare and File to make this much more convenient.

[2017-06-27 17:04] codyswanson4 commented on #89
Just an update;
I am currently testing the changes to use the host and port parts of the URI.
Since the authentication is handled in a separate class, what would be the best way to handle that?  I could return both the Connection and Session objects from the connect method as an array, but that would not be compatible with the previous way it is done.  Any pointers would be appreciated.

Take a lo

[2017-06-27 18:57] hierynomus commented on #89
I think you should return a File/Directory object (depending on what the
URL pointed to). But I also think that the current connect method should
remain intact. Using a URL is not a replacement, but an addition.

2017-06-27 19:04 GMT+02:00 Cody Swanson <notifications@github.com>:

[2017-06-27 18:57] pepijnve commented on #89
I would go for something like this personally (quickly slapped together so pardon the clutter). This supports the common case that people will want to use this for (I think) which is connecting to a share directly without the intermediate steps.

[code]

[2017-06-27 18:59] pepijnve commented on #89
The object you want to return really depends on whether the path is given in the URI or not and if so how many components were provided.
No path -> Session
One component -> Share
Two or more -> DiskEntry, Pipe, Printer, ...

Not sure what a nice way to handle that is. A typed union kind of return value?

[2017-06-29 19:35] bli-r7 opened #112 "Non-successful response would fail signature verification."
The signature is not generated with the entire message if the response status is not STATUS_SUCCESS for at least a few message type (SMB2ReadResposne and SMB2QueryDirectoryResponse)

The packet.getMessageEndPos()'s return value in PacketSignatory#verify is off.

This issue can be reproduced by requiring signature in the SmbConfig and read from an empty file.

[2017-06-29 19:45] bli-r7 commented on #112
This is my temporary workaround, not sure if using buffer size has any unwanted side effects.

`
diff --git a/src/main/java/com/hierynomus/smbj/session/PacketSignatory.java b/src/main/java/com/hierynomus/smbj/session/PacketSignatory.java
index a3e2fc7..5bd3a4c 100644
--- a/src/main/java/com/hierynomus/smbj/session/PacketSignatory.java
+++ b/src/main/java/com/hierynomus/smbj/session/PacketSignatory

[2017-06-29 20:06] bli-r7 commented on #94
This is likely related to https://github.com/hierynomus/smbj/issues/112

[2017-07-03 09:07] #112 closed

[2017-07-03 09:07] #94 closed

[2017-07-03 11:58] hierynomus commented on #78
@LSOFT123 Any updates on what caused the fix to appear all of a sudden?

[2017-07-03 17:04] LSOFT123 commented on #78
I'm not sure to have enough skills to do so.

[2017-07-04 15:53] codyswanson4 commented on #89
What about introducing a new return object that contains any of the above objects?  It would not be backwards compatible, but it may be easier to work with.  Any thoughts?

[2017-07-04 19:35] hierynomus commented on #89
Yes, the thought is that would be a terrible api....

Question: what is the usecase for supporting urls? How would people use
them?

I think that you should implement a URLHandler. This is a Java SPI point,
which would allow you to specify new URL("smb://foo@bar
:host/share/dir/file")

Then when you call the getInputStream method on it, it would transparantly
connect using smbj and return you the

[2017-07-04 20:03] codyswanson4 commented on #89
So you're thinking this would get used more as a one time thing like getting a single file from the specified path?
I think that is probably what it would get used for, but what was your original use case, @PH0lder ?

[2017-07-05 08:29] hierynomus commented on #89
I actually don't know how useful SMB URLs will be... What I would maybe rather focus on is a Java NIO Files implementation layer so SMB can be used as a regular FileSystem.

[2017-07-05 11:40] hierynomus commented on #106
Released 0.1.0 which contains the new methods. Closing this issue.

[2017-07-05 11:40] #106 closed

[2017-07-05 11:41] hierynomus commented on #88
Released 0.1.0 which contains these fixes, closing the issue

[2017-07-05 11:41] #88 closed

[2017-07-05 11:41] hierynomus commented on #78
Released 0.1.0 which contains these fixes, closing the issue

[2017-07-05 11:41] #78 closed

[2017-07-05 11:42] hierynomus commented on #42
Released 0.1.0 which contains these fixes, closing the issue

[2017-07-05 11:42] #42 closed

[2017-07-06 18:31] bli-r7 opened #114 "SMBClient persists connection that could already be disconnected."
SMBClient getEstablishedOrConnect method does not check if the existing Connection in the connectionTable is still connected.

Assuming that the connection to the host is no longer connected, it is no longer possible to establish Connection to the same host using the same SMBClient instance. Is this working as intended?

See: https://github.com/hierynomus/smbj/blob/master/src/main/java/com/hieryno

[2017-07-06 19:41] hierynomus commented on #114
You're right, that is unintended behaviour and a bug. Will fix it!

[2017-07-07 07:25] hierynomus commented on #109
Merged #110

[2017-07-07 07:25] #109 closed

[2017-07-07 11:54] #114 closed

[2017-07-07 14:40] bli-r7 opened #117 "[Question] Expected TransportLayer#isConnected behaviour"
TransportLayer#isConnected lacks javadoc.

Currently the DirectTcpTransport implementation returns true if the underlying socket has ever been connected, which would return true even if the connected socket is now closed.

The javadoc should specify the expected behaviour in this case.

[2017-07-07 14:54] hierynomus commented on #117
You're right. It should not return true once disconnect() has been called. I'll update the JavaDoc and fix the bug.

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-07 20:09] bli-r7 commented on #102
In my opinion, there's definitely use case where we don't need to wait for a reply from Session's close request at all. For instance, in Connection#close().

[2017-07-07 21:49] mtamassia opened #119 "Production Ready?"
Thank you so much for creating this project.

Since WannaCry exploited SMBv1 functionality, many customers are disabling SMBv1 support. JCIFS only supports SMBv1 so I suspect this project will quickly become very popular.

Has this library been used/deployed in production? I read some issues that mention that you are working to make it stable so I am wondering how production ready it is and/or whe

[2017-07-07 22:01] hierynomus commented on #119
Hi @mtamassia,

Thanks for the praise. I started the project to have a better performant SMB library, as JCifs is slow when it comes to file transfers. With WannaCry and last week NotPetya having wreaked havoc, there has indeed been a huge increase in usage and contributions.

The library itself is production ready. There are still features that I'm working on, such as DFS, RPC and Printers. Howev

[2017-07-07 22:02] hierynomus commented on #117
Closing this as #118 is merged.

[2017-07-07 22:02] #117 closed

[2017-07-07 22:04] hierynomus commented on #102
Actually it is good citizenship to nicely terminate the sessions, so that the server can also clean up.
We could introduce a `Connection#close(boolean force)` to prevent waiting.

I will in any case make it so that it closes all the sessions and then waits for the completion/timeout to happen.

[2017-07-07 22:05] mtamassia commented on #119
Thank you for the quick response @hierynomus ! I will definitely consider/evaluate it.

Do you happen to have a ToDo file with items the project might need help with? I would love to contribute to it somehow if we decide to use it.

[2017-07-07 22:06] hierynomus commented on #82
@pepijnve the guys from rapid7, especially @pmiseiko-r7 have started this feat in a separate repo https://github.com/rapid7/smbj-rpc.

[2017-07-07 22:11] hierynomus commented on #119
Just take a look at the issue tracker :)
If I think of stuff that needs to be implemented (and not to be forgotten) I create issues for them.

For what are you considering to use SMBJ, can you shed some light on that. Would be good to have some success stories / names of companies using it!

[2017-07-07 22:12] hierynomus commented on #43
@zuoshui Can you try with the newly released 0.2.0 and see whether this fixes your issues?

[2017-07-07 22:14] mtamassia commented on #119
We have a custom log monitoring system that pulls files from different types of servers for parsing them. Windows/SMB is one of the targets type we have to support.

[2017-07-08 07:36] PH0lder commented on #89
I'll just leave this here without further comment:  https://commons.apache.org/proper/commons-vfs/

[2017-07-08 07:41] PH0lder commented on #89
My original use case was to implement SMB URL browsing, like how it's done in Linux.  People seem to already know how these work, for example in Fedora you can say Connect To Server then drop in a URL for FTP or SMB or whatnot, and it seems to work as expected.  And, as I posed above, it appears there is Apache Virtual File System (which I didn't know about at the time) but it (experimentally) use

[2017-07-08 10:42] pepijnve commented on #82
Thanks for the pointer @hieronymous. That project Deens to be taking a slightly different approach than I had in mind where the messages are all being hand coded. Personally I think some kind of midl based code generator approach is going to be much more useful since that allows extra RPC services to be added in a much easier/quicker way once the base layer has been developed. But it's nice to see

[2017-07-10 07:23] hierynomus commented on #89
You're right, JCifs has no support for SMBv2 or higher. I don't know how
active commons-vfs still is, but a lot of that can now be done using Java
NIO.
Also Java NIO is also based on URI's and I think contains the right
abstraction layer to implement this, without hacking into the library.

2017-07-08 9:41 GMT+02:00 PH0lder <notifications@github.com>:

[2017-07-10 12:40] codyswanson4 commented on #89
That would probably be a better approach than whatever I was doing.  Is
there already an issue open for implementing NIO?

On Mon, Jul 10, 2017, 3:23 AM Jeroen van Erp <notifications@github.com>
wrote:

[2017-07-10 12:59] hierynomus commented on #89
No such issue open yet.

[2017-07-10 14:14] bli-r7 commented on #102
I agree with the close(boolean force) approach.

[2017-07-10 20:54] hierynomus commented on #119
Great, let me know if you need any help, have questions, or if you decide against using SMBJ. Would be interested to know.

Good luck!

[2017-07-10 20:54] #119 closed

[2017-07-11 05:37] oranoran commented on #102
I think the question of whether or not to wait can be decoupled from the question whether to use a very clean&careful close sequence or just close the connection.

There can be a very careful and elaborate close sequence, but it can be done asynchronously the the user's call to close the connection would return immediately.

[2017-07-12 13:25] bli-r7 opened #121 "Futures#get not wrapping all exceptions in wrapper."
Session#logoff throws SMBRuntimeException if the Promise for SMB2Logoff times out because the TimeoutException was wrapped in SMBRuntimeException and doesn't get wrapped in the TransportException.wrapper.

Reproducible with the following snippet. The session logoff was called when the socket time out occurs from Connection#handleError.

[code]

[code]

[2017-07-12 14:41] bli-r7 opened #122 "SMB2Echo#readMessage is a no-op, causing packet signature verification to fail."
SMB2Echo#readMessage is a no-op which causes the length of the message to be calculated incorrectly, resulting in incorrect signature.

[2017-07-12 15:45] #122 closed

[2017-07-14 03:24] mtamassia opened #124 "Not handling deletion of locked files"
Using the latest release, when deleting a file that is in-use/locked via share the following exception is thrown and the session logs off.

[code]

**Here is the code.** Works fine until it hit a file that is in-use/locked.
[code]

[2017-07-14 12:31] hierynomus commented on #124
*Theory:* I think that the NtStatus code being returned is not correctly identified as an error, hence it reads the body of the packet normally instead of as an error body

Will try to reproduce this next week and fix it.

[2017-07-17 17:41] DigitalPigeon opened #128 "java.lang.NoSuchMethodError immediately after Connection.close()"
For me, this simple code

[code]

throws the following exception after the close (it should be noted I can create sessions and authenticate just fine with the connection - but I always get the exception immediately following the connection close. This is the simplest form of the code that throws the exception.

[code]

Using mbassador-1.2.4.2 and smbj-0.2.0

Thanks in advance for any help you can

[2017-07-17 17:49] hierynomus commented on #128
Hi, can you check whether you use the same mbassador version as that smbj
0.2.0 is compiled against?

Op 17 jul. 2017 7:41 p.m. schreef "Chris Friedel" <notifications@github.com

[2017-07-17 17:58] DigitalPigeon commented on #128
Wow hierynomus, you are too fast!! :)

Sorry, I was looking at the wrong version of smbj on maven - and so I grabbed the wrong mbassador. Moving to mbassafor 1.3 works (this is actually a dupe of item #103 it turns out).

Sorry for the mistake

Chris

[2017-07-17 17:58] #128 closed

[2017-07-17 19:30] DigitalPigeon opened #129 "Question about accessing files in sub folders of shares"
Hello All
SMBJ is working great for us, except we aren't clear how to access files that are in sub directories of shares.
I've been searching the test cases and code for a couple of hours, but don't see any hints on the correct way to deal with this.

In the case of **\\host\share\file.txt** the following works great
[code]

However, in the case of  **\\host\share\dir1\dir2\dirx\file.txt** we can

[2017-07-17 20:46] hierynomus commented on #129
Hi @DigitalPigeon,

I've just added an integration test case that passes on my VM. Have a look whether this answers your question.
Testcase -> https://github.com/hierynomus/smbj/blob/master/src/it/groovy/com/hierynomus/smbj/SMB2FileIntegrationTest.groovy#L96

[2017-07-17 20:51] hierynomus commented on #124
@mtamassia Which version of SMBJ are you using?

[2017-07-17 20:55] DigitalPigeon commented on #129
Thank you for the test case hierynomus.
Not sure what on earth I was doing wrong before, but redid everything from scratch as per your example, and everything works great now.
Thank you again - amazing work!

[2017-07-17 20:55] #129 closed

[2017-07-17 21:34] hierynomus commented on #124
Ok, I found what is causing this. The server is sending an `SMB2CreateResponse` with `NtStatus.STATUS_PENDING`. Which is an asynchronous response. However the library indicates that no async responses should be sent. I need to add some extra checks ;)

[2017-07-17 21:36] hierynomus commented on #43
@zuoshui Any update? Else I'll close this issue.

[2017-07-17 22:49] mtamassia commented on #124
@hierynomus I was using the 0.2.0 version. Thank you so much for looking into it.

[2017-07-18 04:09] #124 closed

[2017-07-18 06:50] hierynomus commented on #45
@kprateek777 Is there anything left in this issue?

[2017-07-18 17:00] kprateek777 commented on #45
No Sir! Thank you very much for creating this.

On 18-Jul-2017 12:20 PM, "Jeroen van Erp" <notifications@github.com> wrote:

[2017-07-18 18:28] #45 closed

[2017-07-19 17:21] NinjaChris16 commented on #35
@hierynomus I am currently working on some usage examples in Groovy and I was wondering if you preferred them in Java over Groovy or what your preference was in general?

[2017-07-19 21:48] tliebeck opened #131 "Question: Listing available DiskShares?"
I'm migrating a product from Samba JCIFS, where a listing of available SMB shares is available by connecting without specifying a path.  Is there a similar capability in SMBJ?

I've tried various "generic" arguments to session.connectShare(), e.g., null, "", "\\", but to not avail.

And while I'm here, thank you got your excellent work on this project!  It's available just in time.

[2017-07-20 07:25] pepijnve commented on #131
Listing shares is done through the [srvsvc](https://msdn.microsoft.com/en-us/library/cc247080.aspx?f=255&MSPPError=-2147217396) RPC interface. Support for MS-RPC over SMB hasn't been implemented yet. See #82.

[2017-07-20 09:45] tliebeck commented on #131
Thanks for pointing me toward #82  @pepijnve.  I just tried out the smbj-rpc extension but regrettably I'm not able to get past an access denied error, at least against the Win7 test box that's otherwise working perfectly with SMBJ.  Looks like exactly what's needed though.

[2017-07-24 11:16] napalmvin commented on #47
Biiiig thank you @pepijnve & @hierynomus, for answer and for this amazing project hope we will have support of this functionality in future.

[2017-07-24 14:29] bli-r7 commented on #102
@hierynomus How is the timed out session currently cleaned up from the session table? The Connection#sessionLogOff seems to be unused.

[2017-07-24 15:27] hierynomus commented on #102
It is handled by the eventbus.

Op 24 jul. 2017 4:29 p.m. schreef "bli-r7" <notifications@github.com>:

@hierynomus <https://github.com/hierynomus> How is the timed out session
currently cleaned up from the session table? The Connection#sessionLogOff
seems to be unused.

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/hieryn

[2017-07-25 02:26] mtamassia commented on #35
@NinjaChris16 I sent a small PR for the examples currently on the README and they are in Java. I guess you could also have Groovy examples but @hierynomus has to decide if he wants them...

[2017-07-25 07:13] Varsha-Nagarajan opened #132 "Is there anyone working on supporting "skip" or "seek" on the stream?"
The idea behind this would be to allow file copy to resume from a point where we left it rather than doing the entire thing all over again (something similar to checkpoints). Jcifs has a "skip" implementation for its stream but could not find the same for smbj . Are there any plans to support this use case or is there some existing way to do this (which I might have overlooked) ?

[2017-07-25 08:54] hierynomus commented on #35
Either Java or Groovy works. I'm still thinking about what would be the best approach. I've rewritten one of the integration tests to be more clear. Maybe if we add more integration tests usage is clearer. Those would be in Groovy.

Or like in sshj we add a directory with copy-paste examples. I would prefer those to be in Java.

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.co

[2017-07-25 08:55] hierynomus commented on #132
Currently the library already supports reading and writing from an offset. Which is I think what you are looking for?

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-25 08:56] hierynomus commented on #131
I think we should add some basic rpc calls to the library, but make it so that it is extensible enough to use custom rpcs.

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-25 09:58] Varsha-Nagarajan commented on #132
Actually, the implementation is done is such a way that I would be requiring a stream with pointer advanced to the location of the offset. So that the subsequent reads on the stream would start from that point onward. Earlier we have been depending on jcifs library which advances a pointer (count variable) based on the offset. Subsequent reads on that stream, continue from where the pointer now po

[2017-07-25 16:48] bli-r7 commented on #132
@Varsha-Nagarajan
You should be able to write a simple wrapper that keeps the file pointer that gets used when calling the underlying File#read with the offset and the number of bytes read was added to the file pointer.

[2017-07-27 19:33] bli-r7 commented on #121
@hierynomus I'm wondering what's your take on this. Currently this issue is preventing connection from cleaning up the socket due to the RuntimeException that was thrown.

It never reaches transport.disconnect() in Connection#close()

[2017-07-27 20:02] mtamassia opened #134 "Milestones & Release Schedule"
Please let me know if we have a milestone / release schedule. I see some bugs were fixed in the past few weeks but we have not released a new version so I am wondering what the process is.

[2017-07-27 22:02] hierynomus commented on #121
I will tackle this soon, but that will be in roughly 1.5 weeks unless I
have some time sooner

Op 27 jul. 2017 9:33 p.m. schreef "bli-r7" <notifications@github.com>:

@hierynomus <https://github.com/hierynomus> I'm wondering what's your take
on this. Currently this issue is preventing connection from cleaning up the
socket due to the RuntimeException that was thrown.

It never reaches transport.di

[2017-07-27 22:03] hierynomus commented on #134
The process is that I try to fix as much as possible before releasing,
unless there is some urgent bug that somebody needs fixed :)

Op 27 jul. 2017 10:02 p.m. schreef "mtamassia" <notifications@github.com>:

[2017-07-27 22:04] mtamassia commented on #134
You are good man. I am looking forward to the fix for the files in use :)

[2017-07-28 11:34] mice777 opened #135 "SymbolicLinkError.readOffsettedString - underflow exception"
Should not this:
`s = buffer.readString(StandardCharsets.UTF_16, length);`

be rather
`s = buffer.readString(StandardCharsets.UTF_16, length / 2);`

Each time when `buffer.readString` is used with UTF16 variant, length is halved, except of this line. And I get underflow exception here.

[2017-07-28 13:38] hierynomus commented on #135
Thanks for catching that.

Op 28 jul. 2017 1:34 p.m. schreef "mice777" <notifications@github.com>:

[2017-07-28 17:00] bli-r7 commented on #121
@hierynomus
Regarding the exception wrapping, was it intentional that we only wrap the execution exception and time out exceptions? If that's the case I can put up a small PR to get the root cause from the SMBRuntimeException to see if it's one of those.

However I don't really understand why we prefer throwing runtime exception rather than explicitly declared exceptions on the method signature.

[2017-07-31 08:57] mice777 opened #136 "SymbolicLinkError.read() bug"
In SymbolicLinkError.read, you forget to read field `ReparseDataLength` as written in specification, resulting in nonsense rest of data.

[2017-07-31 16:08] SuperPat45 opened #137 "Is it possible to detect quickly if the server does not support SMBv2/v3?"
Hi,

I need to add support for SMB v2/3 shares and keeping compatibility of SMBv1 shares (through jcifs).
I have my own API based on URL scheme like smb://domain;user:password@host/share

If I try to connect to a SMB v1 only share  (on a Windows Server 2003), smbj throw after one minute:

I don't know if it is possible to detect quickly if the server does not support SMBv2/v3 to falling back to jc

[2017-07-31 16:56] pepijnve commented on #137
This is possible within the SMB protocol, but smbj currently doesn't support this yet. To do this smbj would have to send a CIFS (SMB 1.0) style negotiate message to the server. At the moment it sends the SMB 2 only negotiate message. Sections 4.1 and 4.2 provide some examples of this.

[2017-08-01 15:03] SuperPat45 opened #138 "Remove the mbassador library log message: "No error handler has been configured to handle exceptions during publication.""
Hi,

The mbassador library add this log this message (since version 1.1.7) each time a new SMBClient is instanciated:

I found this message can be easily removed by changing the SMBEventBus constructor:
[code]
by:
[code]

[2017-08-01 16:36] bli-r7 opened #139 "[Question] Is Session thread-safe?"
Based on how Connection#send synchronize on the lock I think it should be but I would like to double check.

[2017-08-01 17:47] hierynomus commented on #139
Yes, session is cached and thread safe.

Op 1 aug. 2017 6:36 p.m. schreef "bli-r7" <notifications@github.com>:

[2017-08-01 18:18] bli-r7 commented on #139
Thanks.

[2017-08-01 18:18] #139 closed

[2017-08-02 20:22] jpaintern opened #141 "Status Sharing Violation"
Hello,

I am brand new to github and currently working an internship.

I'm trying to use smbj in the project to connect to a folder on a remote server and copy all the txt files to the local machine .

Here is my code:

`Security.addProvider(new BouncyCastleProvider());
		SMBClient smb = new SMBClient();
		Connection con = smb.connect("ServerName");
		Session ses = con.authenticate(new Authenticat

[2017-08-02 20:40] mtamassia commented on #141
@jpaintern I use smbj for a similar use-case without issues. Please make sure you are using the latest release.

Also, here is portion of the code I am using, in case you want to try it.

[code]

[2017-08-02 20:44] jpaintern commented on #141
How do I make sure I'm using the latest release? I installed it using the Maven link on the front page. I'm new to Maven too. Thanks for your help though I will try it!

[2017-08-02 22:54] jpaintern commented on #141
Aww got it! Referenced this file https://github.com/hierynomus/smbj/blob/master/src/it/groovy/com/hierynomus/smbj/SMB2FileIntegrationTest.groovy

Thanks!

[2017-08-02 22:54] #141 closed

[2017-08-02 23:37] tliebeck commented on #132
I ran into this same issue and added this implementation of skip() to FileInputStream.
Please bear in mind this is not 100% tested, may be flawed, and I'm not a developer on this project.

    @Override
    public long skip(long n) throws IOException {
        if (buf == null) {
            offset += n;
        } else if (curr + n < buf.length) {
            curr += n;
        } else {

[2017-08-03 10:34] gidravlic opened #142 "Print question"
Hello! In the old version of the library(0.9) i could print through method:
[code]
With latest version of the library, this code don't work.
How to print to printer right now?
Thanks!

[2017-08-03 19:09] bli-r7 opened #145 "Connection#connect does not disconnect if connection fails"
I hit an issue where connection was established but write to socket failed and threw an IOException.

The connection doesn't get closed so the socket is being held unnecessarily for some time which may cause issues depending on the environment.

[2017-08-03 19:09] bli-r7 commented on #145
See PR https://github.com/hierynomus/smbj/pull/144

[2017-08-04 19:12] mtamassia commented on #138
@SuperPat45 I submitted a Pull Request #146 with the changes you have above. Thank you.

[2017-08-05 10:36] SuperPat45 commented on #138
Thanks

[2017-08-06 01:54] mtamassia commented on #136
Thank you @mice777 per https://msdn.microsoft.com/en-us/library/cc246542.aspx it looks like you are correct, the current code skips 4 bytes for `SymLinkErrorTag`, then 4 bytes for `ReparseTag` and then the 2 bytes for UnparsedPathLength. I can submit a PR with the missing piece but I need your help to replicate the issue. What is the easiest way for me to replicate the issue so I can test the code

[2017-08-06 08:32] tliebeck opened #148 "Unchecked exceptions"
I'd like to make the suggestion that unchecked exception use be eliminated within this project.  My current strategy has been to wrap every call that interfaces with this library in a RuntimeException-catching try block, but this is far from an ideal solution.

I'm also seeing cases where RuntimeExceptions can be thrown in unexpected places, such as the FileInputStream.read() implementation.  I'm

[2017-08-06 08:47] mice777 commented on #136
I have Windows7 and it shows "Users" share, inside this are some symbolic links for example "All users" or "Default User". Opening these folders (e.g. for listing) returns error with instantiation of SymbolicLinkError.

[2017-08-06 14:29] #136 closed

[2017-08-07 08:33] #138 closed

[2017-08-07 08:35] hierynomus commented on #148
Agreed, I will revisit the exception handling soon.

[2017-08-07 09:03] #145 closed

[2017-08-08 13:56] #137 closed

[2017-08-08 14:36] #135 closed

[2017-08-08 18:26] bli-r7 commented on #121
I'm closing this issue since the disconnect are now called in the finally block and that #148 encompasses this.

[2017-08-08 18:26] #121 closed

[2017-08-09 06:27] debarghya85 opened #151 "Not connecting to Microsoft azure (SMB3)"
Can I connect Microsoft azure file share storage through Normal SMB3 connection of this package?. I have developed code to connect fileshare in Windows Server2012 via SMB3. But while connecting in azure its not working though Azure supports SMB3.
com.hierynomus.smbj.common.SMBApiException: STATUS_ACCESS_DENIED(3221225506/3221225506): Authentication failed for XXX using com.hierynomus.smbj.auth.Ntl

[2017-08-09 06:31] hierynomus commented on #151
What is the error you're getting? Please add some logs on debug or trace
level

Op 9 aug. 2017 8:27 a.m. schreef "debarghya85" <notifications@github.com>:

[2017-08-09 06:44] debarghya85 commented on #151
My code:
------------

String filename = "xyz"+ java.io.File.separator+"abc.txt";
// connection params
String sambaDomain 		= null; // can be null
String sambaUsername 	= "My User Name";
String sambaPass 		= "My Access Key";
String sambaIP 			= "My End Point IP";
String sambaSharedPath 	= "My Shared";
try {

	SmbConfig cfg 		= SmbConfig.builder().build();
	SMBClient client 	= new SMBClient(cfg);

[2017-08-09 07:21] hierynomus commented on #151
It seems that the credentials are not correct?

[2017-08-09 09:27] debarghya85 commented on #151
But with same AccountName and AccountKey with Microsoft Library Its working. I am confused Why its not working with SMBJ library as it also supports SMB3.

[2017-08-09 11:16] #132 closed

[2017-08-09 11:17] hierynomus commented on #132
@tliebeck Fixed it, you were right there was a slight flaw in it, which was exposed using some added tests.

[2017-08-09 11:20] hierynomus commented on #151
Can you try using the SPNego authenticator?

ie. Construct the SmbConfig as follows: `SmbConfig.builder().withAuthenticators(new SpnegoAuthenticator.Factory()).build()`.

Also, which version of SMBJ are you using?

[2017-08-09 11:37] hierynomus commented on #151
SMB2.02 and SMB2.1 support are done, SMB3.x support is in the works. If
Azure only supports SMB3, then it would have failed earlier (ie. during
protocol negotiation).

2017-08-09 11:27 GMT+02:00 debarghya85 <notifications@github.com>:

[2017-08-09 12:33] debarghya85 commented on #151
I am using SMBJ 0.2.0

[2017-08-09 13:00] hierynomus commented on #151
Can you post the entire trace log of a connection attempt?

2017-08-09 14:33 GMT+02:00 debarghya85 <notifications@github.com>:

[2017-08-09 13:28] hierynomus commented on #151
As I said you should give SPNEGO a try, what I forgot to say is that you need to pass a different AuthenticationContext to SMBJ, ie. `GSSAuthenticationContext`.

Maybe that works?

[2017-08-09 15:23] tony-ts opened #152 "Exception: STATUS_PATH_NOT_COVERED"
Hello.
I have share named "DFS" with folder "Resources". Folder Resources contains shortcut for folder "SomeFolder".
When i'm trying to access

[code]

i got exception

In properties of folder "SomeFolder", DFS tab have link on another server  "\\SomeServer\\DFSData\\Resouces\\SomeFolder"

I found in documentation

To identify the DFS link targets that contain the required portion of the DFS names

[2017-08-10 05:52] debarghya85 commented on #151
This is the debug and info log while auth (Normal auth, Till now not tested with Spengo)

com.hierynomus.protocol.commons.socket.ProxySocketFactory - Connecting to "My Azure Share Endpoint"/IP:445
com.hierynomus.smbj.transport.PacketReader - Starting PacketReader on thread: Packet Reader for "My Azure Share Endpoint"
com.hierynomus.smbj.connection.Connection - Negotiating dialects [SMB_2_0_2, SMB_

[2017-08-10 08:17] hierynomus commented on #152
Hi @tony-ts,

DFS support is upcoming, but not merged yet. Hope to work on this tomorrow actually. So currently this error would be expected when you connect to a DFS share.

[2017-08-10 11:15] hierynomus commented on #151
What authentication does your MS library use, I think that the problem here is that NTLM authentication is either not enabled, or allowed. The protocol negotiation is OK, and SMB2.1 has been negotiated. This really is in the authentication layer.

[2017-08-10 13:05] debarghya85 commented on #151
which NTLM version SMBJ used?

[2017-08-10 13:11] hierynomus commented on #151
NTLMv2 is implemented in the NTLMAuthenticator.

[2017-08-10 15:26] bli-r7 commented on #134
@hierynomus Can we cut a new release on the current master as we have made a number of improvements recently?

[2017-08-10 17:05] hierynomus commented on #134
I'll be working on dfs support tomorrow. If I can get that done, I'll
release with it end of day. Else I will make a release on Monday. Do you
want the pipe buffer overflow in there?

Op 10 aug. 2017 5:26 p.m. schreef "bli-r7" <notifications@github.com>:

[2017-08-11 09:07] debarghya85 commented on #151
I want to know , is SMBJ supports Microsoft Azure Cloud FileShare(Both Authentication and Fileshare)?

I have checked Microsoft Library for azure storage file share. In that they are using like following code
public static final String storageConnectionString ="DefaultEndpointsProtocol=http;AccountName=your_account_name;AccountKey=your_account_key";

CloudStorageAccount account = CloudStorageAccou

[2017-08-11 09:19] pepijnve commented on #151
[This troubleshooting guide from Microsoft](https://docs.microsoft.com/en-us/azure/storage/storage-troubleshoot-windows-file-connection-problems#cause-3-ntlmv1-is-enabled) seems to indicate NTLMv2 is supported.

@debarghya85 as far as I know SMBJ doesn't have any specific code or support for Azure Files. It implements an SMB 2.0+ client library and should in theory be able to communicate with any

[2017-08-11 09:38] hierynomus commented on #151
Can you try to capture a network trace (pcap file) from a connection to
Azure using the MS library?

2017-08-11 11:19 GMT+02:00 Pepijn Van Eeckhoudt <notifications@github.com>:

[2017-08-11 09:40] pepijnve commented on #151
and [the note in this Microsoft tutorial](https://docs.microsoft.com/en-us/azure/storage/storage-dotnet-how-to-use-files) make me think the .net library is actually using the HTTP REST interface; not SMB.

[2017-08-11 09:52] hierynomus commented on #151
I think you're right @pepijnve. But the note also specifies it is possible to access through SMB, just no link how it does that.

[2017-08-11 09:54] pepijnve commented on #151
The [Windows](https://docs.microsoft.com/en-us/azure/storage/storage-file-how-to-use-files-windows), [Linux](https://docs.microsoft.com/en-us/azure/storage/storage-how-to-use-files-linux) and [Mac](https://docs.microsoft.com/en-us/azure/storage/storage-file-how-to-use-files-mac) pages describe that.

[2017-08-11 10:00] debarghya85 commented on #151
@pepijnve Map network drive also tested. Its also not supporting through SMBJ. drive is not recognized by SMBJ.

[2017-08-11 11:45] hierynomus commented on #151
Judging from the note it is this restriction that is blocking it:

    In order to mount an Azure File share outside of the Azure region it is hosted in, such as on-premises or in a different Azure region, the OS must support the encryption functionality of SMB 3.0.

And currently encryption has not been implemented yet, only signing (and signature verification)

[2017-08-11 12:03] john-latham commented on #151
I have the same issue with a requirement for SMB3 encryption. Actually, requiring encryption seems to be the recommended way to enforce SMB3-only access to a network resource.

On Windows 2012 R2 server the powershell commands to set this up are:

Set-SmbServerConfiguration -EnableSMB1Protocol $false
Set-SmbServerConfiguration -EnableSMB2Protocol $true﻿
Set-SmbServerConfiguration –EncryptData $tru

[2017-08-11 12:42] hierynomus commented on #151
@john-latham Thanks for the offer. Currently I'm trying to fix DFS support (which is a nasty beast ;)).  After that it would be a good addition to add encryption. But in the meantime feel free to start a PR! Any help is welcome.

[2017-08-11 13:12] debarghya85 commented on #151
Thanks for all the communication.I will surely looking forward with the enhancement.

[2017-08-11 14:12] hierynomus commented on #152
@tony-ts Can you try with the latest master? :)

Don't forget to set the `SmbConfig.withDfsEnabled(true)`. As I've disabled this by default for now, until we get some more practical experience with it.

[2017-08-11 14:13] hierynomus commented on #8
@sbellan @gidravlic @ckherrmann #46 has been merged. By default DFS is disabled currently but it can be turned on with the `SmbConfig.withDfsEnabled(true)` configuration setting.

[2017-08-11 14:13] #8 closed

[2017-08-11 18:34] tony-ts commented on #152
@hierynomus Connect / open file works good. But i received exceptions (access denied) when tried  to mkfile/ mkdir / rmfile / rmdir  (i have rights for it).

21:08:38.191 [main] DEBUG com.hierynomus.smbj.transport.tcp.direct.DirectTcpTransport - Writing packet SMB2_CREATE with message id << 159 >>
21:08:38.192 [main] DEBUG com.hierynomus.protocol.commons.concurrent.Promise - Awaiting << 159 >>
21:

[2017-08-14 13:57] bli-r7 commented on #134
@hierynomus Yes it would be great to have pipe buffer overflow in there too. Thank you very much.

[2017-08-15 11:31] tony-ts commented on #152
@hierynomus When mkfile/ mkdir / rmfile / rmdir is called, dfs is not used.
Also rename after openFile with resolved dfs.

[2017-08-15 18:18] NinjaChris16 commented on #148
@hierynomus What is your current progress on this issue? I was going to take a stab at it but don't want to duplicate any efforts you have already made.

[2017-08-15 18:48] bli-r7 opened #156 "NegotiatedProtocol does not contain security mode."
There's a number of information provided in the SMB2NegotiateResponse that we could put into NegotiatedProtocol.

For instance, the security mode.

[2017-08-15 19:02] bli-r7 commented on #156
Apparently the SMB2 security mode is not the same as legacy and what SMB2 has is just the signature requirement checks.
Closing this since that's already in negotiated protocol

[2017-08-15 19:02] #156 closed

[2017-08-16 11:51] hierynomus commented on #148
I've made a start with it.
The current idea:

- `Buffer.BufferException extends RuntimeException`, as that should not be thrown unless we get malformed/malicious packets
- `SMBRuntimeException -> SMBException` and no longer a `RuntimeException`
- `SMBApiException extends SMBException`
- async threads catch all exceptions and propagate them nicely (for instance the `AsyncPacketReader`

[2017-08-16 12:53] gidravlic opened #158 "EE7 Environment"
Hello!
Any body use smbj in subject? I found in sources that smbj use AsynchronousChannelGroup, ExecutorService, Thread.

By EJB specification:

[2017-08-17 07:48] mice777 opened #160 "ClassCastException in NtlmAuthenticator.java"
Following code has problem:

[code]

The `msvAvFlags` is actually stored as Long in `NtlmChallenge.readTargetInfo`, so if it is set, you get guaranteed ClassCastException "java.lang.Long cannot be cast to java.lang.Integer"

Safe fix:
`if((msvAvFlags instanceof Long) && ((long)msvAvFlags&2)>0){`

[2017-08-17 14:06] bli-r7 opened #161 "Negotiate Protocol Response STATUS_NOT_SUPPORTED is not handled gracefully"
Currently, if Negotiate Protocol Response has status STATUS_NOT_SUPPORTED, which means there is no common dialect between client and server, the dialect in SMB2Header would be null and throws NullPointerException when authenticating the session.

The status needs to be handled gracefully so meaningful exception message can be conveyed to the user early instead of throwing NPE at the next request.

[2017-08-18 04:32] mtamassia commented on #160
Thank you @mice777
I submitted the PR #162 with the fix

[2017-08-18 13:11] #161 closed

[2017-08-18 13:31] hierynomus commented on #43
Closing due to inactivity...

[2017-08-18 13:31] #43 closed

[2017-08-18 14:12] gidravlic opened #163 "DiskShare.list(path, pattern)"
Hello!
When i call method with non exist file pattern/mask i'm catch exception:
[code]
Maybe better to return an empty list?
[code]
Thanks!

[2017-08-18 17:29] mtamassia commented on #163
@hierynomus I can submit a PR for this if you agree with the approach above (empty list) vs. throwing an exception.

[2017-08-18 17:32] hierynomus commented on #163
The empty list is only warranted for the status_no_such_file (ie. The
status number you posted.) any other ntstatus code should result in an
exception.

Op 18 aug. 2017 7:29 p.m. schreef "mtamassia" <notifications@github.com>:

[2017-08-18 18:34] mtamassia commented on #163
@hierynomus I think the best approach here might be to change the `Set<NtStatus> successResponses` passed in for the Query directory from `SUCCESS_OR_NO_MORE_FILES` to a new `EnumSet<NtStatus> SUCCESS_OR_NO_MORE_FILES_OR_NO_SUCH_FILE`. This will prevent the exception from being thrown in all query directory calls if the file doesn't exist.

Please let me know if you agree and I will work on it.

[2017-08-18 18:37] hierynomus commented on #163
Makes sense!

Op 18 aug. 2017 8:35 p.m. schreef "mtamassia" <notifications@github.com>:

[2017-08-18 21:30] bli-r7 opened #164 "[Question] Can we cut a new release?"
Can we cut a new release on the current master?
We would like to start using the latest build as it contains a number of improvements.

I understand https://github.com/hierynomus/smbj/pull/155 is still in progress so we'll leave that alone for now.

If @hierynomus prefers this kind of request goes through an email instead of opening issues please let me know.

[2017-08-18 21:38] gidravlic commented on #163
Why did I write about this? I'm trying to write a new project using new java 8-9 language features. And if I use lambda, I get a problem with exceptions. Maybe I do not know how to cook them(lambda) :) ?

[2017-08-18 21:46] mtamassia commented on #163
@gidravlic I think what you are bringing up is totally reasonable. I am working on it.

[2017-08-18 22:23] mtamassia commented on #163
See Pull Request #165

[2017-08-18 22:32] hierynomus commented on #164
I don't mind the issue. Keeps the discussion nice and transparent :). I'll fix some things over the weekend i hope and will make the release start of next week. Agreed?

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-18 22:50] bli-r7 commented on #164
@hierynomus Sounds good. Thank you.

[2017-08-19 11:02] gidravlic commented on #163
Nice! And I find some miscommunication with checking (., ..) file names (isFile - isDirectory). I will open issue at beginning next weekday. Thanks all!

[2017-08-22 15:00] bli-r7 commented on #164
@hierynomus Any news on cutting a new release?

[2017-08-22 18:06] hierynomus commented on #164
Done! v0.3.0 has been released just now!

[2017-08-22 18:06] #164 closed

[2017-08-22 18:06] hierynomus commented on #134
v0.3.0 has been released. Buffer overflow is still in progress.

[2017-08-22 18:06] #134 closed

[2017-08-23 22:20] sshklianko opened #166 "Simply read File"
Hi, @hierynomus .
Is there a possibility in your lib to read/download a file without affecting its attributes? Each call to DiskShare.openFile/getEntry results in file's change/write time attributes being set to current time

Thanks.

[2017-08-24 04:59] hierynomus commented on #166
Can you send a code sample of how you're calling the API's? And a full trace log

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-24 05:57] ramreddy77 opened #167 "Unable to connect."
Connection connection = client.connect("10.0.2.179");
Unable to connect to the ip address. Can you please help me.

INFO  2017-08-24 11:18:04,001 [Packet Reader for 10.0.2.179] com.hierynomus.smbj.transport.PacketReader: PacketReader error.
INFO  2017-08-24 11:18:04,001 [Packet Reader for 10.0.2.179] com.hierynomus.smbj.connection.Connection: Closed connection to 10.0.2.179

[2017-08-24 05:58] ramreddy77 opened #168 "Unable to connect"
Connection connection = client.connect("10.0.2.179");
Unable to connect to the ip address. Can you please help me.

INFO  2017-08-24 11:18:04,001 [Packet Reader for 10.0.2.179] com.hierynomus.smbj.transport.PacketReader: PacketReader error.
INFO  2017-08-24 11:18:04,001 [Packet Reader for 10.0.2.179] com.hierynomus.smbj.connection.Connection: Closed connection to 10.0.2.179

[2017-08-24 06:16] hierynomus commented on #168
Are you sure the default port is open? Can you add trace level logging and the stacktrace? Which type of host are you connecting to?

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-24 06:16] #167 closed

[2017-08-24 06:17] hierynomus commented on #167
Duplicate of #168

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-24 06:25] ramreddy77 commented on #168
Please find the stacktrace.

INFO  2017-08-24 11:52:13,079 [[abc].HTTP_Listener_Configuration1.worker.01] com.hierynomus.smbj.connection.Connection: Closed connection to smb://10.0.2.179
java.net.UnknownHostException: smb://10.0.2.179
	at java.net.AbstractPlainSocketImpl.connect(AbstractPlainSocketImpl.java:184)
	at java.net.PlainSocketImpl.connect(PlainSocketImpl.java:172)
	at java.net.Socket.con

[2017-08-24 06:36] hierynomus commented on #168
Try to connect to the host without the smb:// prefix

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-24 06:42] ramreddy77 commented on #168
Tried. But no luck.

INFO  2017-08-24 12:09:07,590 [Packet Reader for 10.0.2.179] com.hierynomus.smbj.transport.PacketReader: PacketReader error.
INFO  2017-08-24 12:09:07,590 [Packet Reader for 10.0.2.179] com.hierynomus.smbj.connection.Connection: Closed connection to 10.0.2.179
INFO  2017-08-24 12:09:16,977 [[abc].HTTP_Listener_Configuration1.worker.01] com.hierynomus.smbj.connection.Connection

[2017-08-24 07:57] sshklianko commented on #166
This is how I get the file

[code]

[code]

and then I print file info:
[code]

Stack trace is pretty short:
2017-08-24 10:43:30 INFO  Connection:108 - Successfully connected to: xxxxxxx
2017-08-24 10:43:31 INFO  Connection:173 - Successfully authenticated aaa on xxxxxxx, session is 48514675507212
2017-08-24 10:43:31 INFO  Session:105 - Connecting to \\xxxxxx\SamplingTests on session 4851467550721

[2017-08-24 08:35] ramreddy77 commented on #168
Please suggest me.

[2017-08-24 08:45] hierynomus commented on #168
Can you give me some more context?

- What kind of host are you connecting to (OS, version, in case of Linux: Samba version)?
- What is the full code you're using?
- Have you tried using the following config: `SmbConfig.builder().withMultiProtocolNegotiate(true).build()`

[2017-08-24 08:47] hierynomus commented on #168
The fact is that now you get an EOFException. This means that it could find/connect to the host, but the server side closes the connection when we try to read a packet. One of the options could be that the server does not support SMBv2/3, but that could easily be determined by the multi protocol negotiate

[2017-08-24 09:09] ramreddy77 commented on #168
I am getting something like this."SMBv1 is not supported by SMBJ"

com.hierynomus.protocol.transport.TransportException: java.util.concurrent.ExecutionException: com.hierynomus.smbj.common.SMBRuntimeException: com.hierynomus.mssmb.SMB1NotSupportedException: SMBv1 is not supported by SMBJ
	at com.hierynomus.protocol.transport.TransportException$1.wrap(TransportException.java:29)
	at com.hierynomus.

[2017-08-24 09:16] hierynomus commented on #168
OK, that means your server is only accepting SMBv1 connections. SMBJ is a SMBv2+ library. SMBv1 is highly deprecated and should be disabled (see the WannaCry outbreaks recently).

If you really want to use SMBv1 you can use the jcifs library which only supports SMBv1 connections.

[2017-08-24 11:49] hierynomus commented on #168
@ramreddy77 can I close this issue?

[2017-08-24 11:51] hierynomus commented on #166
Can you up the log level to `trace` so we can see which packets traverse the line?

[2017-08-24 12:19] mtamassia commented on #160
@hierynomus please take a look at the PR #162 when you have a chance.

[2017-08-24 12:21] cliviu opened #169 "STATUS_OBJECT_NAME_INVALID"
Hi, I have the following exception `Caused by: com.hierynomus.mssmb2.SMBApiException: STATUS_OBJECT_NAME_INVALID(3221225523/3221225523): Create failed for parentdir/xx
	at com.hierynomus.smbj.share.Share.receive(Share.java:335)
	at com.hierynomus.smbj.share.Share.sendReceive(Share.java:319)
	at com.hierynomus.smbj.share.Share.createFile(Share.java:134)
	at com.hierynomus.smbj.share.DiskShare.open(

[2017-08-24 12:22] cliviu commented on #169
the "xxx" file does not exist yet.

[2017-08-24 12:26] cliviu commented on #169
Sorry, the problem was the file separator. it must have been  "parentdir\\xx"

[2017-08-24 12:26] #169 closed

[2017-08-24 12:32] cliviu opened #170 "File separator"
Hi,
  Does anybody know how to get the file separator of the remote file system ?

  Thanks.

[2017-08-24 12:37] hierynomus commented on #170
Good question. Which OS are you connecting to? I'm guessing not Windows :)

[2017-08-24 12:40] cliviu commented on #170
actually I must support Windows/Linux. because I do not have yet a linux SMBv2 I'm testing with a Windows share :-( . But basically I must be able to connect to both of them

[2017-08-24 12:43] cliviu commented on #170
The problem is how can I get the "directory" part of a path. the JCIFS API has a SmbFile.getParent() method that I have to replace somehow (or you know an equivalent of it in smbj ). Thanks !

[2017-08-24 12:52] sshklianko commented on #166
There you go:

2017-08-24 15:45:25 DEBUG ProxySocketFactory:86 - Connecting to /
2017-08-24 15:45:25 DEBUG PacketReader:83 - Starting PacketReader on thread: Packet Reader for xx.x.x.xx
2017-08-24 15:45:25 DEBUG Connection:270 - Negotiating dialects [SMB_2_0_2, SMB_2_1] with server xx.x.x.xx
2017-08-24 15:45:25 DEBUG Connection:235 - Granted 1 (out of 1) credits to SMB2_NEGOTIATE with message id <

[2017-08-24 14:36] hierynomus commented on #166
I have no idea why the dates are getting changed. As you can see in the logging we only send `SMB2_QUERY_INFO` packets, no `SMB2_SET_INFO` which would normally alter file attributes.

It could be that we're reading the file dates in the wrong order, because I am pretty sure that when you open the file you change the last access time, which is the one that does not seem to be touched. But for that

[2017-08-24 15:09] pepijnve commented on #170
Path names in SMB2 always adhere to [MS-FSCC 2.1.5](https://msdn.microsoft.com/en-us/library/cc422524.aspx). This specifies that the path separator is always `\` regardless of the OS the SMB server is running.

[2017-08-24 15:11] cliviu commented on #170
thanks @pepijnve !

[2017-08-24 15:26] #170 closed

[2017-08-24 15:28] cliviu opened #171 "STATUS_DELETE_PENDING"
Hi, I get the STATUS_DELETE_PENDING when trying to recursive delete a directory.
Caused by: com.hierynomus.mssmb2.SMBApiException: STATUS_DELETE_PENDING(3221225558/3221225558):
	at com.hierynomus.smbj.share.Share.receive(Share.java:335)
	at com.hierynomus.smbj.share.Share.sendReceive(Share.java:319)
	at com.hierynomus.smbj.share.Share.createFile(Share.java:134)
	at com.hierynomus.smbj.share.DiskSh

[2017-08-24 16:19] sshklianko commented on #166
Maybe somehow during that query file actually gets into 'Open' state...

Do you have ideas how to overcome that problem? How about your File.getInputStream() method. Maybe If it was possible to instantiate FIle instance having SMB2FileId value - it would be possible to perform a simple read? - Is it possible to have File's constructor public and get File's SMB2FileId by some means?

[2017-08-24 17:40] pepijnve commented on #166
@hierynomus what triggers that query_info in the code? Afaict DiskShare#openFile shouldn't be doing that.

@sshklianko from an SMB2 client perspective you're already doing just about everything you can: you're not sending any write requests at all and you're opening the file for read only usage. What you could try doing is sending a set info request with FileBasicInformation where you set the time

[2017-08-24 18:07] hierynomus commented on #166
The query_info is triggered by the fetch of File.getfileinformation(). But
that is also just a read op.

Op 24 aug. 2017 19:40 schreef "Pepijn Van Eeckhoudt" <
notifications@github.com>:

[2017-08-24 21:05] sshklianko commented on #166
Thank you guys for your responses.

@pepijnve Im using MS Server 2016. My intention is to be able to read the file and it's metadata, this is why it is important for me to not modify any file attributes, so I could use them. I will try the approach you propose.

@hierynomu it should not be the server issue - when I use SMB1 protocol for the same purpose, file attributes are not modified.

[2017-08-25 02:56] ecki commented on #160
`if ((msvAvFlags instanceof Number) && ((Number)msvAvFlags).intValue() & 2)==2)` would be more generic (or longValue() to not truncate).

But then again, maybe changing it to `Long` type is better for that field.

    {
         return ((Number) obj).intValue();

[2017-08-25 12:09] hierynomus commented on #166
What you could check is which of the calls updates the timestamps. Is the time updated on the server if the `SMB2_CREATE` is executed, or when the `SMB2_QUERY_INFO` is executed.

But do that by checking on the server itself that you're connecting to.

[2017-08-25 12:09] #168 closed

[2017-08-25 12:14] hierynomus commented on #171
`0xC0000056 STATUS_DELETE_PENDING`: A non-close operation has been requested of a file object that has a delete pending.

So you're calling `rm` when the file that you're trying to delete is already marked for deletion.

I will make that a succes response (ie. the file will already be deleted when close is called)

I have not seen this in integration tests. Can you provide an example of your code?

[2017-08-25 13:02] cliviu commented on #171
I have tried to reproduce this using a simple program using only smbj clases and it works like a charm. The problem must be somewere in my boilerplate code. I delete first the file from directory "test/file.txt" and then I delete the directory "test". At the final operation I got the STATUS_DELETE_PENDING. I suspect that I have somewhere some not closed share/connection or something like this.

[2017-08-25 13:02] #171 closed

[2017-08-25 17:52] sshklianko commented on #166
@hierynomus I've got an access to server and here is what I found:

when I call DiskShare.openFile() - file gets completely erased. I believe it has to do with the fact it is really a file OPEN command - which prepares file for writing. So there is no problem with reading attributes - it just opens file as before write operation. Also, if you go to SMB2CreateRequest you'll see the SMB2MessageComma

[2017-08-25 17:56] hierynomus commented on #166
Hi stepan,

If that happens you're specifying the wrong create mode.

Op 25 aug. 2017 7:52 p.m. schreef "Stepan Shklianko" <
notifications@github.com>:

[2017-08-25 17:58] sshklianko commented on #166
Is there supposed to be any "create" mode for read operation?

[2017-08-25 18:00] hierynomus commented on #166
Smb2CreateDisposition.open will open the file without doing anything to it.

_Sent from my Samsung SM-G950F using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-25 18:17] sshklianko commented on #166
That did the trick - I was able to read the file using Smb2CreateDisposition.open. Thanks @hierynomus

One more question: is there a way to get a file size and file owner somehow from file attributes?

[2017-08-27 15:02] atanuiitd opened #172 "Could not find smbj-0.2.0 Java extension for this JVM"
Hi ,
I am trying to incorporate smbj-0.2.0 jar in project for accessing SMB2 based CIFS share .
During build process Jenkins is throwing error
 /usr/bin/build-jar-repository: error: **Could not find smbj-0.2.0 Java extension for this JVM.**

I have copied the jar in the lib folder & all import statements[import com.hierynomus.smbj.SMBClient;] are resolved properly.

Any idea why this error is thro

[2017-08-27 15:50] ecki commented on #172
This is hard to answer without knowing your buildjob. The build-jar-Repository is part of the jpackages tool and search the JAR in a specified lib dir. Maybe you specified the wrong libdir or do not want to use the tool for custom JARs at all.

It is certainly no smbj bug.

[2017-08-27 18:54] hierynomus commented on #172
@ecki Thanks for the comment. You're right indeed. This is no SMBJ bug.

I'm closing this issue.

[2017-08-27 18:54] #172 closed

[2017-08-28 12:21] IrynaZhumatiy opened #173 "Testing SMB2 from Java"
Hello.
Could you please tell how can I test connection via SMB2?
I have some code:
`SMBClient smbClient = new SMBClient();
        try (Connection connection = smbClient.connect(exportSessionVO.getRemHost(), exportSessionVO.getPort())) {
            AuthenticationContext authenticationContext = new AuthenticationContext(exportSessionVO.getUserName(), exportSessionVO.getPassword().toCharArray(), ex

[2017-08-28 12:30] cliviu opened #174 "Copy file remote/remote"
Hi,
  is there any simple Api call to copy a file from remote to remote ?
   Or I should use the Input/Output Streams of the opened files to copy the files from remote to remote ?
Thanks !

[2017-08-28 12:32] hierynomus commented on #173
Yes, getting the SocketTimeout probably means that it cannot find the host you're connecting to.
If you look at the test cases, you can inject a dummy transport into the config, which allows you to stub out the real connection.

[2017-08-28 13:28] IrynaZhumatiy commented on #173
Thank you for your answer!
How can I inject a dummy transport into the config?
And which test cases I can look? What do you mean?
I need to dummy data not real.

[2017-08-28 13:45] pepijnve commented on #173
See https://github.com/hierynomus/smbj/blob/bdf20c29f768211e9e05031a7cc39668b2094600/src/test/groovy/com/hierynomus/smbj/share/FileReadSpec.groovy for an example.

[2017-08-28 14:02] IrynaZhumatiy commented on #173
Thanks.
It's very useful link!
But when I want to inject StubTransportLayerFactory  - I cannot see this class from Intellij.
The class does not exist.
I use smbj-0.2.0

[2017-08-28 14:10] pepijnve commented on #173
Should be available in the groovy test source tree. See https://github.com/hierynomus/smbj/blob/v0.2.0/src/test/groovy/com/hierynomus/smbj/connection/StubTransportLayerFactory.groovy

[2017-08-28 14:13] hierynomus commented on #173
Correct, it is test code, so it is not contained in the production jar.

The question is, why are you (unit) testing SMBJ in your application :). Typically you should abstract away the network(protocol) layers of your app and stub them for unit tests. Only for integration tests you use real implementations, but then you would also have real machines you can test with, so no need for dummy data.

[2017-08-28 14:43] #160 closed

[2017-08-28 14:56] hierynomus commented on #166
The file size is in `FileBasicInformation.getEndOfFile()`.
The file owner I'm not completely sure about, @pepijnve do you know how to obtain that?

[2017-08-28 15:09] pepijnve commented on #166
That's in the security descriptor which you can get using `DiskEntry#getSecurityInformation`.

[2017-08-28 15:15] sshklianko commented on #166
Ok, Thank you guys. I believe this ussue may be closed now.

[2017-08-28 15:15] #166 closed

[2017-08-29 07:39] cliviu commented on #174
What is the best place to ask questions about the  smbj  API ? They are not really like issues, not defects but I will need some shortcuts to get easier so some results. For example , how can I read the FileAttributes  of an existing file ? Thanks

[2017-08-29 11:38] IrynaZhumatiy commented on #173
Thanks a lot for your answers!

[2017-08-29 11:56] hierynomus commented on #173
Sure, if you have no more questions, I assume we can close the ticket?

[2017-08-29 12:10] IrynaZhumatiy commented on #173
Yes, of course.

[2017-08-29 12:32] hierynomus commented on #173
Thanks, let me know if you've got more questions, or run into bugs!

[2017-08-29 12:32] #173 closed

[2017-08-29 15:10] mtamassia commented on #174
@cliviu this is probably a good spot to ask the question. As far as I know there are no exposed methods / APIs but you can easily code it.  Please take a look at the code from Files.copy method and see if you can use it for your use case.

https://github.com/hierynomus/smbj/blob/master/src/main/java/com/hierynomus/smbj/utils/SmbFiles.java

You can easily do it using In/Out Streams, as you suggeste

[2017-08-29 17:35] ecki commented on #174
SMB also supports server side copy, a client API for that would be great: https://wiki.samba.org/index.php/Server-Side_Copy

[2017-08-30 05:29] ramreddy77 commented on #168
Sorry For the late reply. Yes, it is server version problem. Thanks for your help.

[2017-08-30 06:58] gidravlic commented on #174
Hi!
While smbj don't support server side copy i use:
[code]
IOUtil.getBytes - method wich get all stream bytes from JDK 9
[code]

[2017-08-30 07:00] cliviu commented on #174
Great, thank you all !

[2017-08-30 07:43] pepijnve commented on #174
@cliviu do you want to copy from one server to another or between directories on the same server? The server-side copy functionality that @ecki mentioned is only applicable for the latter. For the former reading from one file and writing to another (as @gidravlic showed) is the best you can do. Note that his code, while technically correct, will have issues with large files due to reading the enti

[2017-08-30 07:53] cliviu commented on #174
Hi @pepijnve . For the moment I have to copy between directories of the same server. It works well with the streams approach that you have mentioned, I have a buffer size of 8000 bytes. Thanks !

[2017-08-30 07:53] #174 closed

[2017-08-30 08:01] pepijnve opened #175 "Add support for server side copy"
Within a single SMB server it is possible to perform server-side copies. This avoids having to send data to the client and back which can greatly improve copy performance. At the SMB protocol level this is supported via ioctl requests.

First you need to request a resume key for the source file by sending the `FSCTL_SRV_REQUEST_RESUME_KEY` (0x00140078) ioctl with an empty data buffer. That should

[2017-08-30 08:02] pepijnve commented on #174
I created #175 with the explanation above to track server-side copy support.

[2017-08-30 08:56] hierynomus commented on #175
Thanks @pepijnve for the detailed explanation. This should not be too hard to implement.

Do you know whether it is allowed to send the `FSCTL_SRC_COPYCHUNK_WRITE` when the file was opened with both read and write? It would simplify the implementation :)

[2017-08-30 08:59] pepijnve commented on #175
No idea. I got that from [2.2.31 SMB2 IOCTL Request](https://msdn.microsoft.com/en-us/library/cc246545.aspx) where it says

[2017-08-30 09:08] pepijnve commented on #175
Add some hyperlinks to the original description to make it easier to find the relevant bits in the spec.

[2017-09-04 14:02] krivanekm-javlin opened #176 "[Question] When do we need bcpkix?"
From the list of compile dependencies, it looks like SMBJ requires bcpkix-jdk15on. However, in our environment, it works just fine without the jar. When is bcpkix needed?

Thanks.

[2017-09-04 15:57] codyswanson4 opened #177 "Unable to connect to share"
Hello, everybody,
I am working on adding SMB2/2.1/3 support to Apache Commons VFS using this library.  I have a fork on my GitHub [here](https://github.com/codyswanson4/commons-vfs), but in it's current state, I cannot connect to a server I spun up for testing.  The version of smbj being used is 0.2.0 and my stacktrace is below.

java.lang.NoSuchMethodError: org.bouncycastle.asn1.ASN1EncodableVect

[2017-09-04 16:05] codyswanson4 commented on #177
Updated smbj to version 0.3.0 same problem.

[2017-09-04 16:16] ecki commented on #177
Looks like it is missing the bouncy castle dependencies.

[2017-09-04 17:25] codyswanson4 commented on #177
I added the following lines to the pom.xml file with no effect.
    <dependency>
      <groupId>org.bouncycastle</groupId>
      <artifactId>bcprov-jdk15on</artifactId>
      <version>1.57</version>
    </dependency>
    <dependency>
      <groupId>org.bouncycastle</groupId>
      <artifactId>bcpkix-jdk15on</artifactId>
      <version>1.57</version>
    </dependency>

[2017-09-04 20:16] hierynomus commented on #177
What error do you get now that the dependencies are added. It should no longer throw the NoSuchMethodError

[2017-09-04 20:17] codyswanson4 commented on #177
It is still the same as before.

[2017-09-04 21:31] hierynomus commented on #177
Then the dependencies aren't picked up, or somehow the dependency is downgraded. I've just looked at your commits, I don't see any mention of the added BC libraries...

[2017-09-04 21:32] hierynomus commented on #177
What I do see in the main `pom.xml` is the following:

[code]

[2017-09-04 21:46] codyswanson4 commented on #177
I changed it since I committed last, so they won't show up on there.  I just pushed up my current project with the dependencies in the pom.xml file

[2017-09-04 22:02] codyswanson4 commented on #177
Alright, I got bouncycastle loaded.

[2017-09-04 22:02] #177 closed

[2017-09-05 05:49] atanuiitd opened #178 "TransportException"
com.hierynomus.smbj.common.SMBRuntimeException: com.hierynomus.smbj.transport.TransportException: com.hierynomus.protocol.commons.buffer.Buffer$BufferException: Underflow

I am encountering the above exception when trying to open a .tar.gz file by
sFile = smbjDiskShare.openFile(filename, accessMasks, null, shareAccesses, SMB2CreateDisposition.FILE_OPEN, null);

Where file name contains .tar.gz at

[2017-09-05 06:01] hierynomus commented on #178
Can you paste the entire stacktrace. And trace level logging of the attempt
in order to diagnose the problem.

Op 5 sep. 2017 7:49 a.m. schreef "atanuiitd" <notifications@github.com>:

[2017-09-05 07:03] atanuiitd commented on #178
![exception in eclipse]
(https://user-images.githubusercontent.com/6488759/30048938-2f556e1a-9236-11e7-8a60-2b7f56c9f2fd.png)
Hi , Please see the attached .

[2017-09-05 07:27] hierynomus commented on #178
Hi @atanuiitd, unfortunately a screenshot does not help. It does not show the required information.
In order to help you, I need the entire stacktrace as it is printed, and the trace level logging from the attempt to open the tar.gz file.

[2017-09-05 08:41] hierynomus commented on #176
You're right, just checked that it is not needed. It is removed now from the dependency list. Thanks for checking.

[2017-09-05 08:41] #176 closed

[2017-09-05 19:05] mtonina opened #180 "NPE in writeDirectTcpPacketHeader"
Hello. I am trying to connect to a shared folder in Windows 10 with smbj 0.3.0. I have a successful DiskShare pointing to the target folder, but when I try to list/open/openFile/openDirectory I have a NullPointerException like this:

java.lang.NullPointerException
	at com.hierynomus.smbj.transport.tcp.direct.DirectTcpTransport.writeDirectTcpPacketHeader(DirectTcpTransport.java:132)
	at com.hieryno

[2017-09-05 20:02] hierynomus commented on #180
The NPE stems from the fact that the `OutputStream` is null. This is caused by a `disconnect` on the transport.

[2017-09-05 20:34] mtonina commented on #180
Hm, It is strange because I am not doing a disconnect by code. My attempt is:

[code]
So I do not understand why there is a disconnect in the transport

[2017-09-05 20:51] hierynomus commented on #180
What is the trace level logging you get when you run the code?

[2017-09-05 21:04] mtonina commented on #180
It was in INFO but now, with DEBUG:

`SMC-4.0 2017-09-05 18:01:58.983 DEBUG [http-8088-exec-5] Connection.java:235   Granted 1 (out of 513) credits to SMB2_CREATE with message id << 7 >>
SMC-4.0 2017-09-05 18:01:58.984 DEBUG [http-8088-exec-5] DirectTcpTransport.java:65 Writing packet SMB2_CREATE with message id << 7 >>
java.lang.NullPointerException
	at com.hierynomus.smbj.transport.tcp.direct.Di

[2017-09-05 21:12] hierynomus commented on #180
Yes, from where it starts the connection attempt to the stacktrace.

[2017-09-05 21:21] mtonina commented on #180
`MYAPP 2017-09-05 18:17:13.887 WARN  [http-8088-exec-1] HttpSessionSecurityContextRepository.java:374 Failed to create a session, as response has been committed. Unable to store SecurityContext.
MYAPP 2017-09-05 18:17:13.887 DEBUG [http-8088-exec-1] SecurityContextPersistenceFilter.java:97 SecurityContextHolder now cleared, as request processing completed
MYAPP 2017-09-05 18:17:16.475 DEBUG [http-

[2017-09-06 05:28] atanuiitd commented on #178
![stacktrace](https://user-images.githubusercontent.com/6488759/30095782-58b903f4-92f2-11e7-8d74-f57b3782e537.png)
Hope this helps .

[2017-09-06 06:57] pepijnve commented on #178
@atanuiitd e.printStackTrace and continu the stacktrace as text from the console is a more practical way of doing this. That way other developers can copy it into their development environment for further analysis.

[2017-09-06 08:42] hierynomus commented on #178
@atanuiitd Please have a look at for instance #180 to see what information we're requesting. If you cannot provide us that information, it will be very hard for us to help you. The main question is where is the buffer underflow coming from. We need the _complete_ stacktrace to determine this.

If you're concerned with exposing private classes, feel free to snip off everything that is in your appli

[2017-09-06 09:03] hierynomus commented on #180
I've at least ensured that you don't get a nasty NPE now in fb96951. However the main question is why is it sending a SMB2_TREE_DISCONNECT / SMB2_LOGOFF, and only then the SMB2_CREATE.

Is that really the exact code you're using? Can you write a reproducible JUnit testcase?

[2017-09-06 12:25] mtonina commented on #180
This is my exact code:

`	private com.hierynomus.smbj.share.File getFile(String user, String password, String domain, String remotePath)
			throws Exception {

		DiskShare diskShare = this.getDiskShare(user, password, domain, this.getHostname(remotePath),
				this.getPath(remotePath));
		try {
			DiskEntry file = diskShare.openDirectory(
					"output",
					EnumSet.of(AccessMask.GENERIC_ALL),

[2017-09-06 12:27] pepijnve commented on #180
@mtonina you can't use try-with-resources the way you're doing in `getDiskShare`. When you exact that method `close` is implicitly called on the DiskShare and the Connection object. So you end up returning a closed object which is effectively unusable.

[2017-09-06 12:31] mtonina commented on #180
Oh Lord...

[2017-09-06 12:32] pepijnve commented on #180
😄 happens to the best of us

[2017-09-06 12:37] mtonina commented on #180
Well I think that this is called over-engineering.. thanks and I will close this issue and go to my mother's house in order to think in what I have done.

[2017-09-06 12:37] #180 closed

[2017-09-06 12:38] Disablez commented on #152
With the last version I'm still getting a STATUS_PATH_NOT_COVERED if the whole FQDN is not used for the host, eg,

Accessing //test.mydomain/test... where test.mydomain resolves to IPS 1 2 and 3. Share "test" resides actually on IP 2.
client.connect("test.mydomain") -> DFS works fine
client.connect("test") -> Path not covered
client.connect("1") -> Path not covered
client.connect("2") -> Things wo

[2017-09-06 12:49] pepijnve commented on #180
@hierynomus there is a lesson to be learned here. DiskShare keeps track of whether it's already closed or not. It's methods should fail-fast if that's the case with an exception stating that the object was closed. I'll make a PR for that.

[2017-09-06 12:56] pepijnve commented on #180
Created PR #181. I added a check right before trying to send any request in Share. That should cover just about everything you can do with a Share object.

[2017-09-06 12:58] Disablez commented on #152
Nah, spoke too soon. It only works if by chance the FQDN is solved to the good IP. Otherwise this will fail.

SMB2TreeConnectResponse response = (SMB2TreeConnectResponse)Futures.get(send, this.connection.getConfig().getTransactTimeout(), TimeUnit.MILLISECONDS, TransportException.Wrapper);

and response.getCapabilities() is null in this case, same as when "wrong" ip is used as host.

Attaching a tc

[2017-09-06 13:00] atanuiitd commented on #178
com.hierynomus.smbj.common.SMBRuntimeException: com.hierynomus.smbj.transport.TransportException: com.hierynomus.protocol.commons.buffer.Buffer$BufferException: Underflow
	at com.hierynomus.smbj.common.SMBRuntimeException$1.wrap(SMBRuntimeException.java:27)
	at com.hierynomus.smbj.common.SMBRuntimeException$1.wrap(SMBRuntimeException.java:21)
	at com.hierynomus.protocol.commons.concurrent.Promise.

[2017-09-06 13:04] IrynaZhumatiy opened #182 "AccessMask"
Hello All,
Could you please provide me what each values from AccessMask mean?
(com.hierynomus.msdtyp.AccessMask)
Or let me know where can i read about this?

I want to use some value for transfer file via network share for some report. Maybe it should be more secure.
Thanks

Regards,
Iryna

[2017-09-06 13:07] pepijnve commented on #182
In general, the package names `msdtyp` refer to the relevant specification; [[MS-DTYP]](https://msdn.microsoft.com/en-us/library/cc230273.aspx) in this case. You can find the access mask documentation in [section 2.4.3](https://msdn.microsoft.com/en-us/library/cc230294.aspx). That's typically mentioned in the [class-level javadoc](https://github.com/hierynomus/smbj/blob/master/src/main/java/com/hi

[2017-09-06 13:10] hierynomus commented on #178
Which version of SMBJ are you using? I think what you're getting is a
non-success response. I've improved handling of those in the latest
versions.

2017-09-06 15:00 GMT+02:00 atanuiitd <notifications@github.com>:

[2017-09-06 13:13] hierynomus commented on #180
Yes, I added a similar check already to the transport. I'll merge yours as well.

[2017-09-06 13:14] pepijnve commented on #180
Sorry if I came across a bit pedantic btw. I meant there's an opportunity for improvement of the library.

[2017-09-06 13:24] atanuiitd commented on #178
I am using smbj-0.2.0.jar along with the dependencies.
Which version should I use ?

[2017-09-06 13:28] hierynomus commented on #178
Can you retry with 0.3.0?

2017-09-06 15:24 GMT+02:00 atanuiitd <notifications@github.com>:

[2017-09-06 13:46] gidravlic opened #183 "com.hierynomus.mssmb2.SMBApiException: STATUS_ACCESS_DENIED(3221225506/3221225506): Create failed for ITD\EKS_Test\MyDir\"
Hi all!
In my test environment(FreeBsd10.3 + latest smbj + Windows 10) all work fine.
Other test environment(FreeBsd10.3 + latest smbj + Windows Server 2008) i got subject error.
From Windows 10 connection to Windows Server 2008 passes normally + Far Manager have full functionality. I have full access to the folder ITD\EKS_Test in share PUBLIC. I can write, read, create and delete objects with the

[2017-09-06 15:30] tomclabonimanage commented on #47
Is there any plan to include this?

We've been looking for a jcifs alternative with smb2/3 support and this project looks great. But we use it for crawling and ingesting files for a search system and security is important for us. We handle this by adding the actual user/group name. We can't use the SID as it's incompatible with the rest of the system.

[2017-09-07 08:20] gidravlic commented on #183
Hi all again!
Partially solved. If i check folder existence in share on Windows 10 (ITD\EKS_Test\MyDir\\) with a slash at the end of the string, all works file. However, we get an error in Windows Server 2008. If check folder existence without a slash, all works file on both machines.
Still there was a problem with **rename**  method on Windows Server 2008 (on Windows 10 work fine).
I have
[code]

[2017-09-07 10:47] atanuiitd commented on #178
com.hierynomus.mssmb2.SMBApiException: STATUS_SHARING_VIOLATION(3221225539/3221225539): Create failed for abc.tar.gz
	at com.hierynomus.smbj.share.Share.receive(Share.java:335)
	at com.hierynomus.smbj.share.Share.sendReceive(Share.java:319)
	at com.hierynomus.smbj.share.Share.createFile(Share.java:134)
	at com.hierynomus.smbj.share.DiskShare.open(DiskShare.java:55)
	at com.hierynomus.smbj.share.Di

[2017-09-07 12:16] pepijnve commented on #178
That means the file has already been opened by someone else and they opened it in exclusive mode or you didn't specify the correct sharing mode. See the documentation of [CreateFile](https://msdn.microsoft.com/en-us/library/windows/desktop/aa363858%28v=vs.85%29.aspx?f=255&MSPPError=-2147217396), in particular the `dwShareMode` parameter for details.

[2017-09-07 12:28] gidravlic commented on #183
I answer myself. Instead of
[code]
we have to use other AccessMask
[code]

[2017-09-07 12:28] #183 closed

[2017-09-07 15:15] atanuiitd commented on #178
private static Session smbjSession = null;
 	private static Connection smbjConnection = null;
 	private static DiskShare smbjDiskShare = null;

com.hierynomus.smbj.share.File sFile = null;
		 	SMBClient client = new SMBClient();
		 	StringTokenizer st = new StringTokenizer(url,"\\");
		 	String server=st.nextToken();
		 	String share=st.nextToken();
		 	smbjConnection = client.connect(server);

[2017-09-07 15:31] pepijnve commented on #178
If you want the highest likelihood of being able to open the file you should pass `EnumSet.allOf(SMB2ShareAccess.class)` instead. Even if you specify that though, if there's a file handle still open somewhere that opened the file with shareAccess set to 0 (i.e., opened exclusively), you'll still get a sharing violation. There's nothing you can do about this except closing the other file handle.
Fo

[2017-09-07 16:43] Varsha-Nagarajan opened #184 "Status_Access_Denied while accessing Samba Share on Linux"
Scenario : Unable to access samba share mounted on a linux system (SUSE Linux Enterprise)
Samba server version : 3.6.3
I am using anonymous and guest authentication context but the connection to the share fails with:

com.hierynomus.mssmb2.SMBApiException: STATUS_ACCESS_DENIED(3221225506/3221225506): Could not connect to \\ipaddress\shareName
	at com.hierynomus.smbj.session.Session.connectTree(Ses

[2017-09-07 17:10] hierynomus commented on #184
Which version of smbj are you using?

Op 7 sep. 2017 6:43 p.m. schreef "Varsha-Nagarajan" <
notifications@github.com>:

[2017-09-07 17:15] Varsha-Nagarajan commented on #184
smbj-0.3.0

[2017-09-07 17:48] atanuiitd commented on #178
I am encountering the same error after modifying
shareAccesses.addAll(SMB2ShareAccess.ALL);

What else should I do ?

[2017-09-07 18:18] pepijnve commented on #178
Not much besides figuring out who or which process has the file open and close it? Google ERROR_SHARING_VIOLATION or STATUS_SHARING_VIOLATION and you'll find similar recommendations.

[2017-09-07 19:39] hierynomus commented on #184
It seems that Samba is compaining that the message signature is bad. Not so much the authentication.

[2017-09-07 19:40] hierynomus commented on #182
@IrynaZhumatiy Does @pepijnve's answer answer your question?

[2017-09-07 19:43] hierynomus commented on #178
There are applications that show which processes keep which files open. Once you figure that out, close the specific process and retry.

Also if you open the file using SMBJ and don't close it and call another open method it will in all likelihood fail also (unless you've specified the right `SMB2ShareAccess` level).

[2017-09-08 02:55] Varsha-Nagarajan commented on #184
But I changed the protocol to SMBv1 and tried accessing using jcifs. It
went through fine. Are you sure it's the samba server?

On Sep 8, 2017 01:09, "Jeroen van Erp" <notifications@github.com> wrote:

[2017-09-08 05:05] atanuiitd commented on #178
What is that right SMB2ShareAccess  level? I have tried with shareAccesses.addAll(SMB2ShareAccess.ALL);
I am also closing the {smbjSession,smbjConnection ,smbjDiskShare } after each file read call .
But I have declared the "static" .
Can it have any impact ?

[2017-09-08 05:12] atanuiitd commented on #178
Message[entering downloadSharedFile]
Time[2017-09-07 05:30:34,664] ajp-bio-127.0.0.1-8009-exec-4 DEBUG xyz Message[the path is \\100.96.21.43\smb2\abc.tar.gz.sum]
Time[2017-09-07 05:30:34,665] ajp-bio-127.0.0.1-8009-exec-4 INFO  xyz Message[The filename is abc.tar.gz.sum]
Time[2017-09-07 05:30:34,665] ajp-bio-127.0.0.1-8009-exec-4 INFO  xyz Message[The path is \\100.96.21.43\smb2]
Time[2017-09-07

[2017-09-08 05:14] atanuiitd commented on #178
The above log might give a better picture .
Look the first file.tar.gz.sum is fine . Problem occurs for 2nd file .tar.gz file .
Also I have closed connection before reading the 2nd file .

[2017-09-08 06:10] pepijnve commented on #178
There is no 'right' share access value. Please read and make sure you understand the documentation I pointed you to.
Just to rule out that something is wrong in the smbj library, could you try mounting the SMB share and then opening tar.gz file in question manually in Windows' File Explorer or running `tar ztf` on it? Does that give you the same error (or something more user-friendly like 'file al

[2017-09-08 09:38] Varsha-Nagarajan commented on #184
Attached are the wireshark traces of the two scenarios:
1. Accessing using windows explorer.
2. Accessing using code ( not working)

Please let me know if this is a bug or requires some additional configuration?

[wireshark_Traces.zip](https://github.com/hierynomus/smbj/files/1287409/wireshark_Traces.zip)

[2017-09-08 12:01] IrynaZhumatiy commented on #182
Yes. Thanks a lot for the answer, @pepijnve :)

[2017-09-08 12:04] Varsha-Nagarajan commented on #184
Some more logs:

[main] INFO com.hierynomus.smbj.connection.Connection - Successfully connected to: 10.71.67.180
[main] INFO com.hierynomus.smbj.connection.Connection - Successfully authenticated  on 10.71.67.180, session is 2227810112
[main] INFO com.hierynomus.smbj.session.Session - Connecting to \\10.71.67.180\content-repo on session 2227810112
[Packet Reader for 10.71.67.180] ERROR com.hieryno

[2017-09-08 17:51] bli-r7 commented on #184
I've seen the same signature failure when accessing samba on smbv2. Since the session authentication was complete I don't think it was the signature themselves that caused the issue.

[2017-09-08 18:13] hierynomus commented on #184
We only start signing after the session has been established. So it is
pretty likely the issue.

Op 8 sep. 2017 7:51 p.m. schreef "bli-r7" <notifications@github.com>:

[2017-09-08 18:19] bli-r7 commented on #184
There was a similar issue before due to how message length wasn't calculated correctly and how certain message wasn't read properly. I would debug this in PacketSignatory to confirm.

[2017-09-08 18:27] bli-r7 commented on #184
Also double check **server signing** and **client signing** in Samba config.

https://www.samba.org/samba/docs/man/manpages-3/smb.conf.5.html

[2017-09-08 19:57] Varsha-Nagarajan commented on #184
None of the server and client signing combinations seem to solve the issue. I get the same logs as mentioned above.

[2017-09-09 02:45] mtamassia commented on #163
@gidravlic the pull request has been merged. The issues can be closed @hierynomus

[2017-09-09 05:57] #163 closed

[2017-09-09 12:33] gidravlic commented on #163
@hierynomus Hi! It is very good. My code will be clearer, more compact and understandable.
Thanks to all!

[2017-09-09 12:43] gidravlic commented on #182
@IrynaZhumatiy  close issue :)

[2017-09-09 16:38] atanuiitd commented on #178
I have failed to open the .tar.gz file using 7z  with error The process cannot access the file as it is being used by another process.
But what other process was using it ? I closed the connection after each file read or write .

[2017-09-09 18:00] hierynomus commented on #178
Try to google for "which process has a file lock windows" or something
similar. There should be a number of applications that can show that.

Op 9 sep. 2017 6:38 p.m. schreef "atanuiitd" <notifications@github.com>:

[2017-09-11 06:18] atanuiitd commented on #178
I did not close the file handle
**com.hierynomus.smbj.share.File** sFile although I closed session,connection,diskshare .
Thats why the error occurred .
One more question ::
How to compare the checksum in this smbj api ?
First I saved .tar.gz file using write operation & next I imported that .tar.gz file .
Now I need to compare the checksum to avoid any corruption .

[2017-09-11 07:57] pepijnve commented on #178
Checksum calculation is not something the SMB protocol provides. You'll have to implement this yourself by opening the file, reading it chunk by chunk and passing the data to whichever checksum algorithm you want to use. Something like this:

[code]

[2017-09-11 08:35] #182 closed

[2017-09-11 08:36] hierynomus commented on #178
Or you can use the `java.security.DigestInputStream` to wrap around the SMBJ inputstream. Then when reading the file, it will immediately calculate the digest.

[2017-09-11 08:36] hierynomus commented on #178
Given that you've solved the problem, can we close the ticket?

[2017-09-11 08:47] atanuiitd commented on #178
sure , Please close this ticket

[2017-09-11 08:48] #178 closed

[2017-09-11 12:09] JhaShardendu commented on #96
@hierynomus,
Has the support for SMB 3.0 added to the library?

Regards,
Shardendu.

[2017-09-11 12:12] hierynomus commented on #96
No, as of yet, no additional support beyond SMB2.1 has been added.

[2017-09-11 16:26] ndimitry opened #188 "Question/request: is it possible to watch share changes?"
Our project wants to be able to watch for changes on the share, for example to find out when a new document is created or when an old one is renamed.
Is that somehow possible using smbj?

[2017-09-11 16:44] pepijnve commented on #188
The SMB2 protocol supports this via the CHANGE_NOTIFY message, but this isn't supported in smbj yet.

[2017-09-11 16:58] ndimitry commented on #188
Is there a plan to support this operation in future?
Or, if it's not in the short list, can we ourselves contribute to the project?

[2017-09-11 17:01] pepijnve commented on #188
I can't speak for @hierynomus, but I'm pretty sure a PR that adds this would be appreciated. The [java.nio.file.WatchService](https://docs.oracle.com/javase/7/docs/api/java/nio/file/WatchService.html) and related classes might be a good source of inspiration for an API for this feature.

[2017-09-11 18:51] bli-r7 commented on #131
@tliebeck We've been using smbj-rpc to get all shares successfully, please open an issue with smbj-rpc if there were problems so that we can investigate.

[2017-09-11 19:36] hierynomus commented on #188
Sure, such a PR would be welcome :)

2017-09-11 19:08 GMT+02:00 Pepijn Van Eeckhoudt <notifications@github.com>:

[2017-09-12 05:49] Varsha-Nagarajan commented on #184
Hi,

Any update on this? I have exhausted all my ideas :(

[2017-09-12 06:19] gidravlic commented on #184
Hi! @Varsha-Nagarajan, as i correct understand SmbPath class return \\host\share. But in you error message contains \10.71.67.180\content-repo. Maybe this is the problem?

[2017-09-12 06:35] Varsha-Nagarajan commented on #184
Hi @gidravlic , nope, thats not the issue. Connection goes through fine. There is some signature issue which is highlighted in the logs above. Waiting for @hierynomus  and @bli-r7  to identify the issue.

[2017-09-12 09:18] ndimitry commented on #188
I've talked with our architect, he sees this as an option to move from jsifc-ng to some other lib, among which smbj looks as a good alternative. We plan to do this after some period of time (after couple of weeks maybe).
I will keep in touch with you, I think there will be some questions.

Thanks for being open and fast to react!

[2017-09-13 19:54] tosmun-r7 commented on #184
I've hit this as well. Creating a guest session, and attempting to connect to `IPC$` will result in the expected `ACCESS_DENIED` response, but the signature validation will fail client side. I haven't discovered any obvious deviations between the implementation and spec.

[2017-09-13 20:57] hierynomus commented on #184
Does it work with an authenticated (real user) connection @tosmun-r7 @Varsha-Nagarajan ? Else the error might be in authentication part when you auth as guest/anonymous user... Could be that the flow for those authentications should be different.

[2017-09-13 21:16] tosmun-r7 commented on #184
Yes, it does work for an authenticated connection. I believe you're right, there must be some deviation, perhaps in calculation of the secretKey.

[2017-09-13 21:27] hierynomus commented on #184
Yes, that is my guess also. I did not see this in my testing on a windows machine with a guest user, but it might be that I had not set signatures to be required.

[2017-09-13 21:48] tosmun-r7 commented on #184
In MS-SMB2, I noticed the following:

And also here: https://blogs.msdn.microsoft.com/openspecification/2017/05/26/smb-2-and-smb-3-security-in-windows-10-the-anatomy-of-signing-and-cryptographic-keys/

• Existence of the signing key: SessionId field has a non-zero value, otherwise there would be no possible signing key. **The exception is a guest or anonymous session, which does not have a signing

[2017-09-14 14:16] tosmun-r7 commented on #184
Sounds like we should not be enforcing signing if the session ends up being a guest or anonymous login?

[2017-09-15 09:03] cliviu commented on #152
@Disablez , can you please try the https://github.com/cliviu/smbj  version, see if it works for you. Thanks !

[2017-09-15 10:20] Disablez commented on #152
@cliviu Sorry, but it fails same way :(. Only works if by chance the hostname is internally resolved to the proper IP, with no need for redirection. So, still a lottery.

[2017-09-15 15:18] cliviu commented on #152
ok, so it may be a network configuration problem. If the link always working under windoz ?

[2017-09-18 11:34] srik545 opened #192 "VM hangs with no console and network access"
In a multi-threaded environment when multiple requests are sent to a single CIFS server suddenly I see that, CPU shoots up to 100% on a single core ( 50% on a 2 core machine). What is making me surprise is **No network access and console access** - this is making  it harder to trace where is the issue. Any help in this regard is really great full. I am using v0.3.0. And it is sometimes consistentl

[2017-09-18 11:40] pepijnve commented on #192
A stack dump of all threads should show where things are stuck. You can get that using `stack` or by sending a SIGQUIT (3) to the Java process.

[2017-09-19 12:54] Disablez commented on #152
It does work under windows (explorer / map to drive) with no issue.

[2017-09-19 16:32] mtamassia commented on #192
@srik545 depending on your JDK/JRE version and OS, you can also run
 `jcmd PID Thread.print >> dump.txt`
 replacing PID with the java process ID and send us the content of the dump.txt

[2017-09-20 08:17] IrynaZhumatiy opened #193 "ByteChunkProvider - try with resources"
delete me

[2017-09-21 16:30] ndimitry commented on #188
I found it possible to send the CHANGE_NOTIFY request (and get changes), so currently it seems smbj has all our project needs (@pepijnve thank you for a hint on CHANGE_NOTIFY message, keeping in mind I know few in SMB and the MS-SMB2 documentation has more than 400 pages this hint was vital).

Maybe I will have time to create a PR and implement it, but unfortunately seems like not now, sorry.

[2017-09-21 19:00] bli-r7 opened #194 "[Question] Can we cut a new release?"
@hierynomus

Can we cut a new release with the connection and session information that went in with the last commits?

Thank you.

[2017-09-25 11:24] debarghya85 opened #195 "File write Not working for file type pdf"
I am trying to get the OutputStream from a file pointer of type com.hierynomus.smbj.share.File. I will put the byte array into the OutputStream and write. But If I write in .txt file then it is writting into the file but not writting for .pdf file.

For getting OutputStream I have used  getOutputStream() of com.hierynomus.smbj.share.File.

fileOutputStream.write("ASDF".getBytes());
fileOutputStrea

[2017-09-25 12:16] hierynomus commented on #195
Do you have some example code and trace level logging to help debug this?

[2017-09-26 04:48] debarghya85 commented on #195
Following is my code snippet.Whenever I am sending any pdf file name, then no error is generating and file is generating in shared folder but with no content and file size 0 byte.But If I just change the name of the file to txt then file is generating with proper content.

                SmbConfig cfg = SmbConfig.builder().build();
		SMBClient client = new SMBClient(cfg);
		Connection connection

[2017-09-26 08:26] hierynomus commented on #195
Hi @debarghya85,

This does not seem to be a SMBJ issue then, if only changing the filename leads to correct contents being written. I would then focus on your target machine and see whether that is running a virusscanner or something that blocks uploads of pdf files.

[2017-09-26 09:15] debarghya85 commented on #195
This is my traces. I am also not sure whether it is SMBJ issue because I am thinking how to set the MIME type in outputstream without response.Probably that will sought out the issue.

[main] INFO com.hierynomus.protocol.commons.socket.ProxySocketFactory - Connecting to /[Share_IP]:445
[main] INFO com.hierynomus.smbj.transport.PacketReader - Starting PacketReader on thread: Packet Reader for [Shar

[2017-09-26 10:23] hierynomus commented on #195
I'm not sure what you mean, but the SMB protocol has no knowledge of MIME types. It just copies the bytes over the line using the right protocol. As such it does not care about the extension of a file. So in this case I would really investigate the remote system to see what it is doing.
The traces sent by you do not show an error on the SMB side of things.

[2017-09-26 17:22] tosmun-r7 opened #196 "Disabling signatures when guest/anonymous"
We've had an ongoing discussion here around guest sessions: https://github.com/hierynomus/smbj/issues/184#issuecomment-329306762

The conclusion I've come to is that SMB does not allow for signing when the session is resolved to be a guest or anonymous: https://blogs.msdn.microsoft.com/openspecification/2017/05/26/smb-2-and-smb-3-security-in-windows-10-the-anatomy-of-signing-and-cryptographic-keys

[2017-09-26 22:04] hierynomus commented on #184
@Varsha-Nagarajan does the discussion solve the issue? I'm slightly inclined to closing it and making a fix for #184 to detect this situation.

[2017-09-26 22:11] hierynomus commented on #196
I'm actually of a somewhat different mind here. The reason being that I don't like it if a library "does magic stuff" 😉.

As such I think the following behaviour is better:
- `SmbConfig.withSigningRequired(true)` has been set and user is authenticating with Guest/Anonymous --> Throw an exception that signing cannot be enabled for guest/anon access
- No signing has been required --> correctly handl

[2017-09-26 22:11] #193 closed

[2017-09-27 03:43] Varsha-Nagarajan commented on #184
Hi,

No, this discussion hasn't solved the issue because anonymous or guest
authentication is still failing for samba server running on Linux system.

I'm actually looking forward for a fix as it's an important usecase in the
product I'm working for. Please could you look into it?

On Sep 27, 2017 03:34, "Jeroen van Erp" <notifications@github.com> wrote:

[2017-09-27 12:46] tosmun-r7 commented on #196
I agree. Deterministic behavior is always preferred.

I also agree with throwing a specific exception instead of returning the session is the best approach from smbj side. Currently it will fail the signature validation when we attempt to use it.

Thanks for the input!

[2017-09-28 03:28] IrynaZhumatiy opened #197 "SMBApiException: STATUS_OBJECT_PATH_NOT_FOUND"
Hello All,

Could you please help me with some issue?
I'm trying to put a file to a directory that does not exist. Is there a way that java could test for the destination directory?
I get SMBApiException: STATUS_OBJECT_PATH_NOT_FOUND.

Thanks a lot!

Best regards,
Iryna

[2017-09-28 06:10] gidravlic commented on #197
Hi!
Look class [DiskShare](https://github.com/hierynomus/smbj/blob/master/src/main/java/com/hierynomus/smbj/share/DiskShare.java) method folderExists

[2017-09-28 08:44] ndimitry commented on #197
Something like this should work (this checks that folder \\host\ShareName\test1\test2 exists):

[code]

[2017-09-28 08:54] ndimitry opened #198 "Signature verification for CHANGE_NOTIFY fails"
All other tested requests seem to work fine (open, close, list, delete, read and write).
As for the watch it returns correct contents but produces warnings which state that signature verification fails. Here's a warning example that I get:
ERROR | Signatures for packet SMB2_CHANGE_NOTIFY with message id << 504251 >> do not match (received: [-44, 12, -16, -51, 46, -47, -124, -120, -67, -72, 92, 44,

[2017-09-28 10:34] IrynaZhumatiy commented on #197
Thanks a lot to everyone!
I've found this method :)

[2017-09-28 10:52] hierynomus commented on #197
Ok, can this be closed?

[2017-09-28 11:02] IrynaZhumatiy commented on #197
Yes, thanks!

[2017-09-28 11:10] #197 closed

[2017-09-28 12:07] hierynomus commented on #195
@debarghya85 Any update on this? I'm inclined to dismissing this, as it is not an SMBJ bug, at least not if only changing the filename suddenly makes the bytes not appear for exactly the same program.

[2017-09-28 12:07] hierynomus commented on #192
@srik545 Any update?

[2017-09-28 12:15] hierynomus commented on #158
@gidravlic Where it says "must not" you should read "should not". The whole point is is that you yourself do not start doing async things, the EJB is already doing that. However depending on connectivity libraries is not forbidden, and mostly all of those will spawn one or more threads for doing their I/O. So yes, it is perfectly legal to use SMBJ in a JEE7 application.

(Also note that this requi

[2017-09-28 12:41] hierynomus commented on #196
After a bit of digging, I found the relevant sections in MS-SMB2:

**3.2.5.3.1 Handling a New Authentication**
[...]
- If the global setting _RequireMessageSigning_ is set to TRUE or **Connection.RequireSigning** is set to TRUE then **Session.SigningRequired** MUST be set to TRUE, otherwise **Session.SigningRequired** MUST be set to FALSE.
- If the security subsystem indicates that the session was

[2017-09-28 12:46] gidravlic commented on #158
Hi @hierynomus !
No, it's spec for EJB 3.2 page 423. At all i'm currently monitor smbj work good in EE7 environment (Payara server 4.2) My search, why it is not recommended - in EE environment we must use ManagedExecutorService for execute new thread. And it's related, as far as I understood, with cluster work.
In my test environment i can't check smbj work right now.(I don't have cluster :) )
Gen

[2017-09-28 14:03] debarghya85 commented on #195
Till now no update...till now not solved...can give you update on 2nd oct.

On 28-Sep-2017 5:37 PM, "Jeroen van Erp" <notifications@github.com> wrote:

@debarghya85 <https://github.com/debarghya85> Any update on this? I'm
inclined to dismissing this, as it is not an SMBJ bug, at least not if only
changing the filename suddenly makes the bytes not appear for exactly the
same program.

—
You are rec

[2017-09-28 14:43] hierynomus commented on #194
Let's wait if #195 is a bug (I don't think so) and #196 is merged via #199

[2017-09-28 14:44] hierynomus commented on #198
@ndimitry Can you check what the status is of the SMB2_CHANGE_NOTIFY response?
Most of the signature verifications fail when the status is not success. Fo rthat one there is an exception for teh ENUM_DIR status, but that is purely from the docs, I think that actually contains different contents than is expected

[2017-09-28 15:07] ndimitry commented on #198
Actually the status is success (packet.header.status which I examined with help of the debugger)
![image](https://user-images.githubusercontent.com/18209884/30974211-c1d570b6-a477-11e7-9a9e-5bf7562c9c1b.png)

[2017-09-28 15:09] ndimitry commented on #198
@hierynomus If there might give a clue, the evident difference between all other requests and this one was that Buffer's rpos value is not equal to wpos and size. For all other these values are the same (but I guess they might be not equal and this is not the root of an issue).

[2017-09-28 16:16] ndimitry commented on #198
@hierynomus Ok, this is most likely an smbj issue.
I've just "hacked" rpos and packet.messageEndPossition and after this the signature became fine. Here it is:
![image](https://user-images.githubusercontent.com/18209884/30977792-57f73af8-a481-11e7-85ed-7328419c19f7.png)

So the question is why the packet's messageEndPossition is set to the value less then the whole packet.

[2017-09-28 16:43] ndimitry commented on #198
@hierynomus Here's the defect.
In SMB2ChangeNotifyResponse#readFileNotifyInfo we have:
[code]
In case there are 2 or more FileNotifyActions the last one will contain the `nextEntryOffset` set to 0.
This will result in currentPos being set close to the beginning of the last FileNotifyAction which is not the end of the message.

There should be something like
[code]

[2017-09-28 16:44] ndimitry commented on #198
Now let me play with GIT and pull requests (:

[2017-09-28 18:02] hierynomus commented on #198
Good find! And thanks for the PR ;)

[2017-09-28 18:11] ndimitry commented on #198
You are welcome! And I was lucky though, but as I like to say thanks God I was (:

Can I create a pull request out of an issue only if I'm an approved contributor? (For example, I haven't found the way to create a pull request out of this issue.) Or is an issue a separate thing from the pull request here on github?

[2017-09-28 18:15] hierynomus commented on #198
Yes, issues and PRs are separate :) So the way you did it is the right way.

[2017-09-28 18:16] #198 closed

[2017-09-28 18:18] ndimitry commented on #198
Great! Thanks for clarification and I'm glad all worked well (:

[2017-09-28 18:45] ndimitry commented on #194
Hope #198 will also be there (:

[2017-09-29 08:52] gidravlic commented on #142
Hi @hierynomus !
After searching problem, i'm discovered that File class constructor takes only DiskShare parameter. I changed PrinterShare class, instead:
[code]
I extend PrinterShare from DiskShare
[code]
calling work perfectly
[code]
I do not quite understand the whole architecture of the library in order to make appropriate changes to it. What thoughts?

Thanks!

[2017-09-29 09:25] pepijnve commented on #142
@gidravlic I submitted a pull request that solves this in a slightly better way. Extending DiskShare is not ideal since that allows a lot of operations to be attempted on a printer share that don't make sense (creating directories, creating symlinks, deleting files, ...). The idea is that only those methods that make sense on a particular type of share are exposed as public methods.

[2017-09-29 09:25] pepijnve commented on #142
@gidravlic What are you using as filename in practice BTW? The spec says the filename should always be `null` when opening printer files, but perhaps that doesn't work in practice.

[2017-09-29 09:39] ndimitry opened #203 "[Improvement] Lower amount of threads created in case of intensive messaging"
Each (or at least many) request is executed in a Future object, in a separate thread. This results in high number of active threads and a lot of threads creation/closing operations. Maybe there is reason to use some pool for the threads and reuse them?

[2017-09-29 09:42] hierynomus commented on #142
Indeed, the spec says this

**3.2.4.3.2 Application Requests Sending a File to Print**
For sending a file to a printer, the application opens the root of a print share, writes data, and closes the file. The semantics and parameters are the same as specified in section 3.2.4.3, except that **TreeConnect.ShareName** will be the name of a printer share, and the share relative path MUST be NULL.

I th

[2017-09-29 09:45] gidravlic commented on #142
Yes, you are right! My mistake, but it work :) Thanks for the quick solution 👍

[2017-09-29 09:47] pepijnve commented on #203
A Future does not necessarily correspond to a thread. Every SMB client connection spawns a single thread for read purposes. Every request is written to the socket on the calling thread. Since the response is not immediately available a Future is returned. These futures are tracked internally in an in-flight requests map. When the reader thread reads the response for a particular request, it looks

[2017-09-29 09:48] hierynomus commented on #203
thanks @pepijnve :) Saves me from typing something similar.

[2017-09-29 09:49] gidravlic commented on #142
@pepijnve Yes, right. Therefore, I asked how it would be better. Thanks! 👍

[2017-09-29 09:49] ndimitry commented on #203
Thanks for info!
Then this might be also our project issue. Let's see (:

[2017-09-29 09:49] #203 closed

[2017-09-29 10:03] gidravlic commented on #203
@ndimitry Close to the [issue 158](https://github.com/hierynomus/smbj/issues/158). Right now i'm monitoring how my project work in Payara 4.2 application server. While problems I don't observe.

[2017-09-29 10:09] ndimitry commented on #203
@gidravlic Actually all works fast and fine for me so far, but yes, after 1.5 hours of work I see more than 200k threads were active (only 250-750 work in parallel, so there are many created/stopped threads).
Yes, I extensively read/write data from the share... (:

[2017-09-29 10:17] hierynomus commented on #203
Which names have these threads? Where do they come from?
Are you re-connecting a lot? Are you forgetting to close connections/sessions?

[2017-09-29 10:17] #142 closed

[2017-09-29 10:36] ndimitry commented on #203
I will check this further on.
I use only one connection and one session and try to keep it until any exception occurs, only in this case I reconnect. Maybe it would be better to use some more sessions/connections to boost the performance (at some day...).
So there is quite a chance this is our issue (we are using thread pools, maybe we configured it not properly), not an smbj one.

[2017-10-01 05:38] IrynaZhumatiy opened #204 "Close failed for SMB2FileId{persistentHandle"
Hello All,

When I'm trying to close com.hierynomus.smbj.share.File, I get the exception:
STATUS_FILE_CLOSED(3221225768/3221225768): Close failed for SMB2FileId{persistentHandle=71 14 00 00 42 00 00 00}
Could you please take a look for this issue?
Thanks!

Best regards,
Iryna

[2017-10-02 07:33] hierynomus commented on #204
Hi @IrynaZhumatiy,
This is due to the file already being closed. I'll add a case for that to treat it as a success (ie. make close an idempotent operation for this case).

Thx!

[2017-10-02 10:30] Disablez commented on #152
After sniffing a bit, it seems the current implementation works when the DFS folder points to several copies of the same data in different nodes, i.e.
\\commonname\myfolder points to \\servera\myfolder and \\serverb\myfolder
\\commonname\myfolder2 points to \\servera\myfolder2 and \\serverb\\myfolder2

In this case smbj works properly .

However, if we "distribute" the folders among the nodes, e.g

[2017-10-02 11:00] hierynomus commented on #204
Closed via a948028

[2017-10-02 11:00] #204 closed

[2017-10-02 11:44] hierynomus commented on #195
@debarghya85 Let me know if you have an update. Also a tcpdump could help if you really think this is in the library.

[2017-10-02 12:00] IrynaZhumatiy commented on #204
Thanks!

[2017-10-02 16:27] zerikv opened #206 "STATUS_STOPPED_ON_SYMLINK : link is not followed"
When we open a file on a share the SMB2 Create command returns an error if the file is a link (in my test case the link has been created with the mklink command).
This behaviour is explained in "2.2.2.2.1 Symbolic Link Error Response" https://msdn.microsoft.com/en-us/library/cc246542.aspx

SMBJ handles this kind of response (by building a `SymbolicLinkError`) but it seems that the data extracted f

[2017-10-02 21:40] hierynomus commented on #206
Hi Erik,

Makes sense, let me work on it, shouldn't be too hard. Thanks for the suggestion.

[2017-10-03 05:22] pepijnve commented on #206
Just FYI, the win32 api (CreateFile) also follows symlinks transparently. In order to open the symlink itself you need to use the ‘open reparse point’ open flag. Perhaps it’s sufficient to mimic this behaviour.
The same logic applies to junctions, DFS referrals, etc. Basically anything that’s implemented using reparse points.

[2017-10-03 05:56] srik545 commented on #192
Sorry Guys, I was on vacation.  Here is the information i collected so far. I have a process running in the background and taking jstack every 30 seconds to catalina.log. This process was taking all the thread dump but when the issues occurs, from then on no update to catalina.log.
Information about my setup:  My VM is a linux VM running on ESXi v6.5.0 and deployed on tomcat.

Thanks,
Srikanth

[2017-10-03 07:15] debarghya85 commented on #195
Its working now.
Some mistake in my coding makes the issue. Sorry for inconvenience caused. Some object referance issue occurred. I have rectified in my coding and its working fine.

[2017-10-03 07:25] #195 closed

[2017-10-03 07:27] hierynomus commented on #195
Great that you found it. Good luck with your project.

[2017-10-03 08:47] zerikv commented on #206
Hi Pepijn,

Thank you for pointing the flag FILE_OPEN_REPARSE_POINT.

I have just tryied it by adding the following at the begining of the method `com.hierynomus.smbj.share.Share#createFile` :
[code]

For the test I use a symbolic link ceated as follow:
[code]

When I call `DiskShare.open` with the path of this link "Program Files\Java\jre1.8.0" and the create option FILE_OPEN_REPARSE_POINT set, t

[2017-10-03 08:51] pepijnve commented on #206
`FILE_OPEN_REPARSE_POINT` opens the symlink object itself, it doesn't follow the symlink. This is useful if you want to read or write the symlink target rather than following it. If this is what you want that's fine, but that's not the impression I got from your explanation.

[2017-10-03 10:27] pepijnve commented on #206
@zerikv PR #207 is a first attempt at implementing symlink resolution. You could give that a try already.

[2017-10-03 13:04] zerikv commented on #206
Thank you Pepijn for your effort on this issue !
I'm going to try with your PR.

In the same time I have worked on it on my side,
You can see it: https://github.com/zerikv/smbj/commit/c31c64257f8e43db74d1ac84ad7e3ceffd9201cc
This implementation is partial, the following cannot be disable, and this doesn't work if the target is absolute on another disk. Also I have used java.nio.file.Paths to norma

[2017-10-03 13:12] pepijnve commented on #206
We're essentially doing the same thing. 😄
It's preferable to use the 'status values to consider as success' over an exception for this since it's a common case. Using exceptions for flow control is not ideal. Something very similar is already done for DFS referrals. See https://github.com/hierynomus/smbj/blob/master/src/main/java/com/hierynomus/smbj/share/DFSDiskShare.java#L75

[2017-10-03 13:14] pepijnve commented on #206
Indeed it is. You don't want to use platform dependent code in smbj.

[2017-10-03 13:17] #196 closed

[2017-10-03 13:31] hierynomus commented on #192
@srik545 Why do you think it's in SMBJ? Are you closing all your connections etc correctly?

[2017-10-03 13:32] hierynomus commented on #192
Also there is no data attached to your comment, so there is no way for us to confirm it's SMBJ related.

FWIW We've run SMBJ in production for quite some time but have not heard anything similar yet.

[2017-10-03 14:01] zerikv commented on #206
I have just tried the PR#207

The case when the symbolic link targets a relative path works fine.

But if the target path is absolute, the subsituteName is not usable :
[code]
The absolute path is prefixed by \??\C:\ which  should be removed.

btw there is a main() method at the end of SMB2Functions, it seems not intented.

[2017-10-03 14:05] pepijnve commented on #206
See the example at https://msdn.microsoft.com/en-us/library/dd358040.aspx That's how it's supposed to work. It's kind of expected that you're going to see issues with absolute symlinks over SMB.

That main function is a mistake indeed, I'll get rid of it.

[2017-10-03 15:51] mtamassia commented on #194
@hierynomus it looks like the issues you intended to be fixed have made to master so it would be great if we could cut a new release.

[2017-10-03 15:54] hierynomus commented on #194
@mtamassia Yes, I was looking at that too. Though it would be a shame if we missed #206 / #207, which would make a nice feature for the new release. So I want to wait on that.

[2017-10-09 05:42] Varsha-Nagarajan commented on #194
@hierynomus  Any tentative date on when this is being planned?

[2017-10-09 07:39] hierynomus commented on #206
Merged #207.

[2017-10-09 07:39] #206 closed

[2017-10-09 07:40] hierynomus commented on #194
Yes, hopefully today.

[2017-10-09 08:16] pepijnve commented on #206
@hierynomus do you think the symlink resolution logic is sufficiently robust? I tested it with some unit tests and using one of my local SMB servers. Seemed to work correctly, but I definitely didn't do rigorous testing.

[2017-10-09 08:33] bhagyas opened #208 "Update project description to indicate this is a client library"

[2017-10-09 09:26] bhagyas opened #209 "Implement a basic extensible server as reference"
Should serve from the local filesystem for a start.

[2017-10-09 10:51] hierynomus commented on #206
In this case it's better at least than what we had (no support), and it seems to follow most of the common paths. That's why I merged it.

[2017-10-09 10:51] hierynomus commented on #209
Can you elaborate?

[2017-10-09 10:52] hierynomus commented on #208
Can you elaborate?

[2017-10-09 10:56] pepijnve commented on #209
Seems out of scope for an SMB client library project. What value would this add?

[2017-10-09 10:57] pepijnve commented on #208
The current description is

maybe making that

would be sufficient?

[2017-10-09 11:02] bhagyas commented on #209
I'm looking at org.alfresco.jlan.smb.server.SMBServer class.

This would make it easier to build SMB supported file servers using smbj.

[2017-10-09 11:02] bhagyas commented on #208
@pepijnve yes.

[2017-10-09 11:07] pepijnve commented on #209
I agree that adding a server implementation would make the task of making a server easier. But I still think it's out of scope for a project that aims to provide an SMB client implementation. Maybe @hierynomus wants to tackle this, but I would expect client features and bugfixes to all be much higher on the priority list than implementing a server.

[2017-10-10 02:24] vasilwnag opened #211 "ClassNotFoundException: sun.security.provider.MD4"
hello, I use this library on android ,but i get this Exception,  Caused by: java.lang.ClassNotFoundException: Didn't find class "sun.security.provider.MD4" on path

[2017-10-10 02:58] vasilwnag commented on #211
I have resolved this, thanks. this is the code
[code]

[2017-10-10 02:58] #211 closed

[2017-10-10 04:06] #184 closed

[2017-10-10 07:12] hierynomus commented on #209
For the coming time this will be very low in the backlog. As @pepijnve already said, there are more features to add and bugs to squash ;).
I can foresee thst a server is useful in the long run, but don't expect one to be added any time soon.

[2017-10-10 08:13] bhagyas commented on #209
Thanks, as long as it's in the backlog I'm sure someone would contribute their server code. I had started one based on the BasicPacketProcessor example, but at the moment not having enough time to spend more on it.

This would be really important since there is no open source Java server library for SMBv2+.

[2017-10-11 04:48] srik545 commented on #192
Thanks guys for the inputs. After taking memory dump in hang state, I found that I am hitting https://bugzilla.kernel.org/show_bug.cgi?id=191201 issue. My instances are running on ESXi 6.5 version. We are planning to upgrade the ESXi version.

[2017-10-11 04:48] #192 closed

[2017-10-11 13:23] tak4625 opened #212 "Domain-based DFS Namespace"
Does it support Domain-based Namespace?

[2017-10-11 14:22] brielga opened #213 "STATUS_BAD_NETWORK_NAME(): Could not connect to <path>"
I'm facing this error at me moment and I'm stuck because I do not have much knowledge of SMB protocol.

I'm using somethink like:
client.connect("<servername>")

DiskShare share = (DiskShare) session.connectShare("<path\to\folder>");

I'm getting the SMB2TreeConnectResponse from Session.connectTree method with errorData empty
and status = STATUS_BAD_NETWORK_NAME and statusCode = 3221225676.

I rea

[2017-10-11 14:42] gidravlic commented on #213
As far as I know you MUST call connectShare(<only Share name>) without path.

[2017-10-11 14:46] hierynomus commented on #213
Indeed, but also you need a hostname. Localhost or the ip works, empty string is a bad name I think.

[2017-10-11 19:46] mtamassia commented on #194
We know you are busy @hierynomus . Any updates?

[2017-10-11 19:52] #208 closed

[2017-10-11 20:32] hierynomus commented on #194
https://github.com/hierynomus/smbj/releases/tag/v0.4.0

[2017-10-11 20:32] hierynomus commented on #194
Waiting for the sync to central...

[2017-10-11 20:34] hierynomus commented on #194
And it's already here: https://bintray.com/hierynomus/maven/smbj

[2017-10-11 20:34] #194 closed

[2017-10-12 08:41] ndimitry commented on #194
Really, thanks for your effort on creation of this lib and on enhancements! That's valuable!

[2017-10-12 09:32] atanuiitd opened #215 "Nested SMB2 share not connecting"
Hi ,

Suppose the share name is like \\100.96.21.43\Image\smbj
So the server name is 100.96.21.43
Share name is Image\smbj
Now this share is not getting connected .
smbjDiskShare = (DiskShare)smbjSession.connectShare(share);

But if the share value is only Image then it is getting connected .
But our requirement is to connect to Image\smbj share .

How to achieve this ?

[2017-10-12 10:51] hierynomus commented on #215
A share does not contain `\` characters far as I'm aware. So the share name is `Image`. However if you use DFS, then `smbj` might indeed be a DFS share name, in which case you should enable DFS in the config.

[2017-10-12 11:17] atanuiitd commented on #215
please let me know how to enable DFS .

[2017-10-12 11:18] debarghya85 opened #216 "Anonymous user not working for SMBv2"
Code:
---------
[code]

This is the exception trace:
--------------------------------
[code]

Details log:
------------------
[code]

[2017-10-12 11:30] gidravlic commented on #216
[code]

You MUST use share name instead share path. If you have MyShare\MyPath, you code will be:
[code]
and after work with your path MyPath

[2017-10-12 12:00] hierynomus commented on #215
`config.withDfsEnabled(true)`. But then still you would call `session.connectShare("Image").openDirectory("smbj")` or something similar.

[2017-10-12 12:04] hierynomus commented on #216
Nope, I don't think that's the problem @gidravlic. The problem is that the authenticated user ('anonymous') has no access to the given share. Check whether you've enabled guest access on the share. The user is correctly authenticated as you have a session.

[2017-10-12 12:05] hierynomus commented on #212
@tak4625 Have you tried it? In theory it should work as I've tried to follow the `MS-DFSC` spec. In practice I could've made a mistake :)

[2017-10-12 12:07] hierynomus commented on #158
In a cluster I don't think you should have a thread on a differnet machine handle your IO ;) I'm closing this as I really think we're doing nothing that prevents SMBJ from being used in a JEE container.

[2017-10-12 12:07] #158 closed

[2017-10-12 12:15] debarghya85 commented on #216
sharepath is the variable name.. actually value is only share folder name.

[2017-10-12 23:58] tak4625 commented on #212
I tried it, but have become the error. The test cord is follows.
[code]

The following exception occurs. (The authentication seems to be success.)
[code]

AD domain is "polaris.local" and domain-based DFS namespace is "\\\\polaris.local\PublicDocs".
I can connect to DFS by Windows Explorer.

[2017-10-13 06:34] atanuiitd commented on #215
Hi ,
please give me concrete examples for accessing nested share like
\\a\b\c\d.iso

[2017-10-13 10:13] ecki commented on #215
There is no such thing as a nested share, a UNC path consist of \\server\share\dir\dir\file

[2017-10-13 10:23] pepijnve commented on #215
The closest thing I can think of are DFS referrals as @hierynomus already mentioned. But I don't think that's the issue here.

@atanuiitd you need to connect to the share and then open the file. Something like this
[code]

[2017-10-13 11:15] atanuiitd commented on #215
Thanks for the code snippet .

[2017-10-13 11:30] hierynomus commented on #215
@atanuiitd Can we close this ticket?

[2017-10-13 11:37] atanuiitd commented on #215
sure .
Please close this ticket

[2017-10-13 11:50] #215 closed

[2017-10-13 12:06] hierynomus commented on #216
@debarghya85 Have you tried to use the `AuthenticationContext.guest()` credentials?

[2017-10-13 12:49] git-aleksey opened #217 "Domain-based DFS access"
Hi,
I'm trying to connect to domain-based dfs but instead of connecting to the DFS share, it resolves the domain name to the domain controller and tries to find the share there.
So:
\\\\vn.northgate.com\SMB2_Domain is resolved to \\\\dc\SMB2_Domain where dc is the domain controller for the domain. Connection fails with STATUS_BAD_NETWORK_NAME as it can't find the share.

Is there anything specific

[2017-10-13 13:36] debarghya85 commented on #216
No. I have not tried. Will try and let you know on 16th oct. But is guest
work as anonymous. In guest i found that username is guest.

On 13-Oct-2017 5:36 PM, "Jeroen van Erp" <notifications@github.com> wrote:

[2017-10-13 13:50] hierynomus commented on #216
THey're 2 different concepts indeed. And they are thus also different in what they can access.

[2017-10-13 14:16] git-aleksey commented on #217
Closing this as there is another thread regarding this. Will join that discussion.

[2017-10-13 14:16] #217 closed

[2017-10-13 14:20] git-aleksey commented on #212
I'm having the same issue. What I found is that instead of connecting to the DFS share, it resolves the domain name to the domain controller and tries to find the share there.
So:
\\vn.com\Share is resolved to \\dc\Share  where dc is the domain controller for the domain. Connection fails with STATUS_BAD_NETWORK_NAME as it can't find the share.

[2017-10-15 18:58] pepijnve commented on #212
@git-aleksey I tried reproducing this issue today but it seems to work fine for me. Could you describe the structure of your DFS namespace in a bit more detail?

That's actually how the DFS client is supposed to work as far as I can tell, but I might be overlooking some subtlety in the spec.

[2017-10-16 05:13] debarghya85 commented on #216
No its not working for guest as well. Same error is given by SMBJ. Also I need Anonymous access, not the guest access.

[2017-10-16 11:11] git-aleksey commented on #212
@pepijnve I setup a simple testing environment in Azure:  virtual network consisting of 3 servers (all Server 2012 R2) one of which acts as the domain controller.  I configured a domain-based dfs namespace with the root target on one of the servers:
vn.com – domain name
dc – Domain controller for vn.com
Share – DFS root
server1 – root target server
So the dfs root for the namespace is at \\vn.com\

[2017-10-16 11:13] pepijnve commented on #212
Ok, that explains why it worked for me. I had configured a namespace on a DC and was using the DC as root server as well.

[2017-10-16 11:43] git-aleksey commented on #212
Great. Is this something you are thinking to add to the next release or there is a backlog?

[2017-10-16 11:54] hierynomus commented on #212
@git-aleksey It would really help to have access to a testing environment for this :).

We would need to see which step of the MS-DFSC spec it wrongly interpreted/implemented. Can we use your testing environment?

[2017-10-16 12:00] pepijnve commented on #212
@hierynomus do you or your company have access to an msdn subscription? If you can spin up a couple of windows server VMs it'll be pretty easy to reproduce.

[2017-10-16 12:11] git-aleksey commented on #212
Sure. just looking at it now. Will set it all up and drop you the details on jeroen's email.

[2017-10-16 12:44] hierynomus commented on #216
Can you capture a TCP dump from the windows attempt to connect to the share, and the SMBJ attempt? ANalyzing those should point to where they're different.

[2017-10-16 12:44] hierynomus commented on #213
@brielga any update?

[2017-10-16 15:10] brielga commented on #213
Hi, sorry about not updating here.
The issue was that I didn't know the correct servername, sharename and share path. I was using the whole path sharename/sharepath in the session.connectShare() parameter.
So I fixed it using session.connectShare(<shareName>) and then DiskShare.openFile(path + filename, ...)

[2017-10-16 15:21] #213 closed

[2017-10-16 18:03] brielga opened #221 "Is there other option than user/password for authenticate?"
So, my problem is that I'm trying to avoid username and password in my project properties.
Are there other options for atuhentication?

[2017-10-16 18:23] pepijnve commented on #221
Kerberos authentication using the [GSSAuthenticationContext](https://github.com/hierynomus/smbj/blob/master/src/main/java/com/hierynomus/smbj/auth/GSSAuthenticationContext.java). Not something I have much experience with myself in practice I'm afraid, so I can't help you much more than that.

[2017-10-16 19:20] pepijnve commented on #212
@git-aleksey I was able to reproduce what you're seeing locally and have a first draft of a fix ready in the referenced PR. In short, smbj was missing a small part of the DFS puzzle when the server hosting the DFS namespace is not the DC.

[2017-10-17 04:38] debarghya85 commented on #216
for Windows also smbj is not working for anonymous. But its(anonymous access) working for SMBv1 with jcifs library.

[2017-10-17 07:16] Varsha-Nagarajan commented on #216
I have a samba server setup on linux and on that both guest and anonymous authentication is working fine with the latest release of smbj. Maybe your share has not been configured properly. Could you additionally share that configurations you used to set up the share?

[2017-10-17 08:06] Sarada189 opened #223 "When will smb 3 protocol supported in subj?"

[2017-10-17 08:06] pepijnve commented on #223
Duplicate of #96

[2017-10-17 08:22] debarghya85 commented on #216
@Varsha-Nagarajan , Can you please inform what are the things to do while configuring in linux to support anonymous auth?

[2017-10-17 08:29] john-latham commented on #151
KRACK makes this enhancement rather more urgent, IMO, since we can no longer rely on wifi security to prevent eavesdropping of data in transit.

[2017-10-17 10:47] Varsha-Nagarajan commented on #216
My smb.conf looks like below:

[content-repo]
        browseable = yes
        path = <path to repo>
        guest ok = yes
        read only = yes
        public = yes
        available = yes

Also, under [global] we need to provide :
 usershare allow guests = Yes
 max protocol = SMB2  --> needed for sles11 boxes but for sles12, I guess you need to specify only the min protocol or else it default

[2017-10-17 11:28] debarghya85 commented on #216
Thanks. I will check.

[2017-10-17 13:38] git-aleksey commented on #212
@pepijnve Great! When do you think we will have a release with the feature in? Most of our customers itching to turn SMB1 off. Would like to give them some timescales.
Thanks guys btw. Awesome job with the library!

[2017-10-17 13:50] pepijnve commented on #212
¯\_(ツ)_/¯ That's up to @hierynomus

[2017-10-18 16:00] ahbonsu opened #224 "Get current "share" as DiskEntry"
Is it possible to get the current share I'm connected to (connectShare("share")) as DiskEntry?

I tried with \\, \\., ..\\share, etc.

Example:
`DiskEntry de = diskShare.open("\\.",
    			EnumSet.of(AccessMask.GENERIC_ALL),
...
`
Thanks for any advice!

[2017-10-18 16:16] kevmct commented on #224
Not sure what you would want to achieve with that? As far as I've understood the lib, the share can be represented as a DiskShare. While DiskEntry represents files/directories.

`DiskShare share = (DiskShare) connectShare("share")
DiskEntry entry = share.open(...);`

[2017-10-18 17:18] pepijnve commented on #224
You need to use an empty string for that.

`DiskEntry de = diskShare.open("", EnumSet.of(AccessMask.GENERIC_ALL), ...`

[2017-10-19 12:20] ahbonsu commented on #224
@kevmct  because the share itself is also a directory, I thought this would be possible. At least it would come in handy for my Implementation of smbj.

@pepijnve I already tried that, resulting in:
`Exception in thread "main" com.hierynomus.mssmb2.SMBApiException: STATUS_SHARING_VIOLATION(3221225539/3221225539): Create failed for
	at com.hierynomus.smbj.share.Share.receive(Share.java:364)
	at com

[2017-10-19 12:27] pepijnve commented on #224
`STATUS_SHARING_VIOLATION` means someone else has the directory open and you didn't specify any compatible sharing modes yourself. Could you give `SMB2ShareAccess.ALL` instead of `EnumSet.of(SMB2ShareAccess.FILE_SHARE_READ)` a try?

See the table at https://msdn.microsoft.com/en-us/library/windows/desktop/aa363874(v=vs.85).aspx for the details. This discusses the Win32 CreateFile function; SMB ser

[2017-10-19 13:57] ahbonsu commented on #224
Wow, thanks for that superb explanation - works like a charm!

[2017-10-19 14:25] sovesky opened #225 "Can't connect to server: "java.io.EOFException: EOF while reading packet""
Thread #168 addresses an issue trying to connect to a server that only supports smb v1.

At the moment I'm observing a similar behaviour in my tests of smbj v0.4.0 where I can't connect to a server, resulting in the stacktrace at the bottom.

I can confirm that the target server has min protocol = NT1 and max protocol SMB3, which I believe means it should accept connections using SMB2. Am I forced

[2017-10-19 14:41] pepijnve commented on #225
Looks like the server is terminating the connection from its end. You could try enabling multi-protocol negotiation. Use `SmbConfig.builder().withMultiProtocolNegotiate(true).build()` as config.

[2017-10-19 14:56] sovesky commented on #225
I tried doing that, getting the same response as in thread #168:
com.hierynomus.mssmb.SMB1NotSupportedException: SMBv1 is not supported by SMBJ

As mentioned in the original post, if we set up min protocol in that server to SMB2, the connection is successful. Is it safe to assume that SMBJ can't detect the min protocol established in the target server?

Thank you

[2017-10-21 07:19] chrisgch commented on #221
Where is Kerberos authentication used? I'm using smbj in my free Android app, and had to remove all GSSApi related classes because org.ietf.jgss and com.sun.security.jgss isn't available on Android. Normal Windows and Linux servers don't seem to use Kerberos/GSS?

[2017-10-21 07:25] pepijnve commented on #221
Kerberos is used quite extensively in Windows. Not really the best reference, but have a look at https://en.wikipedia.org/wiki/Kerberos_(protocol)#Microsoft_Windows.

Anyway, this might not be what your looking for. What kind of solution did you have in mind?

[2017-10-21 08:25] chrisgch commented on #221
Just normal SMB share access, mainly to Windows 10 where SMB1 is now disabled on new installations. So far I have used the jcifs library, but it is SMB1 only. smbj is working great on Android even with Kerberos removed, that's why I'm wondering where it is used. Maybe only in corporate environments (e.g. active directory)?

[2017-10-21 18:57] ecki commented on #221
Yes, if the domain is set up for it the Windows Integrated Authentication uses Kerberos. IWA uses SPNEGO to allow initiators and acceptors to negotiate either Kerberos or NTLMSSP.

[2017-10-22 06:50] chrisgch commented on #221
Unfortunately I have to pass, I don't know enough about Kerberos negotiation to get this to work. As I understand it, smbj does not request a Kerberos ticket from the KDC (Key Distribution Center). It expects a Kerberos ticket as the last parameter to GSSAuthenticationContext. It then uses that ticket for logging into the SMB server. Since Android isn't logged into a domain (contrary to a Windows

[2017-10-23 01:52] tliebeck opened #226 "Win 10 Fall Creators Update (build 1709) buffer underflow error in SMB2Error"
I'm seeing an SMBRuntimeException which is wrapping a BufferException "Underflow" on mosts tasks with Windows 10, build 1709 ("Fall Creators Update").

This appears to happen any time it sees a non-success status, which of course includes statuses like NO_MORE_FILES, or any time SMB2Packet.readError() is invoked.

The underflow is occurring when the SMB2Error object attempts to skip over the Error

[2017-10-23 08:18] tliebeck commented on #226
As far as I can tell....they broke it.  Take this opinion with a grain of salt as it's the first time I've looked at the actual SMB2 specification.

I see that last byte that you're expecting is described here in the SMB spec:

And the ByteCount field is zero.  I also checked the "StructureSize" field and it's set to 9, as per spec.

[2017-10-23 09:47] hierynomus commented on #226
Indeed, it seems that they broke it. I already toyed with the idea of adding a Compatibility mode. This one would fit in nicely ;). I'll leave it open for now. Have you registered a bug with MS already?

[2017-10-23 09:50] hierynomus commented on #225
@sovesky This is a server misconfiguration issue. If you enable the `withMultiProtocolNegotiate` as @pepijnve suggested, and you're getting a `SMBv1 is not supported` error, then the server does not accept SMBv2 connections, but forces SMBv1.
Which server OS/version are you connecting with?

[2017-10-23 09:50] hierynomus commented on #216
@debarghya85 Any update?

[2017-10-23 09:51] pepijnve commented on #226
@hierynomus perhaps smbj should apply [Postel's Law](https://en.wikipedia.org/wiki/Robustness_principle). A compatibility mode might be interesting when smbj needs to generate non-compliant requests. For responses it's much more convenient for users that it just works.
Or perhaps 'compatibility mode' should be on by default and allow it be switched off (or enable an optional strict mode) for peopl

[2017-10-23 11:05] pepijnve commented on #226
![screen shot 2017-10-23 at 13 02 59](https://user-images.githubusercontent.com/225326/31885932-86f515f8-b7f2-11e7-8b58-fb5bc0035533.png)

FWIW wireshark agrees. I tried connecting from macOS as well; that doesn't have the same issue, but it negotiates SMB dialect `0x0302`. So it seems like the SMB only some dialects (`0x0210` in my test case) are broken.

[2017-10-23 11:34] tliebeck commented on #226
@hierynomus I've not reported it to MS yet, I'm not terribly familiar with MS development community.  Is there a means to report this as a developer rather than end-user/consumer?  Worried it will get lost among the noise of "my wifi router is blinking funny" type bug reports.

[2017-10-23 13:29] pepijnve commented on #221
If that's the case, can't you prompt for the username/password? Something like this

1. authenticate using the anonymous context
2. if that fails, prompt for username/password
3. create a username/password authentication context and authenticate again

[2017-10-23 17:12] hierynomus commented on #226
Fixed with #227

[2017-10-23 17:12] #226 closed

[2017-10-24 07:04] chrisgch commented on #221
Yes, that's exactly what I'm doing now, and it's working great! I create an AuthenticationContext and then call authenticate(). However, authenticate only supports NTLM/NTLMv2 logins. GSSApi is only used when creating a GSSAuthenticationContext. But this needs a GSSCredential as the last parameter, so it requires that you are already connected to the domain in order to use GSS/Kerberos. That's why

[2017-10-24 07:23] pepijnve commented on #221
If you would want to go the Kerberos route (but honestly I don't see why you would bother with it if you have something working with NTLM) https://github.com/cconlon/kerberos-android-ndk looks like something that might be a good example to start from.
You don't necessarily have to be joined to the domain to use this, but you do need to ensure that the clocks of the KDC (the domain controller) and

[2017-10-26 11:21] #224 closed

[2017-10-29 11:58] yoosYyd opened #228 "Documentation of library API ?"
How to use this lib, if documentation is not exist ?

[2017-10-30 09:09] djdkedev opened #229 "NetShareInfo502 support?"
Does SMBJ library support 'NetShareInfo502' structure to get  'shi502_security_descriptor' ACL information? Refer:https://msdn.microsoft.com/en-us/library/windows/desktop/bb525410(v=vs.85).aspx

Thanks,
Dhananjay

[2017-10-30 09:13] pepijnve commented on #229
Share information is accessible via the MS-SRVS RPC interface. There's basic support for that in an add-on project called [smbj-rpc](https://github.com/rapid7/smbj-rpc/blob/master/src/main/java/com/rapid7/client/dcerpc/mssrvs/ServerService.java). It doesn't support NetShareInfo502 at the moment it seems, but that's something that should be straightforward to add.

[SecurityDescriptor#read](https:/

[2017-11-01 14:37] yoosYyd opened #231 "java.lang.VerifyError: com/hierynomus/smbj/auth/SpnegoAuthenticator"
What may be wrong ?

`dependencies {
    compile fileTree(include: ['*.jar'], dir: 'libs')
    androidTestCompile('com.android.support.test.espresso:espresso-core:2.2.2', {
        exclude group: 'com.android.support', module: 'support-annotations'
    })
    compile 'com.android.support:appcompat-v7:26.+'
    compile 'com.android.support.constraint:constraint-layout:1.0.2'
    testCompile 'junit:

[2017-11-02 03:33] #229 closed

[2017-11-02 12:31] atanuiitd opened #232 "Junk file created in SMBv2 based CIFS share"
Hi ,
While accessing SMB2 based CIFS share some junk files of size (0 KB ) gets created .
Although they are not affecting any functionality , they should  not get created .
These file has name like

a02a7978-6f86-424e-9924-f7f54174c567
3da0dee6-e2a7-4ba8-bc47-c72d49033d97

Any idea why are these files get created ?
Sometimes it is found that they are not created .
I mean the issue is intermittent.

[2017-11-02 12:42] hierynomus commented on #232
Those are uuid file names. This is not something smbj does as far as I'm
aware. Isnt this internal to how you use the library? I have not seen this
in any tests.

Op 2 nov. 2017 13:31 schreef "atanuiitd" <notifications@github.com>:

[2017-11-03 04:33] atanuiitd commented on #232
Not understanding "Isnt this internal to how you use the library?".
Can you please elaborate more ?

[2017-11-03 04:50] NadigNikhil opened #233 "How to check if a file can read or written into"
We have a requirement to check if we can read a file or we can write into that file. Is there any way can we achieve this using the SMBJ. Currently using version 0.3.0.

Requirement is that we need to check if the file can be read and only then we need to read it.
Similarly we need to check if the file can be written and only then we need to write into it.

[2017-11-03 08:29] pepijnve commented on #233
The SMB protocol doesn't provide a dedicated message for this. Try to open the file for read and/or write purposes (see the AccessMask parameter) and see if you get permission denied errors or not.

[2017-11-03 12:11] hierynomus commented on #232
What I mean is that this is probably in your own code somewhere, where
you're calling the SMBJ APIs. SMBJ doesn't create (temporary) UUID
filenames by itself.

2017-11-03 5:33 GMT+01:00 atanuiitd <notifications@github.com>:

[2017-11-03 12:15] atanuiitd commented on #232
I cant delete this file also .It is telling File Access Denied while trying to delete the file .
It is also seen that this file is created when CIFS share has read,write access .
In case of read only CIFS share this is not created .
Does that mean while writing to the CIFS share anything is fishy ?
My code is as bellows ::
com.hierynomus.smbj.share.File smbjFile = null;

accessMasks.add(AccessMask