[2018-09-21 05:46] mtamassia commented on #384
@pepijnve I am sending attached the two captures. One for Windows and one for SMBj.

For SMBj you can see the loop in action when downloading the file JDE_719207.log.

Unless I am reading this incorrectly, if you look at packet 2, you will see that the Negotiated Max Read Size responded by the server is 65536 (not 0) so I am not sure what's going on.

[Capture.zip](https://github.com/hierynomus/sm

[2018-09-21 06:07] pepijnve commented on #384
Indeed definitely 64k in the negotiate response. I'm going to have to use you as teletype since I can't test this myself. What I would suggest you do next is, using the code that generated this trace, to run the code with the debugger and put a breakpoint in the negotiate response unmarshalling code in smbj. Also have wireshark running at the same time. When you hit the breakpoint, have a look at

[2018-09-21 06:09] pepijnve commented on #384
The good news is that we shouldn't have to add special logic to deal with `maxReadSize == 0` in smbj. Adding some parameter validation during the negotiation and throwing an exception is enough for now I think and will avoid the infinite loop already.

[2018-09-21 06:10] mtamassia commented on #365
@hierynomus I think can easily send a PR for the Keepalive. Before I spend time on it, let me know if you have already done anything with it.

I was going to modify SMBConfig to allow for enabling/disabling keepalive with a default of disabled.
Then modify the AsyncDirectTcpTransport and DirectTcpTransport constructors to include boolean soKeepalive and use .setOption to enable/disable keepalive.

[2018-09-21 06:11] PrateepT commented on #389
@mtamassia  I've come across thread hang situation earlier during load tests and followed the solution mentioned in [#102](https://github.com/hierynomus/smbj/issues/102) started using connection.close(boolean true) and this is the reason I'm not using try with resources.
Is it possible to trigger connection.close(boolean true) try with resources?

I'll try two things today: (i) Reuse SMBClient ins

[2018-09-21 06:33] mtamassia commented on #384
Thank you @pepijnve . I have to coordinate access to the IBM server, which is on a segregated network but let me see what I can do.

[2018-09-21 08:15] #328 closed

[2018-09-21 08:46] gauravpanday007 opened #390 "Help needed: folderExists() of Diskshare.java always returning true"
Hello Team,

I am trying to check whether a folder is accessible for particular user or not, but folderExists() method is returning true for the users which don't have access to the folder.

Please see the scenario below:
\\servername\sharename\folder1\user1 - User1 has access to user1 folder
\\servername\sharename\folder1\user2 - User2 has access to user2 folder

But even when I pass the credenti

[2018-09-21 10:55] hierynomus commented on #390
Existence is `true`, as the folder exists. However you probably do not get write access to the folder.

[2018-09-21 10:59] hierynomus commented on #387
You're right @pepijnve, the goal of SMBJ is not to provide these higher level building blocks. It's also not that hard to write a basic recursive copy method. Contrary to what @pepijnve's company builds you probably do not need any of the corner cases. Just iterate the files, for a directory call mkdir and do an iteration of the subdirectory to copy its entries.

If you use the nio api's you could

[2018-09-21 10:59] #387 closed

[2018-09-21 11:01] hierynomus commented on #385
@sudhiksk Can you please clearly specify your question? What do you want to achive? Do you want to call a command line zip client on the remote end to zip a (directory of) file(s)?
Do you want to copy the files to your local machine and write them into a zip there?
Do you want to enable compression on the transport channel like for instance ssh can?

[2018-09-21 11:29] hierynomus commented on #384
Forgot to type the conclusion: IBM is not behaving according to the MS-SMB2 spec. We can work around it by checking in the InputStream whether there were `0` bytes returned, in which case we'll also signal EOF

[2018-09-21 11:53] pepijnve commented on #384
Well spotted; I hadn't looked beyond the negotiate exchange.

Indeed not compliant. Spec says the following in 3.3.5.12

On the SMBJ side, I agree that treating the case `request.MinimumCount > 0 && response.DataLength == 0` as an end of file as well is the best you can do. With a comment that this is not spec compliant but deals with certain incorrectly implemented servers.

Based on the windows

[2018-09-21 12:07] hierynomus commented on #384
Either that, or windows assumes that if less bytes are returned than the max requested, it is also EOF. Which in itself is also a dangerous assumption.

Also from MS-SMB2 in 2.2.20 SMB2 READ Response:

by DataOffset and DataLength. The minimum length is 1 byte. If 0 bytes are returned from the
underlying object store, the server MUST send a failure response with status equal to
STATUS_END_OF_FILE.

[2018-09-21 12:10] hierynomus commented on #384
This sentence in 2.2.20 actually means that we can trust that `response.dataLength` can be used as a terminator condition without the STATUS_END_OF_FILE being present.

[2018-09-21 12:30] #384 closed

[2018-09-21 12:31] hierynomus commented on #372
Closing this issue as it has been resolved.

[2018-09-21 12:31] #372 closed

[2018-09-21 13:15] hierynomus commented on #386
You can use SMBJ to connect to the share and then do an `instanceof PrinterShare` check.

[2018-09-21 13:16] hierynomus commented on #380
Is this resolved @ramlraml ?

[2018-09-21 13:29] hierynomus commented on #377
@pepijnve Do you know?

[2018-09-21 13:30] hierynomus commented on #362
@rahulgangarde Can you answer the questions?

[2018-09-21 13:46] mtamassia commented on #384
Thank you so much @hierynomus @pepijnve I will give it a test once a new release is out and report back.

[2018-09-21 14:02] pepijnve commented on #377
It's in the lookup response. See [LsarLookupSids](https://msdn.microsoft.com/en-us/library/cc234488.aspx). That returns a list of [LSAPR_TRANSLATED_NAME](https://msdn.microsoft.com/en-us/library/cc234461.aspx) which contains a [SID_NAME_USE](https://msdn.microsoft.com/en-us/library/cc234454.aspx) field.

[2018-09-21 14:03] pepijnve commented on #377
Also accessible in smbj-rpc. See https://github.com/rapid7/smbj-rpc/blob/master/src/main/java/com/rapid7/client/dcerpc/mslsad/objects/LSAPRTranslatedName.java#L106.

[2018-09-21 19:55] sudhiksk commented on #385
I wanted to zip files that are on shared location and put the zip there itself. Without copying the files to my local system.

I achieved this as below. Issue can be closed from my perspective.

public void zipFiles(String zipFileName, ArrayList<String> fileNames){
        try {
            String filePathParts[] = getPartsOfSharedPath(zipFileName);
            SMBClient client = new SMBClient();

[2018-09-21 21:12] #385 closed

[2018-09-24 06:48] gauravpanday007 commented on #390
Thanks for your reply :)

Just wanted to know Is there a way by which we can check if the folder has been shared or not with the user for which we are passing the credentials?

[2018-09-24 07:07] pepijnve commented on #390
You could try opening it with access mask value `MAXIMUM_ACCESS` and then query the actual access granted using the `FileAccessInformation` info level. `MAXIMUM_ACCESS` means grant the largest set of permissions I'm allowed to get. If you get access denied on the open then you definitely don't have access.

[2018-09-25 07:13] gauravpanday007 commented on #390
Hello @pepijnve , Thanks for your suggestions.

I tried what you have suggested. But I have few doubts, please have a look at my code snippet below.

com.hierynomus.smbj.share.Directory remoteSmbjDirectory = share.openDirectory(directoryPath,
EnumSet.of(AccessMask.MAXIMUM_ALLOWED), null, null, SMB2CreateDisposition.FILE_OPEN, null);

logger.info("Access Flag: " + remoteSmbjDirectory.getFileInforma

[2018-09-25 07:20] pepijnve commented on #390
Have a look at https://github.com/hierynomus/smbj/blob/1494c5ca68912c9d58331f0461c30ca16af65a59/src/main/java/com/hierynomus/msdtyp/AccessMask.java for details on how to interpret the access mask value. It's a bit field so a single access mask value corresponds to a set of access rights.

 They're easier to interpret in hexadecimal or binary notation. `128` or `0x80` means just `FILE_READ_ATTRIBUT

[2018-09-25 07:28] ecki commented on #390
Just a side note in many situations it is much better to simply try the operation you want to do and see if it fails, trying to re-implement alll semantics of access control often fails and you will get an error anyway.

Of course in your specific case there might be a reaason not to. In that case you would probably have to check for intended operations  (I.e. list directory if you need to scan or

[2018-09-25 07:29] gauravpanday007 commented on #390
Thanks a lot @pepijnve for your help.
May I know what are those utility methods to convert int value to Set<AccessMask>?

[2018-09-25 08:06] hierynomus commented on #390
`EnumWithValue.EnumUtils.toEnumSet(long, AccessMask.class);`

[2018-09-25 09:32] jansohn commented on #89
This would make switching from jcifs easier. To be honest, I expected `SmbPath smbPath = SmbPath.parse(smbUrl);` to work when I first tried to use this library.
We personally do not work with credentials in the URL so extending the `SmbPath.parse(...)` would be enough for us.

[2018-09-25 09:42] gauravpanday007 commented on #390
Thank you all for your help and suggestions.

Now when I tried opening to call the open() using Access Mask: READ_CONTROL, I am getting com.hierynomus.mssmb2.SMBApiException: STATUS_ACCESS_DENIED (0xc0000022): QueryInfo failed for SMB2FileId{persistentHandle=97 00 00 00 6d 00 00 00} exception even when the user is having the access. Please check my code snippet below:

com.hierynomus.smbj.share.Di

[2018-09-25 10:01] gauravpanday007 commented on #390
Hello guys,

I think I found the problem with my above code. I changed my code as below and it worked.

com.hierynomus.smbj.share.DiskEntry remoteSmbjEntry = share.open("path",
EnumSet.of(AccessMask.FILE_READ_ATTRIBUTES, AccessMask.FILE_READ_DATA), null, null, SMB2CreateDisposition.FILE_OPEN, null);
int accessFlag = remoteSmbjEntry.getFileInformation().getAccessInformation().getAccessFlags();
Set<

[2018-09-25 10:43] jansohn commented on #267
What was the reason for not filtering out `.` and `..` anymore? I can't think of any reason where this information would be useful when listing directory contents to be honest...

[2018-09-25 11:32] pepijnve commented on #267
The rationale is that smbj is trying to be a low-level smb client directory. As such it should not hide information that is returned by the server from the user. The `.` and `..` entries provide the requested info level data for the directory being queried and its parent directory. This can be useful information for some users; simply discarding would be making arbitrary decisions for the user of

[2018-09-25 11:45] sbarthelmess opened #391 "Amazing library!"
All I ask is that you please add a little more to your documentation - this should be the leading SMB library for Android!  It's head-and-shoulders above the latest JCIFS library I struggled with for over a week (due to no SMBv2 auth support, incomplete examples, outdated and sparse docs).

To get it to compile in the latest Android Studio (3.x), just add this to your gradle:
[code]
And if you cou

[2018-09-26 08:28] PrateepT commented on #389
OutOfMemory error is not occurring anymore.
(i) Reusing the SMBClient instance and (ii) connection.close() instead of connection.close(boolean true) has resolved the issue.

Thanks a lot for your help :+1:

[2018-09-26 08:28] #389 closed

[2018-09-26 12:50] rugpanov opened #392 "Symbolic links creation support"
I want to find the way to create a symbolic link on the smb share.

Could you suggest me the way how can I do it?

[2018-09-26 13:29] deepakggn commented on #287
Hello @hierynomus ,great work on the smbj, everything is working for my setup! Is SMB3 supported now by smbj? if not, then when would it be available ?

[2018-09-27 09:48] jansohn commented on #253
I've also compared the libraries (+ `jcifs-ng`) and concluded that `jcifs` (with large read/write patch) performs a bit better than `smbj`. I guess the difference lies within the protocols SMB1 and SMB2.

For SMB2 file transfers `smbj` performed better than `jcifs-ng`. I've posted the results here: https://github.com/AgNO3/jcifs-ng/issues/106

[2018-09-28 16:56] sahanjay commented on #342
@jborza This scenario could happen if you use same SMBClient for some times,

In first request, it setup "ReferralCache" and set expire time.
code :
this.expires = System.currentTimeMillis() + this.ttl * 1000L;

As a solution, i setup client for each request and close it. :) I hope this will help you guys.

* Unfortunately, i didn't find any way to update cache in conventional way. @hierynomus app

[2018-09-28 20:19] sudhiksk opened #393 "RemoveFile does not remove"
I'm trying to move a file from remote src to remote dest. I first copy the file and then delete the source file.

It works perfectly fine as an individual class, but when I have to use it in a bean class (.ear is deployed on liberty profile), Share.rm doesn't remove the file. It instead marks it as Status_Delete_Pending and gets deleted when I stop the server/JVM

[2018-09-28 20:57] hierynomus commented on #393
Correct, you need to close the File handle before the delete is performed.

[2018-10-02 13:17] TheRealHypo commented on #391
I support that !

But a little more in depth examples or explanation in Code would be perfect and is obviously missing so far. Takes a while currently to adapt our JCIFS Implementation to this library.

[2018-10-02 14:34] vicnumberone commented on #166
hi guys, can you tell me are you fixed problem with getting owner?
Now I can get only SID but not String value of that.
Thank!

[2018-10-02 16:14] sudhiksk commented on #393
Any help on this would be really appreciated.

My app deployed as an ear file on unix server has to look for certain files in a windows share, delete those files once processed so that they are not picked up again. But, since these are marked for deletion, these are picked up again and they error our when try to open this file.

[2018-10-02 19:00] ecki commented on #393
Can you actually delete the file locally? Maybe its just locked - Windows blocks deletes then. (I dont see a flaw in your  code - at least not in the part you have shown. When transfering the file you close it, right?)

[2018-10-02 19:50] hierynomus commented on #393
If you close the Share, the file should be deleted. But I see that you're also not closing the `File` object in the `moveFile` method. Please ensure that you close all closeable resources.

[2018-10-02 20:00] ecki commented on #393
yes your copy loop (writing to destination) is "transferring" the file. But anyway, no matter the termiinology, if you dont close the stream and the destFile it will be busy. (I am not sure why it stays busy when you close the client, however in all cases you need to close the inner resources. For the output stream it is particular important to close it and react to exceptions so you dont rename a

[2018-10-02 20:16] sudhiksk commented on #393
I tried that as well but it doesn't work. I had removed it from above code since those are autocloseable. As soon as I stop the JVM(I don't know what resources it is holding), it deletes the files.

I thought it be the EJBs that are having an object of my SMBJ Utility class, so I just did new SMBJUtility().moveFiles and it doesn't work as well.

I will keep looking, any other hints from you would

[2018-10-03 16:56] sudhiksk commented on #393
I somewhere found that file handler was not being closed. This solved the issue and can be closed.

However, i've another issue which I can open another chain if required. Below lines of code that writes the file. It creates a file with current date time. How can I make the new file have the same properties as the source file.

Set<SMB2ShareAccess> s = new HashSet<>();
    s.add(SMB2ShareAccess.AL

[2018-10-03 17:30] ecki commented on #393
You really should use out.close() instead of out.flush() or use TWR.

To your question I think you can use share.setFileInformation(path, info) with info being BasicFileInformation which has setters for the timestamps.

BTW instead of streams the utility methods in smbj seem to prefer using the share.write() with a InputStreamChunkProvider instead.

[2018-10-05 08:39] oleg30 commented on #393
sudhiksk, tell us please what file handler did you close and how, for solving this issue...

[2018-10-08 17:46] sudhiksk commented on #393
I had written a generic function getInputStream in my utility class and was being called from a different class. I was able to close the input stream in this class but filehandler was not closed.

[2018-10-15 16:44] TheRealHypo opened #395 "Closing Connection for one FileHandle, closes Share for every other."
So I wrote a Test today to see how fast we can merge our Application from SmbFile (Jcifs) to this one here.

But I now got some Problems while opening multiple file handles at once, and doing different tasks with each.

e.g. I open 4 different Files in the same folder, with a GENERIC_ALL mask. no problems there.

I write some stuff to one File, read other stuff from other File, delete another one

[2018-10-15 19:56] TheRealHypo commented on #395
If I call share.close() on a Single instance of this object, it won't close the share instances on the other instances of this obejct I have.

So e.g.
 a.getShare().close() would not close b.getShare()

a.getConnection().close() would close a.getShare(), but b.getShare() as well.

[2018-10-15 20:19] ecki commented on #395
That asumption might not be true, I see that connectShare returns cached instances. Maybe you can print their idendityHash or check for same object to verify: https://github.com/hierynomus/smbj/blob/master/src/main/java/com/hierynomus/smbj/session/Session.java#L135

[2018-10-15 20:30] TheRealHypo commented on #395
I've tested it earlier though via Evaluator. If I'm back at work tomorrow, I'll write a Test for that specific case. I'm pretty sure that I could use the share on other Instances, until I closed one of the other handles.

[2018-10-15 21:13] hierynomus commented on #395
A single client will try to reuse as much as possible, as it is specified in the spec to do so. So multiple sessions will be multiplexed over a single connection as long as they reside on the same target server. Same for multiple share opens by the same user, they will reuse the session, etc.

If you reuse the same client, only close the File's, but not the session/share. And only close the client

[2018-10-16 11:17] TheRealHypo commented on #395
So only close the DiskEntry not the Share, Session or Connection ?

[2018-10-16 11:29] pepijnve commented on #395
Indeed. In general, you don't want to create a new unique connection, session or share (tree connect) per file. Doing that would be pretty inefficient. There's quite some work involved in setting up and tearing down each of these.

[2018-10-16 11:40] TheRealHypo commented on #395
Thanks a lot then, I'll look now how good I understand that, and try to implement it.

What you are saying makes totally sense, but I never encountered a TreeConnect before (I'm just a 7th semester student), so I didn't really knew how to read the code in the back. Some Documentation would be perfect, to clear such things up 🙊

[2018-10-16 11:43] pepijnve commented on #395
The SMB specification is your friend 😄 See https://msdn.microsoft.com/en-us/library/cc246793.aspx for instance.

`TREE_CONNECT` is the name of the request in the specification that 'opens' the share.

[2018-10-23 13:47] gauravpanday007 commented on #390
As my issue has been solved, I am closing this issue.

[2018-10-23 13:47] #390 closed

[2018-10-23 18:54] MathOliveira commented on #383
Hello,
I am having the same problem in my code. Am I doing something wrong?

[code]

[2018-10-24 07:21] hierynomus commented on #383
@MathOliveira Which version are you using?

[2018-10-24 08:09] hierynomus commented on #383
I've just released 0.9.0 which should fix your issue.

[2018-10-24 09:23] KevinMcT opened #396 "Changelog"
Lib is great, and I'm currently using it.

However, my current implementation is set to version 0.5.1 of the library. And am currently planning on upgrading to the latest. And seeing that there is no changelog with each new release, I've got to manually go through the commits/issues to look for breaking changes and just push the version in to se what breaks.

Could we get a changelog with all new

[2018-10-24 10:11] RomanKarpliak96 opened #397 "STATUS_ACCESS_DENIED(3221225506/3221225506) on Isilon server"
I got STATUS_ACCESS_DENIED exception when trying to create a file on Isilon EMC NAS server running on Linux using CIFS.

![image](https://user-images.githubusercontent.com/41054638/47423327-646c9b80-d78d-11e8-9957-ffacea99144b.png)

User has full rights:
![image](https://user-images.githubusercontent.com/41054638/47423397-93830d00-d78d-11e8-9c3d-581565f3ca2b.png)

The same operation works on Windo

[2018-10-24 10:13] RomanKarpliak96 commented on #397
We can create a file in the isilon folder using windows explorer.

[2018-10-24 10:38] hierynomus commented on #397
Can you at least upgrade to the latest version (0.9.0)

[2018-10-24 10:39] RomanKarpliak96 commented on #397
@hierynomus, I will try and let you know

[2018-10-24 14:21] RomanKarpliak96 commented on #397
@hierynomus , Upgraded smbj to latest version but it didn't resolve the issue.

[2018-10-24 14:39] RomanKarpliak96 commented on #397
We can successfully connect to share but not able to create a file.

[2018-10-26 10:24] yin19941005 opened #398 "Question for signingRequired on SMB2NegotiateRequest"
Hi @hierynomus,

I am wondering why the value assigned is `0x03` on this line : https://github.com/hierynomus/smbj/blob/14c50735c448ab36d55f351b425cc3c3b5034174/src/main/java/com/hierynomus/mssmb2/messages/SMB2NegotiateRequest.java#L73

I checked the git history, you had changed it from `0x02` to `0x03` on this commit https://github.com/hierynomus/smbj/commit/4521a31e9d301256efc47372411f9679cd4227

[2018-10-26 16:38] mattdrees opened #399 "Implement java.nio.file.spi.FileSystemProvider"
I'd really appreciate the ability to use the java.nio.file api for reading from an SMB share. My usecase is pretty simple (read-only from a static share), and I'm migrating off of a local-filesystem-based solution, so java.nio.file would be way nicer than using smbj's api (as good as it probably is).

(Granted, I'm sure it's not *that* much to learn... but still)

[2018-10-30 15:19] viorelAlexandrescu commented on #35
Hello,

I've just started to use this lib and I found it very hard to make things work.
Is this issue still open? Are there more examples than in the README ?

Thanks

[2018-10-30 20:52] freddyMorera commented on #377
I forgot to mention my final solution to this issue, thanks to @pepijnve  and @hierynomus  for pointing me to the right direction.

The main issue I had is that the smb-rpc LocalSecurityAuthorityService doesn't expose the LSAPRTranslatedName during the response, it only returns an array of strings, so I extended it and added a method that exposes it. With that approach I was able to retrieve all t

[2018-10-30 20:52] #377 closed

[2018-10-31 08:15] vicnumberone commented on #152
hi all
The problem with
STATUS_PATH_NOT_COVERED (0xc0000257): Cannot connect to resolved path \\QA-SRVCLIENT01\dfs_share
can you help me with this?

[2018-10-31 11:15] TheRealHypo commented on #35
@viorelAlexandrescu There are some Tests/Specifications in the repository that helped me a lot to implement it in our application.

[2018-10-31 11:30] viorelAlexandrescu commented on #35
@TheRealHypo could you please provide a path towards those resources? thank you!

[2018-10-31 12:27] samrajcse opened #400 "NonDFS location throws ClassCast exception with 0.9 version"
Hi @hierynomus
Today I have upgraded the latest version and RAN the unit testcase and I am getting below exception with 0.9.0 version.

**Stack trace:**

Exception in thread "Packet Reader for <HostName>" java.lang.ClassCastException: com.hierynomus.smbj.session.PacketSignatory$SignedPacketWrapper cannot be cast to com.hierynomus.mssmb2.messages.SMB2IoctlRequest
	at com.hierynomus.mssmb2.SMB2Messa

[2018-11-01 12:22] cchet opened #401 "Check out the prototype of the camel integration of your library"
Hello guys,
I have started to implement a camel component for your library, because there is no proper support for newer versions of the SMB protocol in camel. Maybe you find the time to take a look at it, and give me some feedback about the usage of your library.

### This is the repository of the prototype:
https://github.com/cchet-camel-extras/camel-smbj
### This is the apache camel website:
ht

[2018-11-09 04:36] gakisou opened #402 "Signature verification for SMB2ChangeNotifyResponse fails"
Hi,
Recently I am trying to monitor a shared folder with this amazing library (smbj 0.9.0).
But I got warning messages about "invalid packet signature for packet" when received a SMB2ChangeNotifyResponse packet.

Please refer to the following picture.
![image](https://user-images.githubusercontent.com/44831793/48243408-9fc0c880-e423-11e8-8e5c-9467e074187c.png)

This blob length is 24 and there are

[2018-11-09 13:54] hierynomus commented on #402
Can you try with the fix in #404?

[2018-11-09 13:56] hierynomus commented on #401
Thanks for working on this. I'm wondering about the exact opposite, do you have any feedback on the APIs and ease of the library?

[2018-11-09 14:40] hierynomus commented on #400
Which unit test did you change? Can you give me the smallest reproducible sample testcase?

[2018-11-09 15:16] Vikas6206 opened #405 "API to copy the files from fileshare to my local machine"
I am new to SMBJ. Can anyone please let me know the  API to copy the files from fileshare (directory) to my local machine ?

[2018-11-11 17:34] oranoran commented on #287
Hi @hierynomus, nice to see the progress of this project!

So, it looks like SMB3 isn't supported yet. It's a major feature and with limited resources and SMB2 working so awesomely, understandably it's hard to make this come together.
My interest in SMB3 (and probably other folks' interest too) is about making use of SMB3's more advanced security features, especially encryption.

If there was some

[2018-11-12 08:14] gakisou commented on #402
It works like a charm. Thanks!
Sorry for the late reply.

[2018-11-12 09:08] #402 closed

[2018-11-12 15:34] demboos commented on #400
Got that too:

IntegrationTest.groovy, change the smb config to have .withDfsEnabled(true), run tests.

[2018-11-12 19:37] #400 closed

[2018-11-14 14:57] SpeckPgh opened #406 "DFS Reuse Session"
When leveraging DFS it appears to be creating a new nestedSession for every call to connectShare, even if it already has a nested session for the resolved host.   Is it possible to change the library to leverage existing nestedsession, rather than creating a new one every time?  Either by default or as a parameter on the SMBConfig?

EX:

2018-11-15 11:42:13.250  INFO 65213 --- [ead #10 - Split] c.

[2018-11-20 14:58] PrateepT opened #407 "Smbj dependecy 'mbassador' runtime dependencies (el-api-2.2.jar, juel-spi-2.2.7.jar, juel-impl-2.2.7.jar) conflicting with Websphere Application Server el-api."
Hello,

Smbj dependency 'mbassador' runtime dependencies (el-api-2.2.jar, juel-spi-2.2.7.jar, juel-impl-2.2.7.jar) conflicting with Websphere Application Server el-api (JEE6)

Currently I'm working with smbj-0.7.0 in web application which runs on WebSphere Application Server 8.5.5.11. All the network file operations work normally but when we access PriceFaces application xhtml pages with Ajax list

[2018-11-22 16:51] cchet commented on #401
camel-smbj is an camel component for the camel framework for accessing smb shares in an enterprise integration environment (for instance with [RedHat Fuse 7](https://www.redhat.com/en/technologies/jboss-middleware/fuse)). Camel provides a camel-jcifs component, but this one uses [JCIFS](https://www.jcifs.org/) which only supports smb 1 and is maintenance only. During a consulting session for one o

[2018-11-26 08:51] harisingh-highq opened #408 "Implementation of JCIFS SmbRandomAccessFile in SMBJ library"
@hierynomus / @pepijnve
We have a requirement of resume download file to handle interrupted download in case of network failed while downloading the large size file.
For that functionality, we have prepared a demo with JCIFS library.
**Below is code snippet for downloadFileServlet :-**
`package com.journaldev.servlet;

import java.io.Closeable;
import java.io.File;
import java.io.FileInputStream;

[2018-11-26 08:59] harisingh-highq commented on #408
throws IOException
{
    byte[] buffer = new byte[DEFAULT_BUFFER_SIZE];
    int read;
    if (input.length() == length) {
        // Write full range.
        while ((read = input.read(buffer)) > 0) {
            output.write(buffer, 0, read);
        }
    } else {
        // Write partial range.
        input.seek(start);
        long toRead = length;
        while ((read = input.read(buffer)) >

[2018-11-26 14:13] pepijnve commented on #408
An SMB file handle does not have an associated 'position' in the file, but it's easy to track that yourself in code like what you pasted above. Open the file for read access and pass the resulting `com.hierynomus.smbj.share.File` to your copy method. Declare a `long fileOffset` variable that starts at `0` or `start` and call `File#read`, passing the `fileOffset` variable as value for the `fileOffs

[2018-11-27 09:17] harisingh-highq commented on #408
@pepijnve Thanks for your response.

throws IOException
{
byte[] buffer = new byte[DEFAULT_BUFFER_SIZE];
int read;
if (input.length() == length) {
// Write full range.
while ((read = input.read(buffer)) > 0) {
output.write(buffer, 0, read);
}
} else {
// Write partial range.
input.seek(start);
long toRead = length;
while ((read = input.read(buffer)) > 0) {
if ((toRead -= read) > 0) {
output.write(

[2018-11-29 16:34] nddipiazza commented on #365
@mtamassia @hierynomus  did you work on this? we are getting bitten by this as well.

[2018-12-01 01:44] tellisnz opened #409 "New release request"
Hi there,

Just wondering when the next release is that will include #400 and #402 ? Is it possible to push these as a patch release to maven?

Cheers,

Tom

[2018-12-01 19:50] nddipiazza opened #410 "STATUS_INTERNAL_ERROR (0xc00000e5): QueryInfo failed for SMB2FileId"
We are crawling an extremely massive windows DFS.

When opening a directory, one out of the 10 DFS throws this error:

[code]

How can I figure out what the problem here is?

Code:

[code]

[2018-12-01 21:19] nddipiazza opened #411 "Can you include metadata of files when running "list" operations on a folder?"
The folder list operations are extremely fast.

Is there any way to list metadata along with the files? So that you don't have to fetch the metadata of each file one-by-one?

I was doing some research here: https://docs.microsoft.com/en-us/windows/desktop/fileio/listing-the-files-in-a-directory and this link makes it sound like it is possible?

[2018-12-03 05:43] nddipiazza commented on #411
@pepijnve i forgot to mention I saw that, looked into it, but could find no examples of metadata being fetched. I'll do some digging.

[2018-12-03 14:30] nddipiazza commented on #411
Excellent. Thank you!

[2018-12-03 14:30] #411 closed

[2018-12-03 20:16] ecki commented on #410
Can you open it with explorer and are there more than one server serving the file?

[2018-12-03 21:29] nddipiazza commented on #410
Good question! Will check.

[2018-12-04 08:22] pepijnve commented on #410
Error codes like this are reported by the server, so you usually have to go digging in log files on the server side to figure out what's going wrong exactly.
`DiskEnty#getFileInformation` performs a query using the `[FILE_ALL_INFORMATION](https://docs.microsoft.com/en-us/windows-hardware/drivers/ddi/content/ntifs/ns-ntifs-_file_all_information)` info class. I've seen that cause problems on other s

[2018-12-05 12:53] avi112211 opened #412 "exception when connecting to SMBv1"
Hi,

When I'm trying to connect to SMBv1 the following exception is printed to the console (which is fine):

[code]

But, I'm surrounding the connection with try catch, the exception is caught but also printed to the console.
can assist? I don't want it to be printed.

Thanks

[2018-12-05 12:55] pepijnve commented on #412
SMBJ itself does not print exceptions. Must be somewhere in your code.

[2018-12-05 13:59] hierynomus commented on #412
The SMBv1NotSupportedException is wrapped in an SmbRuntimeException. Are you catching the right one?

[2018-12-05 14:12] avi112211 commented on #412
this is the code:

SmbConfig cfg = SmbConfig
				.builder()
					.withMultiProtocolNegotiate(true)
					.withDfsEnabled(true)
					.withNegotiatedBufferSize()
				.withSoTimeout(10, TimeUnit.MINUTES)
					.build();
		SMBClient client = new SMBClient(cfg);
		try {
			Connection connection = client.connect(smbIp);
		}catch(SMBRuntimeException | IOException e) {
			System.out.println("error");
		}

I

[2018-12-05 14:20] avi112211 commented on #412
Can I do something in order to prevent it from printing?

[2018-12-05 15:13] pepijnve commented on #412
Set the logging level for `com.hierynomus.smbj.transport.PacketReader` to warn or higher.

[2018-12-05 19:39] nddipiazza opened #413 "Some way to get owner of a file?"
Is there any way to get the owner of a file from the file metadata?

[2018-12-05 19:49] nddipiazza commented on #413
Ah i found it

`_file.getSecurityInformation(of(DACL_SECURITY_INFORMATION, OWNER_SECURITY_INFORMATION))`

[2018-12-05 19:49] #413 closed

[2018-12-07 08:20] as8829412 opened #414 "url smb://share:share@13.250.102.143/home/data/ Connection timeout"
jcifs.smb.SmbException: Failed to connect: 0.0.0.0<00>/13.250.102.143
jcifs.util.transport.TransportException: Connection timeout
	at jcifs.util.transport.Transport.connect(Transport.java:174)
	at jcifs.smb.SmbTransport.connect(SmbTransport.java:307)
	at jcifs.smb.SmbTree.treeConnect(SmbTree.java:156)
	at jcifs.smb.SmbFile.doConnect(SmbFile.java:911)
	at jcifs.smb.SmbFile.connect(SmbFile.java:954)

[2018-12-07 08:21] hierynomus commented on #414
This is an exception from jcifs, not smbj

[2018-12-07 08:30] as8829412 commented on #414
![image](https://user-images.githubusercontent.com/31031777/49636073-861f9a80-fa3c-11e8-8f33-dd956fdbff86.png)

This is my use smb code：
![image](https://user-images.githubusercontent.com/31031777/49636284-2249a180-fa3d-11e8-8b71-cb0b1840d1bd.png)
But also report connection problems
![image](https://user-images.githubusercontent.com/31031777/49636357-54f39a00-fa3d-11e8-9bf1-e09b0c0fd604.png)

[2018-12-07 08:37] hierynomus commented on #414
The exception signals you have either a network problem, or the server is protected with a firewall

[2018-12-07 08:38] as8829412 commented on #414
thank you for your reply

[2018-12-09 07:40] avi112211 commented on #412
@pepijnve I followed your line of thought and set `com.hierynomus.smbj.transport.PacketReader` and `com.hierynomus.protocol.commons.concurrent.Promise` logging level to 'off'. The combination of those two did the trick. Thanks.

[2018-12-11 10:20] cliviu commented on #409
I subscribe to @tellisnz request. I know is not up to us to decide when the new release comes but just to let you know that is something there that is waiting for the fixes. Thanks again @hierynomus , @pepijnve for the amazing work !

[2018-12-11 14:10] hierynomus commented on #409
Released 0.9.1 ;)

Good luck guys!

[2018-12-11 14:10] #409 closed

[2018-12-11 14:11] hierynomus commented on #410
Also check the server side logs. They might shed more light on what the cause of the `INTERNAL_ERROR` was.

[2018-12-11 14:13] cliviu commented on #409
This was quick :-) Thanks !

[2018-12-12 08:02] j-m-baker commented on #347
A method of verifying an NTLM token sent by a browser through an SMB 2/3 connection.

[2018-12-12 16:00] cliviu commented on #342
hi, I have the same problem, several times and non-deterministic  with version 0.9.1

Caused by: java.lang.IllegalStateException: Could not find referral cache entry for DFSPath{[....com, ....]}
	at com.hierynomus.smbj.paths.DFSPathResolver.step9(DFSPathResolver.java:304)
	at com.hierynomus.smbj.paths.DFSPathResolver.step2(DFSPathResolver.java:140)
	at com.hierynomus.smbj.paths.DFSPathResolver.ste

[2018-12-13 08:55] cliviu opened #415 "NPE in DiskShare"
Hi,  Got NPE with 0.9.1 : Caused by: java.lang.NullPointerException
	at com.hierynomus.smbj.share.DiskShare.getDiskEntry(DiskShare.java:112)
	at com.hierynomus.smbj.share.DiskShare.open(DiskShare.java:67)
	at com.hierynomus.smbj.share.DiskShare.exists(DiskShare.java:187)
	at com.hierynomus.smbj.share.DiskShare.folderExists(DiskShare.java:183)

Last log lines before were :
2018-12-12 16:47:59,443|D

[2018-12-14 14:10] IrynaZhumatiy opened #416 "OutOfMemory error while doing an Excel file copy of size more than 200MB (few million records)"
Hello Team,

I have a problem during an Excel file copy of size more than 200MB (few million records) to network share.
It is occurred on this line of code:
arrayByteChunkProvider = new ArrayByteChunkProvider(IOUtils.toByteArray(fileInputStream), 0);

Could you please give me advice how can I fix this?
Thanks in advance!

[2018-12-14 14:23] hierynomus commented on #416
Well, you have 2 options;

1. Increase the heap size of your JVM, as it is probably too small to contain the entirety of your file in memory.
2. Don't use `IOUtils.toByteArray` to load the entire file in memory, but rather us the `InputStreamByteChunkProvider` to stream the bytes.

[2018-12-14 15:01] IrynaZhumatiy commented on #416
@hierynomus Thanks a lot for the quick reply!
And your second proposal has helped!
No error occurred!

[2018-12-17 05:40] nddipiazza opened #417 "Error while connecting to an `IPC$` share"
I am having issues with DFS when there exists an `IPC$` share.

Steps to reproduce:

1. Create a windows share.
2. Enable give `Everyone` access to read the shared folder.
3. Enable DFS and try to list directories.
[code]
4. Try to list all files in a share recursively and fetch their security contents too.
[code]

The problems I'm seeing are:

1. Notably these connecting messages spam in the logs

[2018-12-17 14:03] nddipiazza opened #418 "Socket write errors during authentication?"
I am getting some socket write errors during authentication.

Environment: I am using the DFS enabled flag, I am on Windows 2012 R2.

Note: I do not think this is related to https://github.com/hierynomus/smbj/issues/365 which refers to the `.close` operation throwing unwanted error noise in the logs.

[code]

I am on Windows operating system in this particular scenario.

I have seen Windows run ou

[2018-12-17 16:04] cliviu opened #419 "com.hierynomus.mssmb2.SMBApiException: STATUS_OTHER (0xffffffff): Cannot resolve path"
Hi, I have the following exception:
2018-12-14 16:38:04,408|DFSPathResolver               |INFO |Starting DFS resolution for \\host1.com\Share\Resource
2018-12-14 16:38:04,408|ProxySocketFactory            |DEBUG|Connecting to \host1.com\Share:445
2018-12-14 16:38:04,424|Connection                    |INFO |Closed connection to \host1.com\Share
2018-12-14 16:38:04,424|SMBClient

[2018-12-18 09:19] hierynomus commented on #416
Ok, closing this issue :)

[2018-12-18 09:19] #416 closed

[2018-12-18 09:23] hierynomus commented on #398
Yes, I think there were some issues indeed, not every server type correctly ignores the `ENABLED` bit. I need to do some digging.

[2018-12-18 15:52] nddipiazza opened #420 "When trying to download files, getting Signatures for packet SMB2_CREATE with message id <<#### >> do not match"
Env info:
* Windows Server 2012 R2 - single server, non-distributed file system.
* Smb3
* Java client run on Windows Server 2016 on JDK8 1.8.0_181

I am getting some `Signatures for packet SMB2_CREATE with message id <<#### >> do not match` errors when I am trying to access a specific windows share files. Some of the windows shares in my network work fine. Many however return these sorts of errors

[2018-12-18 15:53] nddipiazza commented on #417
i disabled DFS and the error showed to be https://github.com/hierynomus/smbj/issues/420
closing this issue.

[2018-12-18 15:53] #417 closed

[2018-12-18 15:54] nddipiazza commented on #418
This might actually be a side effect of whatever is causing this issue https://github.com/hierynomus/smbj/issues/420

[2018-12-18 18:09] nddipiazza commented on #410
Can't get access to the server logs. not sure what to do here.

[2018-12-18 20:48] hierynomus commented on #420
Hi @nddipiazza, I've just added an extra log line to the master. This will print the SMB2Header when the signatures do not match. That might give some extra clue as to what's going wrong.
Could you take a pull, build and post the log on the ticket?

[2018-12-18 20:54] hierynomus commented on #419
The cached referral has expired in your case (see: DFSPathResolver#140). Will dig into that.

[2018-12-18 20:56] cliviu commented on #419
Thanks !!

[2018-12-19 08:36] nddipiazza commented on #420
@hierynomus here you go

[code]

[2018-12-19 09:16] hierynomus commented on #420
@nddipiazza Thanks! The Status code of the SMB2_CREATE packet is STATUS_NOT_A_DIRECTORY. Which action are you performing?

[2018-12-20 02:37] yin19941005 opened #421 "Smb2 cancel request never signed and causing error"
Hi everyone,

### The Error
I found that the Smb2 Cancel Request is never signed even the client/server set the flag for `SMB2_NEGOTIATE_SIGNING_REQUIRED`. And the Server will reply a cancel response with error status, shown as following:
![cancelsigningissue_001](https://user-images.githubusercontent.com/23186757/50259610-c836dc00-043f-11e9-834d-61fa851efd76.png)

FYI, I had captured this packet

[2018-12-20 13:00] nddipiazza commented on #420
Here is the problematic file...

`smb://10.100.10.10/My/Path/Thumbs.db`

Interesting! I'll try excluding that file and see where that takes us.

[2018-12-20 14:03] nddipiazza commented on #420
OK now i know what's going on. On this share (not others), these are the calls that are crashing

https://github.com/hierynomus/smbj/blob/master/src/main/java/com/hierynomus/smbj/share/DiskShare.java#L168

https://github.com/hierynomus/smbj/blob/master/src/main/java/com/hierynomus/smbj/share/DiskShare.java#L182

In my code, I'm taking a plain smb URL `smb://10.100.10.10/myshare/my/path/to/somethin

[2018-12-20 14:07] pepijnve commented on #420
@hierynomus any idea why this would cause packet signing problems? There doesn't seem to be anything special about the message exchange itself, so that's kind of surprising. Seems like there's some problem in handling error messages in combination with signing.

[2018-12-20 20:40] nddipiazza commented on #420
if we could get it to just stop crashing and instead return some sort of error back to the promise that would help me at least get unblocked. because then it wouldn't crash the connection and make me reconnect.

[2018-12-21 02:45] nddipiazza commented on #420
I was told smb3 by the administrators but I never tried to prove it.

Looks like from https://serverfault.com/questions/770345/how-do-you-check-what-version-of-server-message-block-client-a-workstation-is-us I can check this myself. i will do this and let you know.

Does this library not support Smb1 or Smb2?

[2018-12-21 08:17] yin19941005 commented on #420
Hi @nddipiazza,

Actually this library is not supported SMB3 yet. But you are saying you are using it, so, I am just making sure you are not actually using it (i.e. you haven't change it) and I didn't go wrong direction on the very beginning.

[2018-12-21 08:51] hierynomus commented on #420
@yin19941005 SMB2 and 3 are the same protocol, just a slightly different dialect where SMB3 for instance allows encryption. If the server supports SMB3, most probably SMB2 (non-encrypted) is still also enabled, else it would've stopped at the protocol negotiation already.

@pepijnve Yes, I think there is a problem in the SMB2Error handling. We're probably missing the read of a few padding bits, wh

[2018-12-21 13:14] nddipiazza commented on #420
`Get-SmbConnection` reports version 3.0.2 of SMB.

I very likely cannot get wireshark installed on the server. I will try.

[2018-12-21 13:20] hierynomus commented on #420
Just the client, grab it from there.

Op vr 21 dec. 2018 om 14:14 schreef Nicholas DiPiazza <
notifications@github.com>:

[2018-12-21 13:41] nddipiazza commented on #420
Right. I have asked them hopefully they can get this for me. I cant install wireshark anywhere.

[2018-12-28 10:54] #421 closed

[2018-12-28 10:57] hierynomus commented on #421
Hi @yin19941005, I think I fixed this now on the current master. If you could go ahead and give that a spin, that would be great!

[2018-12-28 12:33] hierynomus commented on #412
@avi112211 I assume with your latest comment that your problem is solved. I cannot exactly follow why turning off those logger would fix it. As neither `Promise` nor `PacketReader` actually log the exception. Also the uncaught handler of the `PacketReader should not be called upon, as it is delivering the exception to the waiter (i.e. the client, as you can see in `Promise.deliverError`. But feel

[2018-12-28 12:36] hierynomus commented on #407
@PrateepT We don't use the `@Filter` annotation from mbassador (at this moment). However that is of course no guarantee it will never be used. I would recommend filing an issue with the mbassador team, to see whether they can provide a good workaround.

[2018-12-28 12:36] #407 closed

[2018-12-28 13:08] #398 closed

[2018-12-28 13:09] hierynomus commented on #398
See the comment on a9dc976. I've now set it to 0x02. If anyone will run into trouble, then we know why this was at 0x03. Thanks for spotting!

[2018-12-28 13:10] hierynomus commented on #399
I've added the `enhancement` label to this. It's not on the top of the list, but would be nice indeed

[2018-12-28 13:17] hierynomus commented on #405
From the `File` class:

https://github.com/hierynomus/smbj/blob/a9dc976595ebafd291e3313db391c3e7ce2964f0/src/main/java/com/hierynomus/smbj/share/File.java#L166-L173

[2018-12-28 13:17] #405 closed

[2018-12-28 13:19] hierynomus commented on #331
One option also now is to use the following method once you've obtained the remote File.
https://github.com/hierynomus/smbj/blob/a9dc976595ebafd291e3313db391c3e7ce2964f0/src/main/java/com/hierynomus/smbj/share/File.java#L166-L173

[2018-12-28 13:19] #331 closed

[2018-12-28 13:34] hierynomus commented on #414
@as8829412 Any update on whether you were able to solve it? Else I want to close the issue.

[2018-12-28 13:35] #412 closed

[2018-12-28 13:36] hierynomus commented on #410
@nddipiazza Any luck obtaining more information? Or was it solved using @pepijnve 's comment?

[2018-12-28 13:39] nddipiazza commented on #410
Waiting on wireshark to be installed. Thanks.

[2018-12-28 14:17] mattdrees commented on #399
Thank you!

[2018-12-28 15:44] andreasql commented on #331
thank you very muc, Jeroen... and have a happy new year :)
--
Andrea

[2019-01-04 03:18] #414 closed

[2019-01-09 14:35] IrynaZhumatiy commented on #397
@hierynomus Could you please provide any thoughts about this? Thanks in advance!

[2019-01-09 14:41] IrynaZhumatiy opened #422 "STATUS_ACCESS_DENIED(3221225506/3221225506) on Isilon server"
Hello All,

I get STATUS_ACCESS_DENIED error code during creating a file on Isilon EMC NAS server running on Linux using CIFS (share permissions for user are read/write, not full).
The same operation works fine on Windows share.

I have a potential fix: use AccessMask.**FILE_WRITE_DATA** for share.openFile method.

Could you please explain what is the root cause such behavior?
P.S. Previously the

[2019-01-10 01:33] dgodfrey commented on #399
Would you be interested in a pull request for this?

It'd be really useful, so I've been hacking around a bit over the holidays - but not sure whether to package as a separate jar or not.

[2019-01-10 09:54] hierynomus commented on #399
Hi @dgodfrey, definitely, feel free to submit a PR!

[2019-01-14 12:33] vamshikrishna1 opened #423 "close operation on smbclient is extremely slow when I run in Java 8"
I have attached the code snippet that creates 10 files in a loop with runtime IBM JDK 8.

In every loop, I calculated the time took to close the smbclient.

Few iterations took 60017ms to close the smbclient.

I see a substantial increase in the smbclient close time as I increase the number of iterations.

I have also attached the packet trace that also includes responses from the server.

We don'

[2019-01-15 11:19] Disablez commented on #419
Same problem here.

[2019-01-15 13:27] shankaranselvaraj opened #424 "SMBJ - SMB2_TREE_CONNECT"
I am trying to read the files from Samba server which is working fine and session is also not closed but getting below error. After restart the server it is working fine with TREE Disconnect issue. Is there anything related to opening of share path multiple time (as it is running in thread for more number of files) like this code session.connectShare(PATH) ?

11:29:42.255 [pool-13-thread-1] INFO

[2019-01-15 18:36] neoxpert commented on #423
Is there a particular reason why you are only closing the client but not the file, session and connection? Or why don't you reuse the connected client to create the files before closing it instead of recreating a client, connection, share .. within every iteration step?

I don't tink that the observed slowness is purely based on usage of Java 8 but also by your approach of using the client and its

[2019-01-16 07:51] cliviu commented on #415
Any thoughts about this ? What can cause the problem ?  The NPE occurs in the "if" line :
    SMB2CreateResponse response = responseContext.resp;
        if (response.getFileAttributes().contains(FILE_ATTRIBUTE_DIRECTORY)) {

Either "response" or the "fileAttributes"  must be null but I'm not sure what kind of external configuration can cause this problem ...

[2019-01-16 09:35] cliviu commented on #415
I have another hint: the DFS Resolution returns the same URL when the NPE is thrown ....

[2019-01-17 10:20] hdsdi3g opened #425 "Java 9-11 compatibility (illegal reflective access operation)"
Any chance to ride of this anoying JVM message:
[code]

Actually with this JVM:
[code]

Triggered by this code:
[code]

[2019-01-17 11:22] shankaranselvaraj commented on #424
Any help would be appreciated. Pls

[2019-01-18 10:37] Alexander-TX opened #426 "Packet Reader thread crashes with ArrayIndexOutofBound exception"
[code]

[2019-01-19 12:52] neoxpert commented on #422
Have you checked the server logs for hints why requests with the maximum_allowed access mask yield the access denied?

The only Isilon server I encountered this "problem" with simply did not support this access mask and required requests to be specific about what they shall do.

[2019-01-22 09:13] shankaranselvaraj opened #427 "SMBJ TREE DISCONNECT while iterating thousand of files"
I am trying to read the files from Samba server which is working fine and session is also not closed but getting below error. After restart the server it is working fine with TREE Disconnect issue. Is there anything related to opening of share path multiple time (as it is running in thread for more number of files) like this code session.connectShare(PATH) ?

11:29:42.255 [pool-13-thread-1] INFO c

[2019-01-22 12:11] hierynomus commented on #427
You need to figure out for which reason the transport got disconnected. That will be in another part of the logging.

[2019-01-24 09:59] shankaranselvaraj commented on #427
This is what i am getting in entire logs. it is not happening all the time it is happening intermittently. Need help on resolving. As of now , restarting application server resolving this issue., but need permanent fix

14:24:23.356 [http-nio-8080-exec-2] DEBUG com.hierynomus.smbj.session.Session - Notified of TreeDisconnected <<8275268

[2019-01-25 18:25] opaquewarellc opened #428 "Question: Does SMBJ works with SMB1"
SMBJ works well with SMB 2.x servers (Thanks). But I was unable to make it connect to SMB1 server. Is this compatible with SMB1?

[2019-01-25 18:48] pepijnve commented on #428
No SMBJ is an SMB >= 2.0 client library only. SMB < 2.0 (aka CIFS) is a completely different protocol.

[2019-01-29 10:22] yin19941005 commented on #421
Hi @hierynomus,

It looks cool for me. I tested in my environment and it works fine. Thank you!

[2019-01-31 09:24] borsik opened #429 "Question: Is there any way to get correct directory size?"
I'm trying to get correct directory size. `endOfFile` in `FileStandardInformation` works for file size, but for directories, it doesn't count nested files. Is there any way to correctly calculate nested file sizes without recursive traversal?

[2019-01-31 10:09] pepijnve commented on #429
I assume you mean the total amount of disk space used by all the files underneath a particular directory. As far as I know there's no way to get that directly with a simple query.
Filesystem typically don't keep track of this information themselves (APFS being a notable exception).

If I understand it correctly, the size of a directory is the size of the binary representation of the directory, i.e

[2019-02-06 08:43] niravravalhighq commented on #287
Hi @hierynomus
Great project works and works great with SMB2.x protocol. Now as I see this ticket conversion, I am also in need to migrate to SMB 3 protocol. Does that support added in SMBJ 0.9.1 or still in process?
Thanks.

[2019-02-06 13:19] ecki commented on #287
@niravravalhighq Can you comment which SMB 3 Features you would need to use? It is always helpful for priorisation (and I think none are yet in smbj)

[2019-02-06 15:23] TheRealHypo commented on #396
Any updates on that ? Currently using 0.9 but have no clue what's new in the Releases.

[2019-02-07 10:32] pepijnve commented on #287
The only protocol level changes that SMBJ will need to support are the mandatory encryption related ones. The other new features in SMB 3 are all performance optimisation related and are not essential for basic SMB 3 compatibility.

Azure Files is an SMB 3 only service; perhaps that could be a good candidate for compatibility testing.

[2019-02-12 16:09] TheRealHypo opened #430 "Question: Depth search for Files/Directories"
Hey, is there any way of realising a depth search for specific files ?

I tried manually to implement a depth search with recursion and Directory#list(). But this is really really slow on a share with many directories, cause I have to share#open() every new recursion step individually, which takes up some time.

Or can I change any of the required parameters for share#open() to be "faster" e.g. on

[2019-02-12 16:24] pepijnve commented on #430
If I understand you correctly you're trying to do something like `find . -name <some name>`. If that's the case, no there's no way to accelerate that besides doing a full recursive directory listing. Best you can do is parallelise the process rather than doing the scan single threaded. There's no way to parallelise listing of a single directory, but you can list multiple directories in parallel.

[2019-02-12 16:27] pepijnve commented on #430
BTW, be sure to use `Directory#iterator` instead of `Directory#list` for this. Directory listing over SMB is done in chunks. `list` will block until the entire directory has been listed and will hold all entries for the directory in memory. `iterator` only holds on to one chunk and will fetch the next chunk when needed. This allows you to stream the results which will be much less resource intensi

[2019-02-12 16:47] TheRealHypo commented on #430
That good to know. I'll test that tomorrow. Though biggest performance
impact in my test case was definitely the open() calls. :/

On Tue 12. Feb 2019 at 5:27 PM, Pepijn Van Eeckhoudt <
notifications@github.com> wrote:

[2019-02-13 19:07] nddipiazza commented on #420
Experienced this error again with another client. we will try to get you wireshark from them.

[2019-02-14 01:10] grephe opened #431 "Question: smbconfig timeout"
When a smb client attempt to upload a file to a disconnected server, it will wait for approximately 2 min before it throw an exception. Which parameter in smbconfig should i configure to reduce the wait time?

Is there any way to close/timeout a connection that is idle for a specified duration?

[2019-02-14 09:02] grigsogomon opened #432 "Is SMB v3.x in fact supportes in smbj-0.9.1?"
Below test code throws an exception saying "SMB 3.x support is not yet implemented". Exception is thrown from "SMB2NegotiateRequest.putCapabilities(SMBBuffer buffer)" method.

Below is the code snippet that opens the connection. The ides is to establish connection with server which supports any of the mentioned dialect version.

        SMB2Dialect [] supportedSmdDialects = {
                SMB2D

[2019-02-18 13:16] arif10520 opened #433 "Question: how to detect SMB version?"
I am using JCIFS library for windows share on android, recently started using smbj 0.9.1 for smb v2/3 support. I need to support all three smb v1/2/3. Is there a way using smbj to detect the windows share version, if it is smb v1, then I use JCIFS library?

[2019-02-18 13:17] hierynomus commented on #433
Yes, configure `useMultiprotocolNegotiate()` in the `Config`. Then it
should throw a `SMBv1NotSupportedException` if the share only supports
SMBv1.

Op ma 18 feb. 2019 om 14:16 schreef arif10520 <notifications@github.com>:

[2019-02-18 14:14] gitvlad opened #434 "Is it necessary to display the logs about: "received packet and "Server granted...."?"
Is it necessary to display the logs about: "received packet and "Server granted...."?

I have code like this:

`SMBClient client = new SMBClient();

		try (Connection connection = client.connect(SERVER_ADDRESS)) {
			AuthenticationContext ac = new AuthenticationContext(remoteUser, remotePass.toCharArray(), "domain.local");
			Session session = connection.authenticate(ac);
			// Connect to Share

[2019-02-18 14:33] pepijnve commented on #434
What is or is not printed is determined by the logging framework you're using. If you don't want smbj logging you should configure the log level for the respective packages and/or classes according to what you want to see logged.

[2019-02-18 14:36] hierynomus commented on #434
In addition, this is all `debug` level logging, which you can turn off using your logging framework configuration as @pepijnve already indicated. I would suggest using `info` and higher. `debug` is useful during troubleshooting, which is why it is so verbose.

[2019-02-18 14:51] arif10520 commented on #433
Thank you very much!

[2019-02-18 15:01] gitvlad commented on #434
@hierynomus @pepijnve You're right.
Sometimes the solutions are simple ;)

[2019-02-18 15:17] hierynomus commented on #434
ok, closing this issue!

[2019-02-18 15:17] #434 closed

[2019-02-18 15:17] hierynomus commented on #433
Closing this issue.

[2019-02-18 15:17] #433 closed

[2019-02-20 10:26] VladSolfior commented on #344
@fiasko131, hello, I'm working on simiar things, so can I ask you some questions about implementation of listing shares on a server. my emai is: fuentes.vlad@gmail.com

[2019-03-01 09:18] Kitsune2222 opened #435 "How connect in Android?"
I'm try connect to 192.168.0.173 smb server, but get NetworkOnMainThreadException
val client = SMBClient()
Log.i(DEBUG_TAG, "Try connect to server")
val connection = client.connect("192.168.0.173")

`Caused by: android.os.NetworkOnMainThreadException
        at android.os.StrictMode$AndroidBlockGuardPolicy.onNetwork(StrictMode.java:1303)
        at java.net.AbstractPlainSocketImpl.doConnect(Abstra

[2019-03-01 09:21] ecki commented on #435
Android does not like network operations on the main thread, you have to start the activity in a new thread instead.

[2019-03-01 09:25] hierynomus commented on #432
Hi Grigor,

Correct, SMB3 support has nog been implemented yet. So smbj itself cannot claim to support that dialect.

[2019-03-01 09:26] hierynomus commented on #431
It really depends on where the exception is thrown from, i.e. during connecting, or is the client connected already and the server then drops out..

[2019-03-01 10:05] Kitsune2222 commented on #435
Thanks, in new thread all works!

[2019-03-01 10:20] grephe commented on #431
Thank for replying!

I have tested out in the following cases.

unsolved case:
The client was connected already and while it was uploading a large file, the server got disconnected from the network before the uploading complete. The program will simply hang for a long time(waited for 10min) or maybe forever until the server is is connected before it carry out the next lines of code.
I want it to t

[2019-03-01 10:24] #435 closed

[2019-03-04 14:24] mcvkr opened #436 "com.hierynomus.mssmb2.SMBApiException: STATUS_NETWORK_NAME_DELETED (0xc00000c9)"
please more info in this location

https://stackoverflow.com/questions/54984872/com-hierynomus-mssmb2-smbapiexception-status-network-name-deleted-exception

[2019-03-04 15:46] mcvkr commented on #380
Yes @hierynomus

[2019-03-04 15:46] #380 closed

[2019-03-06 09:01] burkolter commented on #420
Having the same issue here. Wireshark is difficult as we have the same error randomly occurring calling the same file over and over again. Max dialect on the server is 3.0.2.

Code to establish the connection:
SmbConfig config = SmbConfig.builder().withTimeout(DEFAULT_SMBJ_TIMEOUT, TimeUnit.MILLISECONDS)
	.withNegotiatedBufferSize()
        .build();

this.client = new SMBClient(config);
this.conn

[2019-03-06 11:54] burkolter opened #437 "PacketReader error close to SMB2_NEGOTIATE"
I see a strange behaviour in the logs trying to establish a connection to a share. The server administrator of my client claims that SMB1, 2 and 3 are enabled. This issue is also only seen on a specific server. Unfortunatly, he doesn't provide any further information on the server.

We are using version 0.8.0 of the library.

Is it save to say that the server is not supporting SMB2?

Remote access

[2019-03-10 19:18] master255 commented on #311
How can I set the size of this buffer?

I have a copy speed of windows 8.1 to windows 8.1 150MBIT.
Copy speed windows 8.1 to Android smbJ 75Mbit.
Windows 8.1 to jcifs-ng-2.1.3 55Mbit
Windows 8.1 to HTTP, FTP (both one thread and receive buffer about 2,5MByte) 140Mbit.
This significantly affects the playback of 4k movies in my application. Until this is fixed, it is not necessary to close this issu

[2019-03-10 19:37] ecki commented on #311
Do you have non-Android Numbers for smbj and jcifs-ng? Are your http/ftp numbers with android?

[2019-03-10 21:30] master255 commented on #311
No, i'm not have non-Android numbers for smbj and jcifs-ng.
Yes http/ftp speed from Android.
I used the same algorithm with pre-writing to RAM (ByteArrayOutputStream). But it does not matter...
I just tested the speed:
windows 8.1 to Android google / samba-documents-provider (samba) 100Mbit

[2019-03-10 21:43] hierynomus commented on #311
What does your code with smbj look like?

[2019-03-10 21:46] master255 commented on #311
This is a draft.

`SMBClient client = new SMBClient();
                            com.hierynomus.smbj.share.File smbFile1 = null;
                            long size = 0;
                            Connection connection = client.connect("server");
                            Session session = connection.authenticate(new AuthenticationContext(options.getLoginSMB(), options.getPassSMB().toCharAr

[2019-03-11 11:22] master255 commented on #311
@hierynomus , How I can set the size of read buffer?

[2019-03-11 12:00] burkolter opened #439 "Strange packet-signature failure"
Hi All

I see strange errors with the PacketSignatory (see log below). There seems to be a mismatch. The connection is closed afterwards.

We are using build 0.9.1 on debian linux to connect to a Windows-Share. The connection details are:

[code]

I'm using your library as in your examples except that I'm reusing the established share.

I'm stuck in the analysis. Do you have any recommendations fo

[2019-03-11 13:21] RomanKarpliak96 opened #440 "UNKNOWN status when authenticating to NetApp file share"
Hi All,

We are getting SMBApiException: UNKNOWN (4294967295/3221225473) Authentication failed for.. when authenticating to NetApp server.

NetApp analyzed packet captured by WireShark:
After the analysis of the packet trace they found that the issue happens in Session Setup Request, in which the "Host name" section in the Security Blob is NULL. This means that the client is not providing its host

[2019-03-11 13:52] hierynomus commented on #440
Sure, that makes sense I think, let me have a look at the MS-SMB2 spec and fill the values.

[2019-03-15 15:33] nddipiazza commented on #420
@hierynomus i have a scrubbed wireshark dump for this issue. can you send me an email? my g mail is nicholas.dipiazza
thanks

[2019-03-15 15:37] nddipiazza commented on #420
@hierynomus i have sent your email a scrubbed wireshark output file

[2019-03-15 21:09] ecki commented on #311
How big is `remoteReply`? That code is pretty messy with the BytearrayOutputStream and progress handlers, I would remove that for benchmarks. And also I would Test it on Desktop.

[2019-03-16 14:16] fiasko131 opened #441 "Upload smbj File to Cloud provider"
I'm trying to upload a file from my desktop to a cloud provider.
The application is develloped on Android with your library.
It works with DropBox and Box. By cons I have problems with oneDrive and GoogleDrive.
Here's how I get the inputstream:
[code]
In the case of GoogleDrive processing the inputstream I get this type of error:

    at okhttp3.internal.http1.Http1Codec$FixedLengthSource.read(Htt

[2019-03-16 18:11] master255 commented on #311
remoteReply is 131072 bytes in size. Dirty code or not, but it works and gives 140-180Mbit with FTP and HTTP protocols. And this is the maximum speed through this connection. Smbj under no circumstances gives such a speed.
And this is the best code if there is no direct access to the Socket. And the size of its receive buffer is not known.

[2019-03-18 08:31] vir2610 opened #442 "help wanted related to release notes of branches released in this project"
Can we manage release notes in this project so that we can easily track what is going in every branch release ?

Thanks

[2019-03-18 08:54] hierynomus commented on #311
What is the max speed you're getting over the SMB protocol, with which
implementation?

Op za 16 mrt. 2019 om 19:11 schreef Oleg <notifications@github.com>:

[2019-03-18 09:24] hierynomus commented on #441
Are you flushing the stream and closing it?

[2019-03-18 10:12] fiasko131 commented on #441
I can not because in the second case (for OneDrive) the downloader remains blocked and the last bytes of the inputstream seem inaccessible.

[2019-03-18 11:09] master255 commented on #311
The result of my testing. Through one algorithm, one connection, one and the same device and the same files.:
windows 8.1 SSD WIFI 5G AC to windows 8.1 150MBIT.  (possible after enabling "Tcp1323Opts" optimization)
windows 8.1 SSD WIFI 5G AC to Android google/samba-documents-provider (1.1) (samba NDK library) 100Mbit
windows 8.1 SSD WIFI 5G AC to Android smbJ (0.9.1) 75Mbit.
windows 8.1 SSD WIFI 5

[2019-03-18 13:55] master255 commented on #311
this app ;) https://play.google.com/store/apps/details?id=com.medialibrary.mycollection

[2019-03-18 15:00] RomanKarpliak96 commented on #440
@hierynomus , thanks for looking into this.
![image](https://user-images.githubusercontent.com/41054638/54539524-f4aab780-499e-11e9-8d2d-18da1e6c5101.png)
After analysis of packet captured from another file server I have noticed that client host is provided in session request.

We provide only username, password and domain when creating  com.hierynomus.smbj.auth.AuthenticationContext.

Do you have

[2019-03-18 15:04] burkolter commented on #437
I was having access to the remote "smb-client"-system. This indeed seems to be a version issue. The customer will make a last verification on the server itself.

[2019-03-18 21:35] hierynomus commented on #440
Hi Roman,

Can you check in which field the hostname is filled? My guess is that it is in the NTLM Negotiate. But there are 2 possible fields in there according to the MS-NLMP spec (DomainName, WorkstationName). Which one is required for NetApp?

[2019-03-19 13:23] RomanKarpliak96 commented on #440
Hi @hierynomus,

It is filled inside NLMSSP_AUTH request.
Host is required for NetApp to setup session successfully.
We only provide account and domain.

[2019-03-19 17:06] fiasko131 opened #443 "STATUS_REQUEST_NOT_ACCEPTED (0xc00000d0)?"
I get this error randomly when browsing the folders:

                                                                              at com.hierynomus.smbj.connection.Connection.authenticate(Connection.java:182)
                                                                              at com.techniwork.explorer.explorateur.FragmentNetworks$ListSmb2Shares.doInBackground(FragmentNetworks.java:333

[2019-03-19 20:24] hierynomus commented on #443
Looking at the documentation, there are 3 possible scenarios for this status. Without knowing your code and environment, I cannot say which one it is for you.

[2019-03-19 20:24] hierynomus commented on #443
https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-smb2/e545352b-9f2b-4c5e-9350-db46e4f6755e

[2019-03-21 00:51] subodhrathi opened #444 "What is the order to close the smb share, session, client?"
Hi,

This is my first time using the library.

I am getting following stack trace error while trying to close the share, connection, session, client in the following order.
share.close()
connection.close()
session.close()
client.close()

Can someone help me understand if I am doing something wrong here? I am building the client like this:
[code]
[code]

[2019-03-21 18:44] nddipiazza commented on #420
Hi @hierynomus  did you have a chance to see this? Thanks!

[2019-03-21 18:45] fiasko131 opened #445 "com.hierynomus.mssmb2.SMBApiException: STATUS_DIRECTORY_NOT_EMPTY (0xc0000101):"
I'm trying to delete a folder recursively. Here is the code I use:
[code]
The method works perfectly but I still have to delete the directories left empty. For that I fill a list with the paths of the directories to erase once they are empty.
[code]
This is where I get this execption while the directories in question are empty in my explorer ??

What am I doing wrong?

[2019-03-21 19:52] ecki commented on #445
You need to delete the deepest directory first. Instead of adding the Dir to a list you can do it after your list loop on `src`:

    ...
                Log.i("deleteSmb21",src1);
                 deleteRecursiveSmb(smbItemSrc,src1);
             } // for
             smbItemSrc.getDiskShare().rmdir(src, true); // <==
        }else {
            smbItemSrc.getDiskShare().rm(src);
    ...

[2019-03-21 22:13] hierynomus commented on #445
@ecki is right. But instead of changing the logic, you can use a Stack instead of a List, which gives LIFO semantics instead of FIFO.

[2019-03-22 08:18] fiasko131 commented on #445
@ecki is just logic!! thanks

[2019-03-22 14:15] hierynomus commented on #420
I've had a look, but am curious which SMB2 CREATE was mismatched? There are a few 100 in there ;)

[2019-03-22 14:15] hierynomus commented on #420
If you've got a log which corresponds to the PCAP, I can correlate the message and see what's wrong.

[2019-03-23 13:00] subodhrathi commented on #444
Hi,

Any updates on this?

Thanks!

[2019-03-23 14:26] subodhrathi commented on #444
Okay, so I removed session.close as it appears that when I close the share, the session is already getting disconnected. Kindly let me know if I am missing anything here.

[2019-03-23 19:34] hierynomus commented on #444
Close in reverse order from opening... So share, session, connection, client

Op za 23 mrt. 2019 15:26 schreef subodhrathi <notifications@github.com>:

[2019-03-24 01:09] subodhrathi commented on #444
So, I tried the sequence as suggested and below is the error I am getting now.
[code]
[code]

Note: When I set withSigningRequired to false, it works fine but doesn't work with true. What does this setting do? In addition, I believe, we should keep withSigningRequired as true, right?

[2019-03-25 02:19] smb311 commented on #270
Hi @hierynomus @skhare-r7 did you ever make any progress with this? I have seen this happening in production systems (not SMBJ) and am wondering if anyone ever got some info from the Windows team about this issue.

[2019-03-25 09:39] hierynomus commented on #270
@smb311 If you've got more info I'd be happy to hear it, but I have not seen this occur myself unfortunately.

But from what you say, you also see this appearing without using smbj?

[2019-03-25 12:31] burkolter commented on #437
I suggest to close this issue. The customer is reluctant to hand me over the required information about the SAMBA config.

[2019-03-25 12:32] anandsirt opened #446 "SMBApiException: STATUS_OTHER (0xffffffff): Could not connect to DFS root"
I am getting below issue sometimes, it works for most of time.

com.hierynomus.mssmb2.SMBApiException: STATUS_OTHER (0xffffffff): Could not connect to DFS root \\SVWIORA.admin.company.int\shares
      at com.hierynomus.smbj.session.Session.buildNestedSession(Session.java:208)
      at com.hierynomus.smbj.session.Session.connectTree(Session.java:162)
      at com.hierynomus.smbj.session.Session.con

[2019-03-25 12:56] andershermansen commented on #446
This exception has a nested IOException with the reason. You should log the nested exception as well to see the root cause.

[2019-03-25 13:39] hierynomus commented on #437
Ok, no problem. Feel free to re-open the issue if you've got more info.

[2019-03-25 13:39] #437 closed

[2019-03-25 14:46] subodhrathi commented on #444
Hi,

Any updates on this error?

Thanks!

[2019-03-26 02:02] yin19941005 commented on #444
Hi @subodhrathi,

It looks your server didn't sign the response packet for SMB2_LOGOFF. The `withSigningRequired` works fine in my testing env (both Windows Server 2012 R2 and 2016). What's the server are you using?

[2019-03-26 17:26] fiasko131 commented on #445
In fact I always have the same issue with @ecki solution, and Dir is really empty :

What means :  SetInfo failed for SMB2FileId{persistentHandle=cb 00 00 00 1d 00 00 00}

[2019-03-26 17:26] ecki commented on #445
Is something missing?

(BTW I understand that smbj wants to be a low level library, but maybe we can add a companion project with some common functions like deleting whole directory trees? Or should we at least add it as example code?)

[2019-03-26 20:05] hierynomus commented on #445
Did you have a look at `DiskShare.rmdir(String path, boolean recursive)`? Setting the `recursive` to true will delete the entire tree.

[2019-03-27 11:58] fiasko131 commented on #445
@hierynomus
I tried with recursive set to true and false: same issue.
the issue is not systematic sometimes dirs are deleted correctly.
I work on Android in an asyncTask.

@ecki
There are no hidden files in folders.

	at com.hierynomus.smbj.share.Share.receive(Share.java:366)
	at com.hierynomus.smbj.share.Share.sendReceive(Share.java:346)
	at com.hierynomus.smbj.share.Share.setInfo(Share.java:198)

[2019-03-27 17:03] subodhrathi commented on #444
Hi,

I will check the details of server and get back to you. Meanwhile, what is the workaround if server settings cannot be changed? What is the impact of changing "withSigningRequired" to false? Does it impact the security.

[2019-03-27 19:45] subodhrathi commented on #444
Hi,

So I got this detail. It's a NAS (network attached storage) server which uses NetApp Array in the backend that provides NFS/CIFS protocol exports. There is no windows server underneath. Kindly let me know if this information is enough.

[2019-03-28 02:48] yin19941005 commented on #444
Hi,

The exception should be throw on this line: https://github.com/hierynomus/smbj/blob/master/src/main/java/com/hierynomus/smbj/connection/Connection.java#L446

I searched by the phase `Session requires signing` and only got one result in Smbj Library Code. You may double confirm by your own.

[code]

This means your server somehow didn't set the `signed` flag on the SMB2_LOGOFF response packet

[2019-03-28 10:00] subodhrathi commented on #444
Thank you for the details. I am not sure if much can be done on the server side. What are my other options?

1. Do not close the session which may in a period of time give me out of sessions error unless the opened session gets closed by server after a certain timeout period a day or 2 based on how the server is configured. I guess in this way atleast we are not compromising security but dealing w

[2019-03-28 10:07] subodhrathi commented on #444
I was looking at this article. Here it shows packet not signed. Is that what is happening with our NAS storage as well ? [Microsoft link]
(https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-smb2/a0a08d74-204e-464e-9db8-09fdaa6b3379)

[2019-03-28 10:15] pepijnve commented on #444
@subodhrathi could you be a bit more specific about the type/model of NAS you're using. Is the NetApp providing the NAS services or is it being used as a block device in a SAN? If the NetApp is the NAS, which version of ONTAP is it running? If something else provides the NAS layer, what software are you using for that?

[2019-03-28 10:35] hierynomus commented on #444
Yes, but the session in that example has not been setup with signing enabled. If you look at this part of the spec:

https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-smb2/d594481c-f6d5-4de5-8842-9099063d41e7

You see that the SMB2_LOGOFF message should be signed, as the first condition specifies:
- client signed the SMB2_LOGOFF request
- SMB2_LOGOFF contains a non-zero SessionId
- S

[2019-03-28 10:49] yin19941005 commented on #444
Take a look on SMB2 document section 3.3.4.1.1 Signing the Message:
https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-smb2/d594481c-f6d5-4de5-8842-9099063d41e7

Of course, the SMB2_LOGOFF request will have nonzero SessionId to indicate which session to logoff and the client will sign the request when `SigningRequired` is TRUE. So, I don't think such valid case exist based on the SMB2

[2019-03-28 20:26] ecki commented on #444
As the logoff was processed most likely by the server you can maybe just catch and ignore the specific signing exception from `session.close();` and continue with closing the client?

[2019-03-29 08:18] RomanKarpliak96 commented on #440
Hi @hierynomus ,
Do you have any updates about this?
Thanks, Roman.

[2019-03-29 12:11] subodhrathi commented on #444
@ecki- I ended up doing the same eventually.

All - I will try to get more information on other comments.

[2019-04-01 11:55] hierynomus commented on #440
Hi @RomanKarpliak96, yes there is a PR that is almost ready to merge that will address this.

PR #447

[2019-04-01 11:59] hierynomus commented on #439
If you could get a wireshark capture of the packet it would be interesting to dissect. That would be the only way to know what went wrong.

[2019-04-01 21:12] hierynomus commented on #440
@RomanKarpliak96 Can you try with the latest master? You can now on the `Config` set which workstation name it needs to send.

[2019-04-02 02:26] yin19941005 commented on #425
Hi @hdsdi3g,

Could you check the behavior with using ` --illegal-access=deny` command line flag?

Based on this document (https://docs.oracle.com/en/java/javase/11/migrate/migration-guide.pdf), on section **Understanding Runtime Access Warnings** (on page 9), I guess it would throw `IllegalAccessException` when trying to the refection and this is already caught and re-throw the  `NoSuchAlgorithmE

[2019-04-02 19:18] burkolter commented on #439
OK. Still trying to grab the wireshark as I can't redo the error intentionally... :-)

[2019-04-04 08:12] mrlsm opened #448 "How do I know shareName"
Hi，team：
If I want to know only the IP address, I need to access all the files under this Shared file, is there an easy way to do this?
Or how do I get all the subfiles under the Shared file？ （List all share files on computer）

Thanks for sharing

[2019-04-04 08:28] hierynomus commented on #448
The functionality to list all shares is currently not (yet) in SMBJ. There is a separate library https://github.com/rapid7/smbj-rpc which uses SMBJ and implements this functionality.

[2019-04-04 16:51] nddipiazza commented on #420
I sent that. I'm trying to also get you a version of these logs with less going on to help isolate too.

[2019-04-09 09:32] RomanKarpliak96 commented on #440
@hierynomus, thank you very much.
I was able to configure workstation for Windows SMB Share.
Now I see that Host field is present in NTLMSSP_AUTH request.
I will test it with NetApp on customer's environment and let you know results.

[2019-04-09 09:34] hierynomus commented on #440
Thanks! Hope it works ;)

[2019-04-09 16:55] angoori commented on #410
Were you able to resolve this issue?

[2019-04-10 08:52] dwissk opened #449 "Kerberos Authentication broken in OpenJDK 1.8 because of PR #373"
The current master contains code from PR #373 that breaks Kerberos authentication in OpenJDK 1.8.

Initialization of `com.hierynomus.smbj.auth.ExtendedGSSContext` fails because `com.sun.security.jgss.InquireType` cannot be cast to `com.sun.security.jgss.ExtendedGSSContext`.

[code]

It seems to me that this could be fixed by changing the `pos` argument in [`ExtendedGssContext. getKrb5GetSessionKey

[2019-04-10 08:59] VenkatPurush opened #450 "Encrypt files during transit of file transfer"
We are currently using JCIFS to transfer files from client to Server. Now that our file servers are being migrated to cloud, we would be required to encrypt the files during the transit of file transfer. Does  SMBJ library caters this requirement?

[2019-04-10 09:11] dwissk commented on #450
AFAIK, transfer encryption is part of SMBv3, which is currently not yet supported by smbj.

[2019-04-10 09:26] VenkatPurush commented on #450
Thanks, do you have any suggestion as to which library to use for transfer encryption?

[2019-04-10 09:35] dwissk commented on #450
I just saw that there is a smb3-dev branch, which has been updated just yesterday by PR #438. I suggest to close this issue and check that branch out.

[2019-04-10 09:50] ecki commented on #450
Just a general comment, the protocol part which is framing and handshaking outside the encrypted and signed packets looks pretty complex and risky to me. If I where you I would not trust this to be enough for communication over untrusted networks. So while it is good to get the SMB3.1 features and turn them generally on. but for the case of accessing cloud storage I would add a VPN layer or revert

[2019-04-10 09:52] ecki commented on #449
Did you report that to OpenJDKs security-dev mailing list yet? (I don’t understand the issue completely to say if it would be a incompatibility they would want to fix)

[2019-04-10 10:08] dwissk commented on #449
I don't think it's a security related but yes, could very well be an OpenJDK issue... I have not filed a report yet.

[2019-04-10 10:20] pepijnve commented on #449
It’s indeed not a security issue. The code in question is calling methods of internal implementation classes via reflection. These parts of the GSS implementation are not part of JavaSE unfortunately.
Compatability issues like this are to be expected. The reflection setup code probably just needs to be made a bit more robust so that it can deal with various variants of those internal classes.

[2019-04-10 11:02] VenkatPurush commented on #450
When will this branch be released and available in Maven repository?

[2019-04-10 11:16] hierynomus commented on #450
@VenkatPurush The branch is currently under development, and has no set time to be merged. First some cleanup, additional functionality and extensive testing is needed... You are free to build it yourself and give it a spin!

[2019-04-10 15:04] ceremo commented on #443
I've had a similar problem with `STATUS_REQUEST_NOT_ACCEPTED` as a result, and in my case occurs when there are too many sessions opened in the same connection, I'm doing this because I don't want to close the connection in order to reuse it and try to improve performance. I solved the problem closing sessions after being used `try (Session session = connection.authenticate(ac))`.

[2019-04-12 12:00] mpohajac opened #452 "Opening file on a share fails with STATUS_OBJECT_NAME_NOT_FOUND"
Hi,

Please let us know how to mitigate this? would you say this is a bug or we are doing something wrong? openFile works ok with pretty much any name except this one with strange characters. See description below.

Thank you,
Marko

# Symptoms
Opening file on a share fails with the following error:

[code]

# Cause
Bytes representation of file name "21 �a" is as follows: 323120EFBFBE61
When listi

[2019-04-12 12:49] pepijnve commented on #452
At the moment SMBJ takes the UTF-16 byte sequence representing the file name from the message and attempts to decode it to a Java String. Then when you try to open the file it reencodes the Java String to a UTF-16 byte sequence again. In situations where the original input data is invalid UTF-16 you're going to get the replacement character code point and as a consequence the reencoded version may

[2019-04-12 13:00] pepijnve commented on #452
To actually answer your question, this is kind of a bug when dealing with filenames that are not valid UTF-16. There's no workaround for this. Proper fix would require changing the internal representation of paths in SMBJ from String to something lower level that holds on to the original byte representation of the filename.

[2019-04-12 14:07] mpohajac commented on #452
@pepijnve , I appreciate your prompt reply. It sounds like there is no roundtrip conversion from UTF-16 to String and this explains the behavior.

[2019-04-12 15:00] hierynomus commented on #452
The round-trip works when all characters are valid UTF-16. In your case one of them isn't.

[2019-04-12 15:35] mpohajac commented on #452
@hierynomus yes, that's the case.

[2019-04-15 08:43] #449 closed

[2019-04-15 09:34] hierynomus commented on #452
Just checked the MS-SMB2 spec:

[UNICODE], using the 16-bit Unicode Transformation Format (UTF-16) form of the encoding. Textual
strings with separate fields identifying the length of the string MUST NOT be null-terminated unless
otherwise specified.

And for the SMB2 CREATE request:

This means that the filename must be valid UTF-16 in order to work. It seems that the server is not adhering to th

[2019-04-15 09:37] SubhasishDey opened #453 "How to change the timestamp of a file ?"
How to change the timestamp of a file.
When I upload a file,t takes the current timestamp, I want to later change it to a different timestamp.

[2019-04-15 09:53] hierynomus commented on #453
You can use `File.setFileInformation(new BasicFileInformation(...))` to set the different timestamps of a File.

[2019-04-15 09:53] hierynomus commented on #440
@RomanKarpliak96 Any update? :)

[2019-04-15 09:58] pepijnve commented on #452
@mpohajac The sequence you provided, `323120EFBFBE61` is actually UTF-8 and decodes to the codepoint sequence `50 49 32 65534 97` or `2`, `1`, ` `, `￾`, `a`. [`65534`](https://codepoints.net/U+FFFE) is actually a valid codepoint and should roundtrip just fine. The alternative `EFBFBD` is [`65533`](https://codepoints.net/U+FFFD) and is also valid.

Would it be possible to provide a hexdump of the U

[2019-04-15 13:47] mpohajac commented on #452
@hierynomus , @pepijnve thanks for the info.

These are the bytes from the wireshark for the Filename:
[code]
Four valid UTF-16 chars '2','1','<space>','a' and the one before 'a' that appears to be a sort of bom, but strange to appear in between.

This is reproducible with:
- the attached directory.zip, the filename inside has this character
- demo code

[2019-04-15 13:55] pepijnve commented on #452
@hierynomus how would you prefer to handle this case? Best option IMO is to use something like the SmbPath class everywhere that can wrap a raw `byte[]`. In other words, defer conversion to Java String until it's requested. That would allow you to take the path object from a directory info and pass that on to open unprocessed.

I agree with you that what the server is sending is not 100% spec comp

[2019-04-16 17:29] SubhasishDey commented on #453
Hi hierynomus,

Thanks for the quick reply.

I was using this code
com.hierynomus.smbj.share.File file = share.openFile(filepath, EnumSet.of(AccessMask.FILE_WRITE_ATTRIBUTES, AccessMask.FILE_WRITE_EA), null, SMB2ShareAccess.ALL, SMB2CreateDisposition.FILE_OPEN, null);
			FileAllInformation fi = file.getFileInformation();
			FileBasicInformation bfi = new FileBasicInformation(creationTime, lastAcce

[2019-04-18 07:58] edwin20022 opened #454 "cannot connect share folder(Authentication failed)"
anybody can help?
use smbj connect to share folder throw : Authentication failed
i can make sure the "doman", "username", "password" correct.
smjb version : 0.7.0
My code as below:

SmbConfig config = SmbConfig.builder().withTimeout(timeOut, TimeUnit.SECONDS)
          .withSoTimeout(socketTimeOut, TimeUnit.SECONDS).build();

      SMBClient client = new SMBClient(config);

       Connection conne

[2019-04-18 10:42] SubhasishDey commented on #453
I mean what are the exact AccessMask should I give to setFileInformation

[2019-04-18 10:47] pepijnve commented on #453
If you want to be able to get the current info you'll have to request `READ_ATTRIBUTES` as well. When querying the 'AllInformation' level you might need `READ_EA` as well.

[2019-04-18 13:06] edwin20022 commented on #454
update:
use smbclient command successfully connect smb share folder, but smbj still fail.

[2019-04-18 14:31] RomanKarpliak96 commented on #440
@hierynomus , sorry for the delay. I was waiting for customer's response to allow me to test it on his environment.
I have just tested it and it works.
When do you plan to release it and in what version?
Thank you very much for help.
The issue can be closed.

[2019-04-18 18:57] ecki commented on #454
What parameters did you specify for smbclient, what is the server software/version providing this share. Is DFS, Kerberos, Signing or AD membership involved? What’s logged on the server? What type of user is this (local, Domain, trusted domain, Service, ....), does the password have any strange characters, what’s the value of the domain variable in your sample code?

[2019-04-18 19:46] hierynomus commented on #454
Thanks for asking the questions @ecki! The status you're getting is sent by the server amd indicates that one of the authentication parameters is wrong. Have you tried uppercasing the domain?

[2019-04-23 07:21] aberglas opened #456 "Hierynomous Threading Model"
I am trying to write a program that will scan multiple files in multiple shares in multiple threads.  I am getting exceptions like
com.hierynomus.smbj.common.SMBRuntimeException: DiskShare has already been closed
The problem is that reading through the smbj source code it is not at all clear what the threading model actually is.

So if I create a Session object in the main thread, and then want to

[2019-04-23 07:35] aberglas commented on #456
Never mind, found it.  My straight bug.   Need to executor.awaitTermination before closing the Share.

That said, an example would be a great addition.

[2019-04-23 07:35] #456 closed

[2019-04-23 11:36] AnnJul commented on #255
I have the same problem. Is there any solution for this? How can I copy a file to another folder (with its content)?

[2019-04-23 13:05] Disablez commented on #406
We had to fix issue internally, so sent a [pull request](https://github.com/hierynomus/smbj/pull/457) for it

[2019-04-24 09:03] edwin20022 commented on #454
@ecki Hello, i found that smbj handle special symbol faild, how can i handle this password: "2345432!" ?

[2019-04-24 09:36] ecki commented on #454
Are you saying it works with a different password but fails with this special one? Hm, looks ASCII only, so no idea where the trouble is.

Just to Ben sure: Does the password include or exclude the quotes?

Did you try to set a different password (one with a leading letter and without !). If you are sure what the exact  is (I.e. the `!`? Let us know here)

[2019-04-24 09:59] edwin20022 commented on #454
yes, for different password, i try "00000000" be successfully, change to "2345432!" will throw the STATUS_LOGON_FAILURE (0xc000006d): Authentication failed for 'user' using com.hierynomus.smbj.auth.NtlmAuthenticator@361d3361

[2019-04-24 19:22] ecki commented on #454
Ok, make sure the password in the Java variable is correct and that you don’t see a shell quoting problem from command arguments instead.

[2019-04-25 10:49] hierynomus commented on #420
@nddipiazza Can you try to build the code in #458 and see whether that solves the problem?

[2019-04-25 11:44] burkolter commented on #420
@hierynomus I hope to find time to test this as well next week. I can't promise yet...

[2019-04-25 14:24] RomanKarpliak96 opened #459 "STATUS_ACCESS_DENIED(3221225506/3221225506): Close failed for SMB2FileId"
Hi all,
I am receiving the following error when closing file:
com.hierynomus.mssmb2.SMBApiException: STATUS_ACCESS_DENIED(3221225506/3221225506): Close failed for SMB2FileId{persistentHandle=43 5d c6 00 00 00 00 00}
	at com.hierynomus.smbj.share.Share.receive(Share.java:335)
	at com.hierynomus.smbj.share.Share.sendReceive(Share.java:319)
	at com.hierynomus.smbj.share.Share.closeFileId(Share.java:1

[2019-04-25 14:35] RomanKarpliak96 commented on #459
Is it possible to check if file is already closed?

[2019-04-29 07:34] edwin20022 opened #460 "file poller auto download"
what parameter i can control  the smbj endpoint download the file content or not ? i found
protected boolean isRetrieveFile() {
        return false;
}
, but i need the file poller scan but not download file content, download file content  when i matched file name pattern.
Or, anybody tell me if smbj can do file name patter control? how? thx.....

[2019-04-29 07:41] hierynomus commented on #460
Can you please rephrase your question clearer? I have no idea which classes or functionality you're talking about...

[2019-04-29 08:04] edwin20022 commented on #460
when i run the smbj, i get the OutOfMemoryError: Java heap space

I found that because

      protected boolean isRetrieveFile() {
        return true;
      }
smbj will auto download file

![smbj](https://user-images.githubusercontent.com/37377000/56883111-4a8f7680-6a98-11e9-88d5-1111a8cdad80.PNG)

[2019-04-29 08:07] ecki commented on #460
The retrieving and the OOM bug seems Camel  If it would use smbj correctly it would not store larger files in array. Not much smbj can do here,

[2019-04-29 08:10] hierynomus commented on #460
Yes, indeed @edwin20022, you're addressing the wrong OS project. I'm the maintainer of the SMBJ library, not of the Camel integration. That is https://github.com/jborza/camel-smbj

[2019-04-29 08:10] #460 closed

[2019-04-29 21:01] nddipiazza commented on #420
@hierynomus this seems successful now.

[2019-04-29 21:35] hierynomus commented on #420
Merged #458

[2019-04-29 21:35] #420 closed

[2019-04-29 21:37] hierynomus commented on #439
@burkolter Can you try with the latest master? I've merged #458 which should fix this.

[2019-04-30 02:34] #454 closed

[2019-05-02 09:58] burkolter commented on #439
@hierynomus This looks good so far on my local test system. A quick test on the production system's only possible in July due to restrictions on service windows… The customer's really reluctant to even allow network connection from my local laptop to the "buggy" server… Sorry for this!

Thank you for your work!

[2019-05-09 13:42] ekfrozenlady commented on #450
Hello,

Do you have any updates when encryption (SMBv3) support should be officially released?

[2019-05-10 08:42] SubhasishDey opened #463 "com.hierynomus.mssmb2.SMBApiException: STATUS_NOT_SUPPORTED (0xc00000bb): QueryInfo failed for SMB2FileId"
Getting the below exception when we try to get the file Information, even if the folder has read, write and execute access .

com.hierynomus.mssmb2.SMBApiException: STATUS_NOT_SUPPORTED (0xc00000bb): QueryInfo failed for SMB2FileId{persistentHandle=9f 89 3c 10 00 00 00 00}
  at com.hierynomus.smbj.share.Share.receive(Share.java:366)
  at com.hierynomus.smbj.share.Share.sendReceive(Share.java:346)

[2019-05-13 13:41] zedharper opened #464 "Implement .equals()-method for Directory and File"
Hi,
the Directory and File classes don't implement a proper .equals()-method and instead fall back to the almost useless hashsum-implementation from Object.
This can make working with Directories and Files rather cumbersome.

An implementation should probably compare the `fileName `and `diskShare`.
Mind that DiskShare does not either implement a proper .equals()-method. For that, a .equals()-metho

[2019-05-13 14:03] harisingh-highq commented on #408
@pepijnve
As per your previous comment, i've tried with to replace input stream object with com.hierynomus.smbj.share.File object and calling File#read, passing the fileOffset variable as value for the range start bytes.
Its working fine with read & write but facing the issue of downloaded file can not open though file size is ok.
**Below is code snippet of copy() method changes:-**

`private void

[2019-05-15 04:40] ashutosh-stha commented on #344
@fiasko131 Hello, Could please share the module for smbj-rpc ? It will be great help to my project. My email is ashutosh.stha14@gmail.com. Thanks you.

[2019-05-15 09:14] SubhasishDey commented on #463
Do you have any answer on how to approach on this exception?

[2019-05-19 12:11] SubhasishDey commented on #453
Thanks  @hierynomus and @pepijnve the suggestion worked for me.

[2019-05-19 12:11] #453 closed

[2019-05-22 11:55] nddipiazza opened #467 "Cannot list files on a non-windows docker smb server - DiskShare has already been closed"
Hi @hierynomus do you write any integration tests against a dockerized smb such as https://github.com/dperson/samba ?

The latest master branch throws errors against this container. Just wondering if you see the same thing.

For example here is a directory list operation:

[code]

[2019-05-22 12:04] hierynomus commented on #467
There are integration tests, just run `gradle integrationTest`

[2019-05-22 17:41] jeepMan79 opened #468 "com.hierynomus.mssmb2.SMBApiException: STATUS_ACCESS_DENIED (0xc0000022): Create failed for"
Hi,

I'm trying to open a file on a Redhat share.  The user does not have the Execute bit set, but it does have the Read/Write bits set.  When I try to access the file for reading, I get

com.hierynomus.mssmb2.SMBApiException: STATUS_ACCESS_DENIED (0xc0000022): Create failed for

If I set the execute bit, I can open just fine.   Any ideas why I would need the execute bit set?

Thanks!

[2019-05-22 17:42] hierynomus commented on #468
What is the code you're using? Esp. The AccessMask etc

Op wo 22 mei 2019 19:41 schreef Garrett Rogers <notifications@github.com>:

[2019-05-22 17:43] jeepMan79 commented on #468
Apologies, I just re-read the faqs and the AccessMask permissions were set to high.  I'm closing the issue.

[2019-05-22 17:43] #468 closed

[2019-05-24 15:33] algyy opened #469 "DiskShare singleton with concurrency, is this ok?"
Hi,
We are using this awesome library in my team to bulk save a few hundreds of files. Currently, an external process hits with 10 threads an endpoint in java which use this library and makes the saves. It has been working perfectly. Now we are trying to make it more performant and optimize to initialize on demand the connection to the share if it is disconnected, and reuse a single instance (sing

[2019-05-27 08:09] hierynomus commented on #469
Hi @algyy,

Using these classes (SMBClient, Session, Connection, TreeConnect, Share) as a singleton is exactly how they're intended to be used. So if you encounter a bug due to cacheing them, please let me know.

[2019-05-27 15:51] algyy commented on #469
@hierynomus thx for the reply.
So far no issues on testing.

I have another question tho.
The server in which the FileShare is, has an idle time of 15 minutes. Far that time, the server disconnect the session. The thing is, when this happened the application logs a stack-trace, with two error lines:

`2019-05-24 20:12:02.715 ERROR 24883 --- [.ca.flexiti.com] com.hierynomus.smbj.session.Session

[2019-05-28 05:26] Nirothipan opened #470 "How can we create a new file object and get its type with SMBJ"
I'm trying to do an implementation  with SMBJ to transfer files from samba server.

May I know how can we define the type of the file in samba server with SMBJ

Thanks in advnace

[2019-05-28 05:28] Nirothipan commented on #470
For example whether the file is a folder or ordinary file or how we can check whether it exists or not.

@hierynomus Could you help me on this query

[2019-05-28 12:23] hierynomus commented on #470
@Nirothipan The methods on `DiskShare` should help you with that. You can check whether a pre-known path is a file or folder using the `fileExists` and `folderExists` methods.

Also you can use `getFileInformation(<path>, FileStandardInformation.class)` and check whether the returned `FileStandardInformation` has `isDirectory` set.

[2019-05-28 12:25] Nirothipan commented on #470
Thank you @hierynomus . Is there any working example I can refer to transfer files withing smb servers

[2019-05-29 02:27] huanyuan opened #471 "this android studio cannot be compiled? I want this app apk and look is whatｉwant"
![image](https://user-images.githubusercontent.com/12406954/58524582-466f8980-81fb-11e9-8b15-64253533236c.png)

[2019-05-29 02:35] huanyuan opened #472 "this project is just smb client? can I achieve smb server with it."

[2019-05-29 08:01] hierynomus commented on #472
At this moment there is no concrete plan to implement a server, though a lot of the groundwork for that is shared. I'll keep this issue around and I will consider it

[2019-05-29 08:02] hierynomus commented on #471
I'm not sure what the problem is but it doesn't seem to be with the library

[2019-05-29 08:22] huanyuan commented on #471
![image](https://user-images.githubusercontent.com/12406954/58541253-a97a1400-822d-11e9-96b5-fdea413c891e.png)
what the library? I have no change this project after i download it

[2019-05-29 09:40] hierynomus commented on #471
I have no idea what you're trying to achieve. The project is already available on Maven Central to be used as a library inside an Android application that you can build.

[2019-05-30 12:20] ivarprudnikov commented on #471
@huanyuan if you want to add `smbj` to Android project, specify dependency in your _app_ `build.gradle`

[code]

[2019-06-01 15:06] neoxpert commented on #463
What kin of server is it, did you - if possible - check the server log? The server either does not support the operation or maybe some parameters. I think this can not be solved by just watching the client side.

[2019-06-04 06:55] huanyuan opened #473 "how to use it, where has demon example can see effection?"
I had  add (implementation 'com.hierynomus:smbj:0.9.1') in my project ,but happen like :
java.util.concurrent.ExecutionException: com.hierynomus.smbj.common.SMBRuntimeException: com.hierynomus.protocol.transport.TransportException: com.hierynomus.protocol.commons.buffer.Buffer$BufferException: Underflow

[2019-06-04 08:43] andershermansen commented on #342
Duplicate/same as #310 ?

[2019-06-04 10:39] Disablez commented on #342
Please check if https://github.com/hierynomus/smbj/pull/474 does some good about this issue.

[2019-06-04 10:40] Disablez commented on #415
This could help...
https://github.com/hierynomus/smbj/pull/474

[2019-06-06 11:15] vnashkev opened #475 "Question : How to connect to local share (//localhost/D$, //localhost/share) without credentials"
An attempt to authenticate fails for

AuthenticationContext auth = new AuthenticationContext("", new char[0], null);
c.authenticate(auth);

whereas the following works

AuthenticationContext auth = new AuthenticationContext(user, password, domain);
c.authenticate(auth);

OS is Windows 10, user@domain is the currently logged user.
Is there any way get it authenticated without credentials?

Thank yo

[2019-06-06 11:29] hierynomus commented on #475
Does your server allow unauthenticated (anonymous) access, or only guest access?

You can use the `AuthenticationContext.guest()` and `AuthenticationContext.anonymous()` methods to obtain the right AuthenticationContext.

What message(s) are you getting?

[2019-06-07 06:59] NadigNikhil opened #476 "Possiblity to user regex in list()"
Hello,

In DiskShare#list(String path, String searchPattern), can we pass regular expression in the **searchPattern** parameter to filter files based on regex. If yes, kindly provide a sample code, if not, is there any other means to pass regex to fetch files list.

Thanks in advance.

[2019-06-07 13:45] kdsalvy commented on #166
Hi @sshklianko, how you've got the instance of Smb2CreateDisposition?

[2019-06-07 14:09] pepijnve commented on #166
If you want the SID literal (e.g., `S-1-5-32-544`), just call `toString()` on the SID object.
If you need the name of the user or group, see my answer above. https://github.com/rapid7/smbj-rpc provides the components you need to do the necessary RPC calls.

[2019-06-08 11:53] neoxpert commented on #476
According to the MS-SMB2 spec the search pattern is the same as the one defined in MS-CIFS (https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-cifs/dc92d939-ec45-40c8-96e5-4c4091e4ab43). There is support for two wildcard characters but no support for full regular expressions.

If you want to use a regular expression to filter a directories file list you might have to get the full list

[2019-06-15 08:31] huanyuan opened #477 "can completed print funtion wiht this smbj ? I want to my android device connect the printer,then print my android device file(like pdf，png)"

[2019-06-17 14:22] billstephens opened #478 "STATUS_LOGON_FAILURE (0xc000006d)"
I see that issue 454 appears to be another instance of this. I'm following that report to verify possible unescaped characters in password. The customer is remote and we don't have direct communication.

- We've tested using 2 hostnames for the same server. Connection succeeds with both
- We've tested using upper and lower case domain and username with no success.

Customer reported info:
Samba ve

[2019-06-17 14:32] billstephens commented on #478
Is it possible that we need to consider enhancing our SMBClient?

`new SMBClient(SmbConfig.builder()
   .withSocketFactory(new KeepAliveSocketFactory())
  .withSoTimeout(0, TimeUnit.SECONDS)
  .withTimeout(operationTimeout, TimeUnit.SECONDS)
  .build());
`

[2019-06-18 07:18] dingdonghk opened #479 "bouncycastle version"
Is it ok if I use bouncycastle version 1.62 (bcprov-jdk15on-162.jar) instead of 1.60 (bcprov-jdk15on-1.60.jar) for smbj dependency ?
because I cannot find version 1.60 in the bouncycastle official website. Only the latest version can be found.

[2019-06-20 16:53] billstephens commented on #478
User reports that there are no special characters in password. We're investigating the SmbConfig.

Is there anything in this ConnectionInfo that would indicate a need to change our SmbConfig?
`INFO [com.hierynomus.smbj.connection.Connection] - Successfully connected to: server1.company.com Connection established. remote host name: server1.company.com connection info: ConnectionInfo{ serverGuid=756

[2019-06-20 17:17] hierynomus commented on #478
The DFS would not lead to a LOGON_FAILURE status, unless you're redirected
to a server you don't have access to.

Op do 20 jun. 2019 om 18:53 schreef Bill Stephens <notifications@github.com

[2019-06-21 02:59] tubeuchiha opened #480 "怎么获取文件的总长度呢？"
.........
File smbFileRead = share.openFile("file.db", EnumSet.of(AccessMask.GENERIC_READ),
                                   null, SMB2ShareAccess.ALL, SMB2CreateDisposition.FILE_OPEN, null);

                           InputStream in = smbFileRead.getInputStream();

                           int length=in.available();

                           Log.e("SMBClient","length="+length);

这里打印的lengt

[2019-06-21 03:54] bustanil commented on #344
If someone wants to use the smbj-rpc library, here is the published one: https://mvnrepository.com/artifact/com.rapid7.client/dcerpc

[2019-06-21 05:32] tubeuchiha opened #481 "下载进度回调是不是有问题"
![image](https://user-images.githubusercontent.com/8343965/59899875-eef2c100-9428-11e9-8da7-5733647b0e26.png)总下载量一直等于总长度？

[2019-06-21 06:19] ecki commented on #480
Sorry, can’t read the question, but I wanted to mention that it is not (never) correct to use InputStream#available() to get the length of the stream.

[2019-06-21 06:31] yin19941005 commented on #480
Get the `FileStandardInformation` to have the total file size.

Should be something like:
[code]

Check [MS-FSCC] 2.4.38 FileStandardInformation for more details.

By the way, @tubeuchiha, I suggest you could use translator (e.g. google translate, baidu translate, etc.) to translate the question before asking.

[2019-06-21 07:27] hierynomus commented on #481
Can you ask your question in English?

[2019-06-21 07:29] hierynomus commented on #480
Please ask your question in English.

[2019-06-21 07:31] hierynomus commented on #479
@dingdonghk That shouldn't be a problem, unless they would've dropped support for a specific algorithm we need. Note that the use of BC is recommended, but optional. You can use the library without BC in the classpath, just ensure that you configure the correct SecurityProvider, i.e.

[code]

[2019-06-21 07:36] hierynomus commented on #478
According to the `MS-ERREF` specification the `STATUS_LOGON_FAILURE` indicates:

0xC000006D   STATUS_LOGON_FAILURE | The attempted logon is invalid. This is either due to   a bad username or authentication information.
-- | --

[2019-06-21 07:57] dingdonghk commented on #479
thanks for your reply! :)
I use another security provider instead.

`SmbConfig cfg = SmbConfig.builder().withSecurityProvider(new BCSecurityProvider()).build();`

[2019-06-21 07:57] #479 closed

[2019-06-21 13:28] billstephens commented on #478
@hierynomus Yes. This is what we've identified as well.  My guess at this point is that it's caused by Chrome's spec change to AutoComplete, which is grabbing an incorrect password.

[2019-06-22 11:15] tubeuchiha opened #482 "hei,now this library is support smb 3 ?"
now , this library   is support smb 3 ?

[2019-06-24 02:23] tubeuchiha opened #483 "how to open this url?"
how to open like this smb url:    smb://192.168.0.243/nas_nas_nas/nas1/E/369/17869/19257

[2019-06-24 04:18] ecki commented on #483
192.. is the host address, nas_nas_nas is the share name and the rest (/nas1/E/../19257) is the path. You need to split the components yourself.

    try (Connection connection = client.connect("192.168.0.243")) {
        AuthenticationContext ac = new AuthenticationContext("USERNAME", "PASSWORD".toCharArray(), "DOMAIN");
        Session session = connection.authenticate(ac);
        try (DiskShar

[2019-06-24 09:15] tubeuchiha commented on #483
ok, thanks you @ecki 。now i have a  problem : does smbj  support random access to the file? I didn't find relevant API 。if support , the example is ?

[2019-06-24 09:21] ecki commented on #483
Yes you can use `f.read(byte[] buffer, long fileOffset, int offset, int length)` with an offset.

[2019-06-25 04:07] tubeuchiha commented on #483
how to play a video file ?  use " f.read(byte[] buffer, long fileOffset, int offset, int length)" ,but play fail

[2019-06-25 07:50] ecki commented on #483
There is too little information and too broad of a question to answer. What fails? What player? Do you download first? Why do you need random access? Need a stream class?

[2019-07-09 03:11] tubeuchiha commented on #483
can SMBClient use a singleton？a Connection  can have more than one Session? SMBClient, Connection,Session..  What is their relationship？

[2019-07-09 03:16] tubeuchiha commented on #483
My understanding is : one SMBClient, one Connection, more than one Session.but i don't know right or not

[2019-07-09 07:59] hierynomus commented on #483
One client, multiple connections per client, multiple sessions per connection, multiple shares per session, multiple files per share...

Up to the File level everything should be thread safe.

[2019-07-10 03:33] tubeuchiha commented on #483
ok, by now  have a error: AndroidRuntime: FATAL EXCEPTION: Thread-42 case by
![image](https://user-images.githubusercontent.com/8343965/60938318-2b1d9100-a306-11e9-8dec-6fcf847fdc4b.png)
I found that in the long run will be the bug

[2019-07-10 03:41] ecki commented on #483
This means, in the short run :) that the server did not like the settings. You might find more information in the server log. Did you turn on negotiation? Does the server speak smb2?

[2019-07-10 03:48] tubeuchiha commented on #483
this is my config :
SmbConfig config = SmbConfig.builder()
                .withTimeout(120, TimeUnit.SECONDS)
                .withSoTimeout(180, TimeUnit.SECONDS)
                .withDfsEnabled(true)
                .withMultiProtocolNegotiate(true)
                .build();
        smbClient=new SMBClient(config);

the smbclient is a singleton. i use it to play a video file from samba server .

[2019-07-10 03:58] jerrychong25 opened #484 "How to write new contents and save file after successfully opened the file?"
Hi all,

I would like to open, write and save file into Samba Share folder.

As of now, I have successfully open and read all contents of the file as per expected.

What should I do next to write new content and save the file?

As documentation don't have example on how to write and save the file.

My Source Code:
[code]

Thanks.

[2019-07-10 04:02] jerrychong25 commented on #480
Question in English: **How to get total length of file?**

[2019-07-10 04:52] jerrychong25 commented on #480
Thanks for the solution, it works!

[2019-07-10 06:39] SubhasishDey commented on #482
Adding to this query, I see @hierynomus  had mentioned a comment in https://github.com/hierynomus/smbj/pull/438
that this will be merged in the main branch.

By when can we expect that ?

[2019-07-10 08:54] Jallv opened #485 "How to play video files?"
I can get files through smbj, but I don't know how to play video, music and picture files.

[2019-07-10 09:45] ecki commented on #485
This project has a very specific scope, playing video is not related to it. You might better ask the question on StackOverflow or a Android forum (you did not say what Os you are looking at). (However in both cases it is unlikely you get an answer if the question is this broad).

I don’t know the Android multi media API, but I guess they would need to be provided with a stream handler (which does

[2019-07-10 20:54] freddyMorera commented on #463
Are you using getFileInformation()?
If that's the case, maybe you are trying to retrieve a set of data your server doesn't support.

You could try getting the information separately for example:

FileStandardInformation fileStandardInformation = file.getFileInformation(FileStandardInformation.class);

And find out which set is the one causing the issue.

[2019-07-11 01:33] Jallv commented on #485
Thank you. I found a solution to convert SMB streams to HTTP streams through ServerSocket for other apps to access.

[2019-07-11 02:06] tubeuchiha commented on #485
master branch is support smb 3 ??

[2019-07-11 04:23] tubeuchiha opened #486 "i get the smbj source code but not found dependencies of GSSContext.. how to get it?"
![image](https://user-images.githubusercontent.com/8343965/61022031-8dde5d80-a3d6-11e9-84ca-f9f94b0c5ea2.png)

[2019-07-11 04:28] Jallv commented on #485
I need 24s to download an 8M image through InputStream. Is this normal?

[2019-07-11 05:33] ecki commented on #485
It is certainly not a good number, but it depends on client, network and server speed. So it’s hard to say if this is good or bad. Did you check if the time is wasted on connecting the share or when opening the file or when downloading the data. If the time is spent early it might be DNS or DFS Retries (missconfiguration). What block size did you use for reading?

[2019-07-11 05:36] ecki commented on #486
jgss is Part of the JRE if you have a Full Profile. (I think for Android the class would just not be used)

[2019-07-11 05:47] Jallv commented on #485
I counted the InputStream read time, and the block size was 16384.

[2019-07-11 06:48] tubeuchiha commented on #486
ok,thanks you ,but  how to solve this error：(This bug is on even after the SMB server, an error, data didn't continue to read, and then collapse )
![image](https://user-images.githubusercontent.com/8343965/61028130-82952d00-a3ea-11e9-85bc-647415c0b7b0.png)

[2019-07-11 07:02] jerrychong25 commented on #484
Found the solution.

Use **smbFileRead.write()** to write and save file.

[2019-07-11 07:02] #484 closed

[2019-07-11 09:59] Jallv commented on #485
`try {
                    SMBClient smbClient = new SMBClient(SmbConfig.builder()
                                                                 .withSigningRequired(true)
                                                                 .withDfsEnabled(true)
                                                                 .withMultiProtocolNegotiate(true)

[2019-07-12 14:43] billstephens commented on #478
We're still stuck. What we've noticed that when using smbclient to connect, the user is not providing a workgroup or a domain and the connection is working.

What we see via cli:
smbclient //<hostname>/<share> --user=<username>

- What is the equivalent use of AuthenticationContext for this?  We've tried null for domain.
- The "SAMBA" domain in the password response is surprising. That's not the d

[2019-07-12 19:19] ecki commented on #478
Did you try „SAMBA“ or „.“ for the domain?

[2019-07-17 05:34] Jallv commented on #485
I found that different Android versions have different transmission speeds

[2019-07-17 15:32] billstephens commented on #478
@ecki  @hierynomus
We've tried null, "", SAMBA and the actual user domain (presented here as SMBUSER) and upper/lower case unsuccessfully.

I have no idea why we're having such issues with getting this to work. Is there anything obvious here?

I've finally obtained some server / conf details...

Client Server: Red Hat Enterprise Linux in version 7.6
SMB Server: Red Hat Enterprise Linux in version

[2019-07-17 16:16] ecki commented on #478
Did you try “.“ or (as your config snippet suggests) “SMBUSER“ or the hostname?

I guess on the samba side there should be something in the logs why it rejected the login. Maybe you need to crank up the log level there.

The reason will be obvious once it is discovered :)

[2019-07-18 17:05] neoxpert commented on #485
Is there a reason why you are using File.read insteaf of an InputStream. If I got it right, every call to File.read will create a new InputStream and that is a quite expensive operation.

[2019-07-18 18:50] #429 closed

[2019-07-20 23:34] Jallv commented on #485
I found the reason for the time-consuming. The default packet signature BCSecurityProvider is very time-consuming in some versions of Android, such as Android 6.0 1M packet signature verification, which takes 6s.

[2019-07-24 07:50] namjaejeon opened #487 "How to make signing disable in smbj"
Hello,

I would like to make signing disable in smbj.
Is there any way ?

Thanks.

[2019-07-24 13:21] Lampros7 commented on #445
Any updates about this from anyone?
I seem to be experiencing the same randomness of this issue as @fiasko131  where certain folders might or might not get deleted.
Thanks in advance

[2019-07-25 09:05] sergey-senozhatsky commented on #487
What Namjae meant was that `[MS-SMB2] 3.2.5.3.1 Handling a New Authentication` requires `!guest ` && `!anon` sessions to be signed only for SMB 3.x dialects. I don't see such a requirement for SMB 2.x dialects, while validateAndSetSigning() treats both SMB 2.x and SMB 3.x in the same way.

With this simple patch

<pre>
[code]
</pre>

I can create an SMB2.1 session with disabled signing:

[code]

-

[2019-07-25 09:46] sergey-senozhatsky commented on #487
It seems that Windows client does not enforce signing for SMB 2.1 sessions.

-ss

[2019-07-25 14:34] ecki commented on #487
I think the signing requirements for the windows client are a group policy. The SmbConfig would be the equivalent for smbj. (However the question is is signing is actually negotiated, in that case the decision if signing is done should be based on the result of the negotiation (in case the server requires signing, like for example with domain controller shares)

[2019-07-26 01:28] sergey-senozhatsky commented on #487
That's a good question.

So for SMB2.x the solution **probably** may look as follows:
[code]

-ss

[2019-07-28 21:52] drewbuckley opened #488 "How to show Progress with SmbFiles.copy"
Hi and thanks for the very helpful library. Works great on my Android Project.

I'm using the SmbFiles.copy which is working well with the below code but i'm unable to workout how to show the Progress with onProgressUpdate or even my own function.

It seems to block at SmbFiles.copy until complete before moving on. Here's my code:

`    class uploadTask extends AsyncTask<String, Integer, String> {

[2019-07-31 17:07] andershermansen commented on #406
I added a different way of solving this in PR #489
Instead of closing the nestedSession, this will reuse when hostname is same.

[2019-08-01 16:29] rashider opened #491 "Any connection pooling class"
Hi,
My query is not for a defect but for a suggestion.
My application connects to multiple NAS servers  multiple times, sequentially as well as concurrently. Opening and closing connections on each call can be resource intensive and slow. Is there any library which implements connection pooling for SMBJ connections ?

[2019-08-06 12:08] zerikv commented on #445
Same issue and same stack when I use `DiskShare.rmdir(String path, boolean recursive)`.
The cause for me it was that among the deleted entries there was some `DiskEntry` previously opened with the same `DiskShare` and not closed.
I think you should search calls to `open()` and `openFile()` on the DiskShare and check that all are enclosed for example in a try-with-resources block or properly closed

[2019-08-09 13:26] krivanekm-javlin opened #492 "Should FileDirectoryQueryableInformation implement FileQueryableInformation?"
Currently, `FileDirectoryQueryableInformation` only implements `FileInformation`, but not `FileQueryableInformation`, as the name suggests. Therefore it is not possible to call `com.hierynomus.smbj.share.DiskShare.getFileInformation()` with `FileBothDirectoryInformation.class`, for example. Should this be possible, or is it a limitation of the underlying protocol?

[2019-08-09 14:42] krivanekm-javlin commented on #492
I think I've found the answer:

https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-fsa/4585ba52-ea1e-48ea-ac0f-6fa71880f234

[2019-08-15 02:42] yin19941005 opened #493 "[Question] Ways to extend timeout when received asynchronous responses?"
Hi @hierynomus,

Currently, I having some trouble with some timeout issue. From [MS-SMB2].pdf 3.2.5.1.5 Handling Asynchronous Responses, Windows client would extend the expiration time to four times the value of default session timeout when received asynchronous responses.

I found this is marked TODO on https://github.com/hierynomus/smbj/blob/master/src/main/java/com/hierynomus/smbj/connection/Co

[2019-08-20 07:22] #492 closed

[2019-08-20 07:33] krivanekm-javlin commented on #491
Hi,
We use `org.apache.commons.pool.impl.GenericKeyedObjectPool` from https://commons.apache.org/proper/commons-pool/.

Assuming you have a `java.net.URI` like `smb://domain%3Buser:password@hostname/sharename/path/filename.txt`, you can use `URI.getAuthority()` plus the first part of `URI.getPath()` (the name of the share) as the key into the pool.

[2019-08-23 05:07] kdsalvy commented on #478
Hi,
I am using this library to login to the shared location in my scheduled job. The code runs fine except a few times where it throws the error STATUS_LOGON_FAILURE (0xc000006d). The username, password, and domain all are same for each run. Unable to find a failure pattern to debug the same.

[2019-09-03 19:50] rathnaum opened #494 "[Question] Does smbj support retry for connection? if yes what is retry interval?"

[2019-09-03 22:13] kpshek opened #495 "Maven pom.xml has compile-time dependency on org.bouncycastle:bcprov-jdk15on:1.60"
With #394, a direct dependency on Bouncy Castle was removed 🎉.

However, [line 40 of the build.gradle still references Bouncy Castle](https://github.com/hierynomus/smbj/blob/v0.9.1/build.gradle#L40):

[code]

This results in the [Maven pom.xml of 0.9.1](https://search.maven.org/artifact/com.hierynomus/smbj/0.9.1/jar) having a compile-time dependency on Bouncy Castle:

[code]

Is this intentional?

[2019-09-06 02:07] yin19941005 commented on #493
I currently come with this solution (or should say workaround?):

1. Add a `OnPendingCallback` on the promise
2. Add a public `deliverPending` method on the promise, when received pending response (asynchronous responses) in `connection` handle method, call this method.
3. Add a boolean in promise to indicate the received pending response or not (`deliverPending` method called or not)
4. Add optio

[2019-09-06 02:11] yin19941005 commented on #494
What do you mean by retry for connection? At the connection setup or re-connect after a network disconnect?

[2019-09-06 02:37] yin19941005 commented on #495
Base on my understanding, they were not trying to remove whole Bouncy Castle dependency.  They were trying to remove the ASN.1 (encoding) dependency from Bouncy Castle only. The `com.hierynomus.security.bc` package still remains (prevents the need to use strong cryptography extensions).

FYI, the Bouncy Castle had breaks the ASN.1 backward compatibility on 1.60.

[2019-09-06 02:49] kpshek commented on #495
Thanks for clarifying my understanding on this @yin19941005. You're right. Closing this issue.

[2019-09-06 02:49] #495 closed

[2019-09-06 03:24] rathnaum commented on #494
Both. Does the Library provide automatic retry after connection setup fails and also re-connect?

[2019-09-06 06:29] yin19941005 commented on #494
No, it doesn't. But slightly different between them:

For connection setup fails, you can retry it by yourself. Catch the exception and retry and that's it.

For re-connect, the Smbj Library is currently not support it yet. Two scenario both are not implemented yet:
1. Session expired and requires re-authenticate
2. Actual Network disconnect

For 1, you have to implement the re-authenticate. For 2

[2019-09-10 01:12] nddipiazza commented on #439
@burkolter can you close this issue then?

[2019-09-11 06:51] burkolter commented on #439
Sure and Sorry!

[2019-09-11 06:51] #439 closed

[2019-09-12 18:33] mikhasd opened #496 "Remote Copy Fail for DFS resolved files"
I'm currently facing an issue while trying to execute a remote file copy: `SMBRuntimeException: Remote copy is only possible between files on the same server`.

After debugging smbj's code, I found what I believe is the root cause: Everytime a path is resolved by _DFSPathResolver_, a new nested session is created, even if there is already a session for that server+share. Futher on File.remoteCopyT

[2019-09-17 15:39] baghira opened #497 "Which minSdkVersion is required if I want to include smbj in my project"
I included smbj in my project. The files are successfully written to SMB-Share folder if minSdkVersion = 26 and on the device Android 8.0.
I included smbj in my project. The files are successfully written to SMB-Share folder if minSdkVersion = 26 and on the device Android 8.0.
My problem is that in my project I need minSdkVersion = 14. Is it possible to solve this problem?
The error message:
 Meth

[2019-09-18 19:22] nddipiazza commented on #467
I am no longer getting this error. It must have been a user issue. Closing!

[2019-09-18 19:22] #467 closed

[2019-10-03 07:47] zsoltm opened #498 "DFS resolution redundancy"
I have a performance issue. Likely it's a feature request. I'm using SMBJ to copy a bunch of files to a DFS enabled share.

I have a loop like this:

[code]

With this code DFS resolution is performed by SMBJ for each file, but it always resolves to the same host and share in this case as I'm writing to the same target folder, so it's completely redundant.

I'd like to avoid these steps:

+ an ext

[2019-10-03 19:44] Kabennsky commented on #425
Tested it on jdk-12.0.2 with using --illegal-access=deny command line flag as expected following is thrown:
com.hierynomus.security.SecurityException: java.security.NoSuchAlgorithmException: MD4 MessageDigest not available

Is this project still getting updates? A fix would be nice before Java blocks it.
WARNING: All illegal access operations will be denied in a future release

[2019-10-03 22:11] hierynomus commented on #425
Yes, still working on it. Need to look into this.

Op do 3 okt. 2019 om 21:44 schreef Kabennsky <notifications@github.com>:

[2019-10-04 09:50] andershermansen commented on #498
Dupe of #406 ? Check the information in that issue.

[2019-10-04 15:51] zsoltm commented on #498
Indeed it is, thanks for the heads up. I quickly created another PR based on yours, with some locking added to avoid lost sessions in a possible race condition.

[2019-10-04 18:24] andershermansen commented on #498
Cool. I see if I can manage to test it on our setup.

[2019-10-07 08:51] fblampe commented on #391
I agree, it would be very helpful to add a documentation section showing how to open, read and write a file on a share.
Maybe this comment can serve as a reference? https://github.com/hierynomus/smbj/issues/483#issuecomment-504851114

[2019-10-07 10:48] #480 closed

[2019-10-07 10:48] #481 closed

[2019-10-15 13:39] throwinto2 commented on #415
I seem to be getting the exact same exception at the exact same code lines. I have multiple DFS shares set up on various servers and it seems like only some encounter this problem. They are all in the same domain, same setup and all shares are set up in the same way.
I sadly cannot pinpoint the cause. At first it looked like the DFS shares on a domain controller were more stable, but this was seem

[2019-10-16 08:36] #425 closed

[2019-10-16 08:38] hierynomus commented on #497
The reflective access using MethodHandle has been removed from the code, you should be able to try it now with the latest master.

[2019-10-16 08:40] hierynomus commented on #491
@rashider SMBJ is able to multiplex transfers over a Connection/Session object. the `SMBClient` class itself will cache the connections to the different hosts and return them where needed, as long as you don't close them.

[2019-10-16 10:16] hierynomus commented on #487
I've just looked through the code and compared it to the MS-SMB2 spec. Except for the yet unimplemented SMB3.x.x dialect support, everything is implemented according to spec, so I'm not sure what the problem here is.

Signing is being negotiated by the SMB2_SESSION_SETUP message sequence. Unless someone can more clearly (with spec in hand) tell me what's going wrong, I'm inclined to close this iss

[2019-10-16 10:17] hierynomus commented on #485
Is this really an SMBJ issue?

[2019-10-16 10:18] hierynomus commented on #471
Closing this issue, @ivarprudnikov supplied your answer.

[2019-10-16 10:18] #471 closed

[2019-10-16 10:19] hierynomus commented on #476
@neoxpert supplied your answer, closing this issue.

[2019-10-16 10:19] #476 closed

[2019-10-16 10:19] hierynomus commented on #475
@vnashkev Any update? Else I'm closing this issue.

[2019-10-18 12:01] umangsamani opened #500 "Missing com.hierynomus.asn1.types.primitive.ASN1ObjectIdentifier in smbj-0.9.1"
Hey,

I downloaded smbj from the link - https://search.maven.org/artifact/com.hierynomus/smbj/0.9.1/jar.
I am trying to connect to a local sharepoint site.

At time of connection.authenticate(), it is throwing classNotFoundException for ASN1ObjectIdentifier.
I checked the .classes in the .jar file, and I am unable to see that class.

Am I missing something?

Thanks,
UmanG

[2019-10-18 12:54] hierynomus commented on #500
Yes, you're missing the com.hierynomus:asn-one:0.4.0 jar.
Instead of directly copying the jar, use a build-tool such as maven or
gradle.

[2019-10-18 13:11] umangsamani commented on #500
Thank you for the quick reply. I will have to download the jar, as my project is not on maven/gradle. :(

[2019-10-18 14:12] #500 closed

[2019-10-18 14:12] #448 closed

[2019-10-25 16:46] matt-matt1 opened #501 "Connect to Apple Time Capsule"
Do you know how to connect (and list files, ...) on a TimeCapsule?
FYI  Apple devices use both SMB and AFP.
I can connect using my Mac easily (obviously), but using linux my _/etc/fstab_ looks like

Only by specifying the security and vers will it work.  Do you know how I can emulate that?

[2019-10-25 16:59] matt-matt1 commented on #501
When I try this occurs in my log:

I/c.h.s.t.PacketReader: PacketReader error, got exception.
    com.hierynomus.protocol.transport.TransportException: com.hierynomus.protocol.commons.buffer.Buffer$BufferException: Underflow
        at com.hierynomus.smbj.transport.tcp.direct.DirectTcpPacketReader.doRead(DirectTcpPacketReader.java:53)
        at com.hierynomus.smbj.transport.PacketReader.readPacke

[2019-10-26 00:15] ecki commented on #501
Jamb does not speak Cifs 1.0, you can try to use the jCIFS library instead.

[2019-10-28 20:41] rathnaum commented on #385
How do i unzip a zipped file which is on smb share?

[2019-10-30 04:16] meghanaHManjunath commented on #311
@pepijnve I want to copy smb files through seekableByteChannels . I see your Github project still in progress.

[2019-11-05 20:38] rathnaum commented on #197
How do I create folders if it does not exist? I am getting this error, STATUS_OBJECT_PATH_NOT_FOUND

[2019-11-05 20:40] rathnaum opened #502 "STATUS_OBJECT_PATH_NOT_FOUND if folder does not exist"
I can check from smbj if a folder exists or not? How do I create a nested folder before uploading any files in SMBJ? I get this error if folder does not exist

[2019-11-06 18:08] ndimitry commented on #197
Try this with combination of the comment above
``
            try (DiskShare share = (DiskShare) session.connectShare("Share2")) {
                    share.openDirectory("testFolder",
                            EnumSet.of(AccessMask.FILE_WRITE_DATA),
                            null, // attributes, null works fine (don't know their purpose)
                            SMB2ShareAccess.ALL,

[2019-11-07 11:18] umangsamani opened #503 "STATUS_LOGON_FAILURE (0xc000006d) - Authentication failed"
Getting started with SMBJ, and trying to execute the first example and getting Authentication failed error.

**Use Case** : I am simply trying to connect to a fileshare which has SMB1 disabled.
For which I am providing below details:
Server name - "0.0.0.0" <Actual IP>
domain - null
Username - ".\\administrator"
Password - "Password".

[code]

Getting this message for Line # 2 - Successfully conne

[2019-11-07 12:56] hierynomus commented on #503
LOGON_FAILURE means that the server refused the credentials. I guess you should use `Administrator` as username. not `.\administrator`. Either that or your password is bad.

[2019-11-07 13:28] ny4i opened #504 "Packet signature error on SMB2_CREATE"
Hello,

I am trying to connect to a server that supports SMB2.02. I get the following error message: Packet signature for packet SMB2_CREATE with message id << 4 >> was not correct

I was not quite sure how to debug this further (as in what is message id << 4 >>)?

Is there a log can enable for more detailed tracing? I ask that as it appears there is support for more logging as I received an error

[2019-11-07 13:56] umangsamani commented on #503
I was wondering that this should be something silly. Thank you.

[2019-11-07 13:56] #503 closed

[2019-11-07 14:41] dja1000o opened #505 "DFS name resolution"
I recently came across one issue. After some investigation we found out that it is related on how the DFS for the share is resolved. In fact the path is resolved correctly but the DNS domain name is not added to the resolved server.
As long as the application is executed on a PC that is part of the XPTO domain that works fine as the suffix xpto.xxx.xx.org is added automatically. But for Linux serv

[2019-11-07 14:48] hierynomus commented on #504
If you add logback to your dependencies, you should be able to see more logging. Which version of smbj are you using?

[2019-11-07 16:08] ny4i commented on #504
Version 0.9.1 smbj-0.9.1.jar

I will look into the logging dependency.

[2019-11-08 13:51] dharmesh-khandelwal commented on #365
Any updates on this issue? @hierynomus
Is there any keepalive mechanism that can be configured?

[2019-11-08 15:06] cliviu opened #506 "Authentication failed with STATUS_OTHER (0xc0000205)"
Hi,

  I have got the following exception  (wrong credentials are excluded):

  Caused by: com.hierynomus.mssmb2.SMBApiException: STATUS_OTHER (0xc0000205): Authentication failed for 'user' using com.hierynomus.smbj.auth.NtlmAuthenticator@b10f57
	at com.hierynomus.smbj.connection.Connection.authenticate(Connection.java:182)
	at com.hierynomus.smbj.session.Session.buildNestedSession(Session.java:20

[2019-11-09 13:22] neoxpert commented on #502
As far as I know there is no method like "makedirs" in SMBJ. The easiest way would be to split up the file path and create the nested folders one by one.

[2019-11-11 08:44] hierynomus commented on #502
@rathnaum as @neoxpert points out, you will need to split up the path yourself, and iterate over the components. To check whether a folder exists, you can call `DiskShare.folderExists(path)`

[2019-11-11 08:45] hierynomus commented on #506
My guess is that because the nested sessions aren't reused yet, you're going over some limit in the server.

[2019-11-11 08:47] hierynomus commented on #505
This means that the hostname you're getting back from the DFS resolution is not complete/valid. I wonder how `samba` or another DFS client fixes that. @pepijnve do you have any idea?

[2019-11-11 08:47] hierynomus commented on #504
Let me know if you have more logging

[2019-11-11 08:49] hierynomus commented on #501
Indeed, this looks like SMBv1. If you want to verify whether that is indeed the problem, you can add the `SmbConfig.withMultiProtocolNegotiate(true)` setting.

[2019-11-11 09:33] cliviu commented on #506
Yes, this is my guess also. Is there any release candidate that I can use to test this ?

[2019-11-11 10:24] hierynomus commented on #506
None yet, I would suggest for now to not reuse smbclient when using dfs... Will try to find some time this month to work on it.

[2019-11-11 10:28] cliviu commented on #506
How do you mean this ?

Thanks !

[2019-11-11 12:18] coolpk34 opened #507 "After creating a file using smbj, it is not accessible up till sometime"
Hello Team,

I am creating and writing a file onto a network shared location. Once its done, it won't be accessible for couple of minutes. I see below multiple exceptions in the logs. After some time newly created files can be opened and read. When tried to open as soon as file is created, it says 'file is opened and in use'.

Can you please help me in getting this resolved?

07:00:58,747 INFO  [P

[2019-11-11 12:19] hierynomus commented on #507
Are you correctly closing the File/streams/share etc?

[2019-11-12 10:20] umangsamani opened #508 "JCIFS to SMBJ"
Team,

We are in a phase to move away from jcifs's usage and start using smbj implementation for the known obvious reasons.
After initial findings from existing codebase, we have found that we were mainly using three of jcifs classes viz. SmbFile, NtlmPasswordAuthentication & SmbException.

After going through the javadocs, there wasn't a clear understanding of how can I find the relevant match. T

[2019-11-12 15:50] hierynomus commented on #508
There is no direct 1-1 mapping. Have a look at the tests to see how the library can be used.

[2019-11-12 16:17] ecki commented on #508
BTW, did you consider jCIFS-ng instead? I think the api won’t change and you can mix all SMB versions, so it might be the better solution for your case.

[2019-11-12 17:35] umangsamani commented on #508
@hierynomus : Yes I have started looking at it. I thought if any guide or reference was available, I would have expedite the process.
@ecki : Yes we tried to check jcifs-ng as well, but sensed as if much active development is not happening.

[2019-11-12 17:35] #508 closed

[2019-11-13 08:28] hierynomus commented on #508
@umangsamani If you have any specific questions, feel free to ask them.

[2019-11-13 08:29] hierynomus commented on #506
@cliviu I meant that between requests you should close the SmbClient, this will ensure that all nested sessions are cleaned up

[2019-11-13 08:29] hierynomus commented on #506
i.e. I know this is a stop-gap measure, but it will in the short run at least fix the problem

[2019-11-13 08:30] hierynomus commented on #502
@rathnaum Can we consider your question answered?

[2019-11-13 08:34] hierynomus commented on #470
@Nirothipan What do you mean with transfer within smb servers?

If the files are on different servers, just copy the inputstream to the outputstream. If the files reside on the same server, you can use the `File.remoteCopyTo(File)` method.

[2019-11-13 08:35] hierynomus commented on #487
@ecki  @sergey-senozhatsky  Any thoughts?

[2019-11-13 08:35] hierynomus commented on #497
@baghira Does it work now? If so, please close the issue.

[2019-11-13 08:36] cliviu commented on #506
ok, thanks

[2019-11-13 08:56] sergey-senozhatsky commented on #487
@hierynomus Please feel free to close this issue.

-ss

[2019-11-13 09:30] hierynomus commented on #487
Ok! Thanks for responding :)

[2019-11-13 09:30] #487 closed

[2019-11-13 11:09] coolpk34 commented on #507
Yes you are right streams which were opened were not closed and which is why we were facing issue accessing those files immediately after they were created. Thanks for pointing that out.

I have made sure resources wherever are are opened (File\share\connection\streams\session), that have been closed and yet after some idle time, I see below exception logs in the server back logs.

Can you throw s

[2019-11-13 12:09] kvk484 opened #509 "BufferException:underflow when trying to read, the excel file that is opened in write mode."
Caused by: com.hierynomus.protocol.commons.buffer.Buffer$BufferException: Underflow
	at com.hierynomus.protocol.commons.buffer.Buffer.ensureAvailable(Buffer.java:184)
	at com.hierynomus.protocol.commons.buffer.Buffer.readRawBytes(Buffer.java:303)
	at com.hierynomus.protocol.commons.buffer.Buffer.readRawBytes(Buffer.java:290)
	at com.hierynomus.protocol.commons.buffer.Buffer.readRawBytes(Buffer.jav

[2019-11-13 12:31] hierynomus commented on #507
No only streams need to be closed, also `File`, `Share`, `Session`, `Connection` and `SmbClient` have `close()` methods attached to them to clean up.

[2019-11-13 13:12] coolpk34 commented on #507
Even after closing the said elements, in idle time I am seeing those exceptions on server logs. Anyway that is not causing any problem with the functionality of the application. Is there any way that we can disable those kind of logs?

[2019-11-15 09:03] SubhasishDey opened #510 "Access to encrypted drive"
Hi,

      We are using the smbj library to access the SMB v2/v3 server.
      When the property Set-SmbServerConfiguration –RejectUnencryptedAccess is set to true, the login and upload fails.

     However when we disable this property, it starts working.

    When are the plans to cover the support for this in SMBJ.

Thanks and Regards,
Subhasish

[2019-11-15 14:37] hierynomus commented on #510
This switch enforces the SMB3 dialect with encryption enforced. There is a WIP branch for this, which I do need to finish.

[2019-11-17 17:25] matthiasblaesing opened #511 "SMBClient#connect creates shared Connection but does not protect from closing"
I saw a strange error in our testing environment. The scenario is this: There is an SMB share, that holds images that are exposed via a REST service on a website. A JSON index is created from the directory listing and thumbnails are created on the fly.

To realize this I originally planned to use one static SMBClient and fetch a connection + authenticate per request (depending on the path differen

[2019-11-18 10:35] kvk484 commented on #509
Can some one , help on the above issue of opened excel file.

[2019-11-19 05:28] SubhasishDey commented on #510
Thanks for the reply...
As we have some commitments for this, can I expect any near timeline for the release for this to the public ?

[2019-11-19 09:00] umangsamani opened #513 "Support for SMB1?"
In order to provide backward compatibility, does smbj be used to connect to smbv1 enabled shares ?
Reason for asking this is : I tried to use the test code to connect to SMB2 enabled share, and I am able to get the list of files inside a directory.
But when I try to do the same on SMB1 enabled share, I getting an exception which says : STATUS_BAD_NETWORK_NAME

[2019-11-19 10:24] hierynomus commented on #513
Hi @umangsamani, Currently there is no support for SMBv1. And as it is a deprecated and broken protocol, it is not high on the feature list as you can imagine. What you can do to provide better error support is to set `SmbConfig.withMultiProtocolNegotiate(true)`. This will throw an `SMB1NotSupportedException` if the server enforces SMB1.

[2019-11-19 11:44] ecki commented on #510
If you make commitments it’s probably best to compile the code yourself. It would actually help if you try it out before it is released.

[2019-11-21 08:26] jz36 opened #514 "SMBApiException: STATUS_OTHER (0xc0000279): Create failed for"
Hello!
I'm trying to create file on remote machine by SMB with your library.
And i'm getting this error. Can you help me?

code example:

        `SMBClient client = new SMBClient();

        Connection connection = client.connect("machine.name");

        AuthenticationContext ac = new AuthenticationContext("username", "password".toCharArray(), "domain.com");

        Session session = connection

[2019-11-21 09:04] hierynomus commented on #514
The returned status is:

[code]

I have no direct idea how to fix that. @pepijnve do you know what that means?

[2019-11-21 09:07] hierynomus commented on #513
Are you sure you've set all the parameters correctly? `STATUS_BAD_NETWORK_NAME` typically means the path could not be found.

Can you post teh entire stacktrace? And maybe some logging?

[2019-11-21 09:11] hierynomus commented on #511
@matthiasblaesing Yes, if you're reusing the SmbClient from different threads you're getting shared objects that you might not own.
I'll have a look at the PR

[2019-11-21 19:10] matthiasblaesing commented on #511
@hierynomus this is not a threading issue, I just observed it first in a multithreaded environment. The reproducer above is single threaded and reproduces the problem. The call to `session2.connectShare(share)` fails and that fails because the Transport is already disconnected at call time.

[2019-11-22 08:15] iamnani opened #515 "Exception occurred when trying to read the drive which has 200K files"
Hi
I am new to working with this library, using 0.9.1 version. When I try to scan a  network folder which has 200K files on it. It reads for 30K files and gives the following exception.

[c.h.p.commons.concurrent.Promise].tryRetrieve - << 23 >> woke to: {}
com.hierynomus.smbj.common.SMBRuntimeException: java.nio.channels.ClosedChannelException
        at com.hierynomus.smbj.common.SMBRuntimeExcept

[2019-11-22 08:23] iamnani commented on #515
next exception after the above exception trace is
com.hierynomus.protocol.transport.TransportException: java.util.concurrent.ExecutionException: com.hierynomus.smbj.common.SMBRuntimeException: java.nio.channels.ClosedChannelException
        at com.hierynomus.protocol.transport.TransportException$1.wrap(TransportException.java:29)
        at com.hierynomus.protocol.transport.TransportException$1.w

[2019-11-27 14:06] umangsamani opened #516 "Accessing share using DriveName and $ Sign"
So I want to access the shared path using $ sign.
Example :
\\192.168.1.100\ **d$** \ABC\DEF

In which case, the sample code goes like this :-
[code]

How can I achieve this? Appreciate some help here..
My end goal is to get the list of all the folders inside the sharedPath, then go to its parent and again do it.. Likewise..

[2019-11-27 14:16] andershermansen commented on #516
`session.connectShare("d$")`
afterwards you can use share.list to get a list of files in the directory.
`share.list("ABC\DEF")`

Basically you need to split up what you call the sharePath.
192.168.1.100 is the server
d$ is the sharename
ABC\DEF is the folder

[2019-11-27 16:06] umangsamani commented on #516
This is great. I will try this and see how it goes.
Thanks,
UmanG

On Wed, Nov 27, 2019 at 7:46 PM Anders Semb Hermansen <
notifications@github.com> wrote:

--
Warm Regards

UmanG N. Samani
Find me on : LinkedIn <http://www.linkedin.com/in/umangsamani> | Twitter
<http://twitter.com/umangsamani> | Facebook
<http://www.facebook.com/umangcopyrightphotos> | Instagram
<http://instagram.com/umangsamani3

[2019-12-02 08:30] jz36 commented on #514
So, have any ideas what could be wrong?

[2019-12-02 08:55] ecki commented on #514
What server and what configuration is this. Is there some DFS at play? Does it happen on all shares and path of this server? What reparse mountpoint are on the server?  Maybe named volume mounts? Cluster volumes? What Filesystem is it?

[2019-12-03 09:16] umangsamani commented on #516
This helped. Thank you for the help.

[2019-12-11 10:19] umangsamani commented on #516
Hey,

What if I want to list all the shares?
Example :
When we just type in the IP in the run - \\10.2.3.4\ and press enter, we get to see all the shares.

But here, when I do `share.list("")` it doesn't let me go ahead.

How can I get it?

[2019-12-11 10:41] hierynomus commented on #516
This is an RPC call, for which https://github.com/rapid7/smbj-rpc was built on top of SMBJ.

[2019-12-11 13:18] umangsamani commented on #516
Got it. Thanks for the confirmation.

[2019-12-11 13:18] #516 closed

[2019-12-19 15:24] umangsamani commented on #513
![image](https://user-images.githubusercontent.com/26565744/71185339-44593f00-22a1-11ea-9375-0bcb677302ba.png)
In continuation to the previous query, I have now set `SmbConfig.withMultiProtocolNegotiate(true)` , but still I am able to connect to the share. Above image shows that SMB1 is enabled.
Below are the logs :

[main] INFO com.hierynomus.smbj.connection.Connection - Successfully connected to

[2019-12-19 15:54] ecki commented on #513
Hello,

The negotiation will pick the highest protocol available, so it will only fail of the server has only smb1 available (since smbj does not). It will pick smb2+ on any more recent server.

BTW You can see if the server offers smb2/3 with Get-SmbServerConfiguration | Select EnableSMB2Protocol

--
https://Bernd.eckenfels.net

________________________________
Von: umangsamani <notifications@git

[2019-12-19 15:58] umangsamani commented on #513
![image](https://user-images.githubusercontent.com/26565744/71188166-791bc500-22a6-11ea-8934-f0df3f047a0a.png)

[2019-12-20 09:47] umangsamani commented on #513
On a different note, if I want to connect to localhost, and need to list local drives; can it be done? Because the code which I am writing is generic, if the user has entered the servername and share name, I will connect to it and will show the directories, and if user hasn't entered any thing; it means I am connecting to local drives.

If required, I can create a new issue for it,

[2019-12-20 10:44] felixRajkumar opened #517 "Different implementations of TransportLayerFactory"
There are three different implementations of TransportLayerFactory
1. AsyncDirectTcpTransportFactory
2. DirectTcpTransportFactory
3. TunnelTransportFactory

I have seen a lot of examples using AsyncDirectTcpTransportFactory. I would like to know why AsyncDirectTcpTransportFactory is used always .

[2019-12-20 10:50] hierynomus commented on #517
Mainly because that was the hardest to debug :) DirectTcpTansportFactory creates a synchronous transport, Async... makes for an asynchronous transport, better for multi-threaded apps.

The TunnelTransport is for connecting through a tunnel or proxy host.

[2019-12-20 11:00] felixRajkumar commented on #517
Thanks for your definition. This is my configuration
`SmbConfig smbConfig = SmbConfig
                .builder()
                .withMultiProtocolNegotiate(true)
                .withTransportLayerFactory(new AsyncDirectTcpTransportFactory<>())
                .withSigningRequired(true).build();

My aim is to read a file and encrypt the data with maximum security. Does setting the withSigningRequ

[2019-12-20 11:14] ecki commented on #513
You can connect to localhost (if the host allows it), however it is of course faster and more feature rich (showing non-shared drives) if you access the Filesystem locally.

You cannot list shares with smbj.

--
http://bernd.eckenfels.net

________________________________
Von: umangsamani <notifications@github.com>
Gesendet: Freitag, Dezember 20, 2019 10:47 AM
An: hierynomus/smbj
Cc: Bernd; Commen

[2019-12-23 07:29] kdsalvy commented on #478
Hi,

I am still facing the intermittent issue of getting authentication failed. Need some information in this reagrd

[2019-12-24 19:30] felixRajkumar opened #518 "Implementation of Session Encryption"
Hi,
    This is my code which reads a file read.txt and write it to the location writer.txt. Can anyone suggests any ways to make the session completely encrypted?.There are different ways like NTLM and GSS . But now SMBv3 could support AES-CCM. How can I implement it here?

`        try (Connection connection = client.connect(myIP)) {

            AuthenticationContext ac = new AuthenticationCont

[2019-12-24 19:31] #517 closed

[2019-12-25 00:17] ecki commented on #518
The smb3 and encryption support is not yet finished, it is developed here: https://github.com/hierynomus/smbj/commits/smb3-dev

[2019-12-25 02:22] felixRajkumar commented on #518
May I know when it will be completed, because I have to implement the advanced encryption for file transfer.

[2019-12-25 02:49] felixRajkumar commented on #518
Thanks for replying, I have gone through this link [](https://github.com/hierynomus/smbj/pull/438). May I now when this will be merged with master branch?

[2019-12-25 02:50] felixRajkumar commented on #518
Thanks for replying, I have gone through this link [https://github.com/hierynomus/smbj/pull/438](url) . May I now when this will be merged with master branch?

[2019-12-25 02:52] felixRajkumar commented on #518
I have gone through this link. May I know when this will be merged with master Thanks in advance

[2019-12-25 02:57] felixRajkumar opened #519 "Multichannel support SMBv3"
SMBv3 offers multichannel feature . Does smbj library has implemented Multichannel support? If yes what changes have to be done in below config.

`SmbConfig smbConfig = SmbConfig
                .builder()
                .withMultiProtocolNegotiate(true)
                .withTransportLayerFactory(new AsyncDirectTcpTransportFactory<>())
                .withSigningRequired(true).build();`

[2019-12-26 15:39] hierynomus commented on #519
There is no support for this yet. First order of business is getting minimum required SMB3 support in. This is an optional part of the SMB3 dialect.

[2019-12-31 10:25] umangsamani opened #520 "Timeout / Transact Timeout"
Any pointers on the usage of Transact Timeout or timeouts. For my usage, I only do read operations using SMBJ?

[2019-12-31 14:42] davide136 opened #521 "FileNotFoundException EROFS with MediaRecorder"
Hi, i'm getting this exception when trying to write to a File object (this library File, not java.io) using MediaRecorder, don't know if it's a bug or not but the app works using sdcard as a destination...

Solved by using a temp file as suggested by ecki, thank you very much!

[2019-12-31 17:22] ecki commented on #521
Looks like the setOutputFile(String) of that recorder expects a File object path (local path syntax) and not an external library (path syntax),

You can probably use a different method which takes an open output stream. If the recorder does not have that, use a local temp file or a different recorder.

--
http://bernd.eckenfels.net

________________________________
Von: davide136 <notifications@gi

[2020-01-01 05:22] niravravalhighq commented on #519
Hi @hierynomus ,
May we know, any expected timeline for new SMBJ release with minimum required SMB3 support ?
Thanks

[2020-01-01 13:03] neoxpert commented on #521
May it be that the used path isn't correct anyway. After connecting to a share you do not need to supply the share name as prefix to the desired path nor do you need to prefix the path with double back slash.

Also by using try with resources all the opened share / file handles etc. will be automatically closed when leaving the block / method _doInBackground_. If you want to return the file handle

[2020-01-01 21:18] #521 closed

[2020-01-03 15:11] nddipiazza commented on #463
Yeah I have a couple of my users getting this now too. Trying to figure out how to decipher this error. @SubhasishDey do you have any pcap captures of this (Using `tcpdump` or `wireshark`)?

[2020-01-07 14:16] djhamilton opened #522 "File being held open after created and written to."
I am using the latest version: com.hierynomus:smbj:0.9.1
But i am experiencing an issue i cannot figure out why.
When i create the file and write to the file, After i close the action the file still appears to remain open by the application.
This means nothing can open, append or delete the file as it is (In use)
The only way to release the file is to close down the application, I have gone throug

[2020-01-07 14:19] pepijnve commented on #522
You need to close the file handle as well, not just the output stream. Calling `f.close()` should do the trick.

[2020-01-07 14:42] djhamilton commented on #522
Thank you kind sir!

[2020-01-07 14:42] #522 closed

[2020-01-08 11:53] djhamilton opened #523 "How to open and append a text file, All methods fail"
Ive been trying to append an existing file so i can utilise this for writing logs over SMB network.
But every method i have tried over writes the file, or returns with Access is denied (Read Only File System)

The Read Only File System message is possibility because i have moved away using the Functions in SMBJ and attempted to utilise FileWriter or PrintWriter as this has an append function inclu

[2020-01-09 22:08] hierynomus commented on #511
This should be fixed with the closing of #512. Can you confirm @matthiasblaesing

[2020-01-09 22:09] hierynomus commented on #504
Do you have more logging? Or has it not occurred anymore?

[2020-01-09 22:10] #475 closed

[2020-01-09 22:11] hierynomus commented on #470
@Nirothipan Can this be closed?

[2020-01-10 07:37] Nirothipan commented on #470
Yes please . Thank you for the assistance . I'll reopen if further clarifications required .

[2020-01-10 08:02] #470 closed

[2020-01-10 16:14] matthiasblaesing commented on #511
Yes it works - thank you very much. I had a look at the implementation and it looks safe. I tried to construct race conditions but came up empty.

One thing I think worth considering is making `Pooled#release` protected. If you have a `Closeable` resource I would always expect users of the resource to end the lifecycle with a call to `close`. With `release` exposed there are two ways to mess with

[2020-01-10 16:14] #511 closed

[2020-01-11 04:21] ny4i commented on #504
Sorry. We did not have more logging but we had to move on so we did this another way. If time permits, I will try again.

[2020-01-11 04:21] #504 closed

[2020-01-15 23:54] mikepoz59 opened #524 "Question about a shared file and STATUS_DELETE_PENDING"
Using this in a project and occasionally we get an exception with STATUS_DELETE_PENDING as the message for a "sharedfile" that was deleted when iterating through the results of directory.getFiles().

I looked for documentation (no wiki exists), and also in the actual code but it's unclear.

Will sharedFile.isExisting() return false if STATUS_DELETE_PENDING is set?

If the answer to the above quest

[2020-01-16 08:25] hierynomus commented on #524
`STATUS_DELETE_PENDING` will return `false` for `share.fileExists(file)` or `share.folderExists(folder)`.

The status means that the file is marked for deletion, and when all access to the file is closed, it will be deleted.

[2020-01-16 08:33] hierynomus commented on #523
Take a look at the the following code:

https://github.com/hierynomus/smbj/blob/adb73c8b13a3424f7ac7e3bcfb05578e412bdee8/src/it/groovy/com/hierynomus/smbj/SMB2FileIntegrationTest.groovy#L187-L259

That tests the append functionality.

[2020-01-16 08:35] hierynomus commented on #515
Without the code to see, and a tcpdump of the session it is impossible to say what's going wrong.

[2020-01-22 09:23] SubhasishDey opened #525 "SMB v2 authentication fails - Unrecognized Windows Sockets error: 0: recv failed"
SMBJ is failing to authenticate with valid credentials using NTLM Authenticator.
WE are trying to connect to a windows 2016 SMB server
Can anyone please help me understand, the reason for this failure ?

[code]

[2020-01-23 20:32] ndimitry commented on #443
Windows (not the server edition) allows only 20 sessions, so in case someone tries to establish the 21st session, one will get `STATUS_REQUEST_NOT_ACCEPTED`.
This also might be the reason.

[2020-02-04 07:39] felixRajkumar commented on #518
Hi @hierynomus . May I know when the encryption support will be merged with the master.

[2020-02-04 14:59] umangsamani opened #526 "Connecting to httpS server"
I am trying to do a POC code to connect to a  http**s**://abc.companyname.com
Similar to fileshare connection, I extract the server name and use it to connect.

Example :-

`Connection connection = client.connect("abc.companyname.com");`
gives` java.net.SocketTimeoutException`: connect timed out
This approach of extracting the domain name and using it to connect works when we are on HTTP but fails

[2020-02-04 19:33] ecki commented on #526
Smbj can not connect to http or https. It only supports smb2 (and 3) protocols. You need to use a different library (like commons http client) or platform operations like HttpsURLConnection.

[2020-02-04 20:47] markharrisintellihub opened #527 "SMBJ to Azure file share: STATUS_ACCESS_DENIED"
Using SMBJ v 0.10.0, I am unable to connect to a file share created in Azure.

Code:

SmbConfig smbConfig = SmbConfig.builder().build();
try (SMBClient client = new SMBClient(smbConfig); //
  Connection connection = client.connect(serverName)) {
  AuthenticationContext authenticationContext = new AuthenticationContext(username, password.toCharArray(), domain);
  Session session = connection.authen

[2020-02-05 08:54] hierynomus commented on #526
Indeed, thanks @ecki. I think the one machine actually has SMB open, and the other ("https") machine does not have SMB open.

[2020-02-05 08:54] #526 closed

[2020-02-05 08:55] hierynomus commented on #527
I think Azure requires the encryption part of the SMB3 dialect. This is in the works, I hope to get some time soon to finish it.

[2020-02-05 08:57] hierynomus commented on #525
It seems that the server disconnected the connection. Is there any logging on the server side that points to the problem?

[2020-02-05 08:57] hierynomus commented on #524
@mikepoz59 Does this answer the question?

[2020-02-05 08:58] hierynomus commented on #523
@djhamilton Does this answer the question?

[2020-02-07 23:11] mikepoz59 commented on #524
Yes, apologies for the late response. Been in crunch mode at work.  Thank you!

[2020-02-07 23:11] #524 closed

[2020-02-10 16:25] cliviu opened #528 "Call to DiskShare.list hangs indefinitely"
Hi,
  this call hangs indefinitely. Isn't any timeout set somewhere ?
"Thread-444756" Id=533756 in WAITING on lock=java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject@9304f9
    at sun.misc.Unsafe.park(Native Method)
    at java.util.concurrent.locks.LockSupport.park(LockSupport.java:175)
    at java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject.await(AbstractQ

[2020-02-11 09:23] felixRajkumar opened #529 "Check for Directory in file Iteration"
Hi @hierynomus @pepijnve ,
I have been iterating through files using smbj. I would like to know if there is any directory check like (isDirectory).My code is here

` for (FileIdBothDirectoryInformation fileEntry : share.list(destinationFolder)) {
                    String fileName = fileEntry.getFileName(); }`

[2020-02-11 09:37] ecki commented on #529
Not sure if it is populated, but you should normally see the `FileAttributes.   FILE_ATTRIBUTE_DIRECTORY` bit be set in `fileEntry.getFileAttributes()`

[2020-02-11 09:44] andershermansen commented on #529
You can, like this:
[code]

[2020-02-11 10:03] felixRajkumar commented on #529
Thanks a lot @andershermansen @ecki . This works

[2020-02-11 10:03] #529 closed

[2020-02-11 10:15] felixRajkumar opened #530 "Dot characters shown while Listing all files in a share"
Hi @hierynomus @pepijnve, while iterating through  the file I am getting dot characters.May I know why am I getting this.My code is given below

`for (FileIdBothDirectoryInformation fileEntry : share.list("sample Logs\\")) {
System.out.println(fileEntry.getName());
}`

The following is my output

[2020-02-11 10:20] pepijnve commented on #530
Because the servers send those entries in its response. Smbj is a low-level SMB library that pretty much hands you exactly what the server responded. If you don't want these entries you have to filter them out yourself.

[2020-02-11 10:22] pepijnve commented on #530
See https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-fscc/ab8e7558-899c-4be1-a7c5-3a9ae8ab76a0 for more details on what `.` and `..` represent.

[2020-02-11 10:39] felixRajkumar commented on #530
This helps thanks a lot.

[2020-02-11 10:39] #530 closed

[2020-02-12 13:41] cliviu commented on #528
Line 414 in DFSPathResolver is    SMB2IoctlResponse response = Futures.get(ioctl, TransportException.Wrapper); which means NO timeout. Am  I right ?  Would it be necessary tu introduce a timeout from the application side  ?

[2020-02-12 14:11] hierynomus commented on #528
Makes sense

[2020-02-12 22:05] davisnw opened #531 "NullPointerException in DiskShare.openFile(...) and DiskShare.openDirectory"
Testing against adb73c8b13a3424f7ac7e3bcfb05578e412bdee8, every attempt to open a file or directory always ends up in a `NullPointerException`.  Since no-one else has reported this, and it would seem to make the library completely unusable, perhaps there is something atypical about the fileshare I am accessing.  But not being very well-versed in the SMB protocol, I am at a loss of where to look, a

[2020-02-13 00:11] davisnw commented on #531
Somehow missed this in my earlier search for issues - looks like it may be the same issue in an earlier version of smbj: #415

[2020-02-13 00:43] davisnw commented on #531
Also see that https://github.com/hierynomus/smbj/issues/342#issuecomment-425499763 mentions a possible issue when re-using `SmbClient`, Though the exception mentioned is different, the associated pull request https://github.com/hierynomus/smbj/pull/474 mentions that it "Probably fixes issue #415 as well."

[2020-02-13 19:13] davisnw commented on #531
I found that the `NullPointerException` was avoided by not reusing `SmbClient`, e.g.

[code]

Closing this in favor of #415 which pre-existed this issue.

[2020-02-13 19:13] #531 closed

[2020-02-13 19:15] davisnw commented on #415
I found that at least in my case, the `NullPointerException` only occurs if I reuse `SmbClient`.  See also #531

[2020-02-19 10:26] timautin commented on #313
For anyone coming here:

Add a simplelogger.properties file in your resources directory, and in this file write:

# App logging level:
org.slf4j.simpleLogger.defaultLogLevel=info

# Disable SMBJ logging:
org.slf4j.simpleLogger.log.com.hierynomus=off

[2020-02-21 08:19] felixRajkumar opened #532 "listing only shared Folders"
Hi ,
     Is it possible to list only the files that are shared by the administrator by means of smbj library.For Example if the user has shared only D drive . Only the D drive should be listed while listing the files

[2020-02-21 22:45] ecki commented on #532
Can you define what you mean with "files shared by administrator"? Do you mean files in a share owned by Administrator, do you mean files in a share readable to you or do you mean a list of shares on the server?

[2020-02-22 03:35] felixRajkumar commented on #532
Okay, I will explain that with an illustration. For Example ,there are 3 local drives C:\\ , D:\\ ,E:\\. I have shared only my E:\\ to everyone for reading. I haven't shared C:\\ or D:\\ . In this case while using listfiles functions of smbj is it possible not to list the files that are not shared by me @ecki .Here I would like to show only E:\\ while I am listing and not any other due to security

[2020-02-22 03:59] ecki commented on #532
This is what is called *listing shares* and it is not provided by smbj, since it does not use the SMB protocol.

Here is an add-on which does that: https://github.com/rapid7/smbj-rpc#ms-srvs-server-service-remote-protocol-httpsmsdnmicrosoftcomen-uslibrarycc247080aspx

[2020-02-22 04:28] felixRajkumar commented on #532
So what you are saying is I have to use remote calls to get shares, am I right?. I found this code there, is this what you meant

`final SMBClient smbClient = new SMBClient();
try (final Connection smbConnection = smbClient.connect("aaa.bbb.ccc.ddd")) {
    final AuthenticationContext smbAuthenticationContext = new AuthenticationContext("username", "password".toCharArray(), "");
    final Session

[2020-02-24 12:16] felixRajkumar opened #533 "Listing drives and shared folders"
Hi,
     Is it possible to list drives and shares by means of smbj. When I try to list the shares of a host, I should get their drives and their shared paths.

`
        try (Connection connection = client.connect("host")) {

            AuthenticationContext ac = new AuthenticationContext(userName, passWord.toCharArray(), domain);

            Session session = connection.authenticate(ac);

[2020-02-24 12:36] ecki commented on #533
As already explained, smbj does not have a function to do this. With the RPC add-On You can only list shares, not the drives which are not shared. The listing only shows drives the user has access to. If you have problems with the RPC method, I would ask in that project. BtW it's better to not open multiple Tickets for the same questions.

[2020-02-24 13:54] felixRajkumar commented on #533
Got it

[2020-02-24 13:54] #533 closed

[2020-02-24 14:26] felixRajkumar commented on #532
` try (final Connection smbConnection = smbClient.connect("felix-9050")) {
            final AuthenticationContext smbAuthenticationContext = new AuthenticationContext("username", "password".toCharArray(), "");
            final Session session = smbConnection.authenticate(smbAuthenticationContext);

            final RPCTransport transport = SMBTransportFactories.SRVSVC.getTransport(session);

[2020-02-24 14:42] pepijnve commented on #532
@felixRajkumar the document you want to consult for this is actually the [[MS-SRVS] specification](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-srvs/accf23b0-0f57-441c-9185-43041f1b0ee9). In particular see [2.2.2.4 Share Types](https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-srvs/6069f8c0-c93f-43a0-a5b4-7ed447eb4b84)

[2020-02-24 14:48] felixRajkumar commented on #532
Yes I do agree with you. But my motto is to differentiate between the resources shared by the admin and the resources that are not shared by the admin.

[2020-02-25 04:45] samrajcse commented on #506
Hi All,

Any interim update about this fix?

[2020-02-26 11:24] felixRajkumar opened #534 "DiskShare already Closed"
Hi, While trying ti read a file I am getting the following exception. Can anyone help me with it.

|
[16:43:45:042]|[02-26-2020]|[SYSERR]|[INFO]|[218]: com.hierynomus.smbj.common.SMBRuntimeException: DiskShare has already been closed|
[16:43:45:043]|[02-26-2020]|[SYSERR]|[INFO]|[218]: 	at com.hierynomus.smbj.share.Share.send(Share.java:351)|
[16:43:45:043]|[02-26-2020]|[SYSERR]|[INFO]|[218]: 	at c

[2020-02-26 11:25] felixRajkumar commented on #534
My code goes below

` try (Connection connection = smbClient.connect(username)) {
                AuthenticationContext ac = new AuthenticationContext(username, importProtocolBean.getPassword().toCharArray(), domain);
                Session session = connection.authenticate(ac);
                DiskShare diskShare = (DiskShare) session.connectShare(shareName);
                InputStream inputStr

[2020-02-26 11:26] felixRajkumar commented on #534
The following is my code

` try (Connection connection = smbClient.connect(username)) {
                AuthenticationContext ac = new AuthenticationContext(username,importProtocolBean.getPassword().toCharArray(), domain);
                Session session = connection.authenticate(ac);
                DiskShare diskShare = (DiskShare) session.connectShare(shareName);
                InputStream inp

[2020-02-26 11:27] felixRajkumar commented on #534
The following is my code

`AuthenticationContext ac = new AuthenticationContext(username, importProtocolBean.getPassword().toCharArray(), domain);
                Session session = connection.authenticate(ac);
                DiskShare diskShare = (DiskShare) session.connectShare(shareName);
                InputStream inputStream;
                ImportFileProperties fileProperties;

[2020-02-26 11:41] felixRajkumar commented on #534
I saw this [https://github.com/hierynomus/smbj/issues/531](url) .Actually I am using a single smbclient instance for every fileoperations like getting file size, reading ,checking file existence. Will this really could cause the issue.

[2020-02-26 13:28] hierynomus commented on #534
It definitely can be, or you're calling `close` somewhere on the diskshare after which you're trying to re-use it.

[2020-02-26 13:30] felixRajkumar commented on #534
May I know why the error occurs when the smbclient object is reused @hierynomus

[2020-02-26 13:47] pepijnve commented on #534
The root cause is not the reuse in and of itself. It's most likely caused by reusing a client or share object that you're accidentally closing somewhere in your code.

A similar question was asked in #395.

[2020-02-26 14:13] felixRajkumar commented on #534
I check my code. I haven't closed the diskshare . Actually I could get the inputfilestream when I read the file. But when I use bufferedReader.readLine() I am getting the error

[2020-02-26 14:32] andershermansen commented on #534
I saw in your earlier code snippets that you used try-with-resources, that will close. You should share your complete code sample for review.

[2020-02-26 14:34] felixRajkumar commented on #534
Here is my code

` try (Connection connection = smbclient.connect(username)) {
                AuthenticationContext ac = new AuthenticationContext(username, importProtocolBean.getPassword().toCharArray(), domain);

                Session session = connection.authenticate(ac);

                DiskShare diskShare = (DiskShare) session.connectShare(shareName);

                java.io.InputStream

[2020-02-26 14:51] andershermansen commented on #534
fileSource is used outside of the try-with-resources for the connection?

[2020-02-26 14:52] felixRajkumar commented on #534
Man @andershermansen . You really saved my day. I removed the try block in connection, it worked. But I have a doubt . After I got the inputstream even If I close the connection it should work right?

[2020-02-26 14:52] felixRajkumar commented on #534
Yeah It was

[2020-02-26 15:07] hierynomus commented on #534
@felixRajkumar Not to sound condescending, but you might want to read up on how Java IO and try-with-resources work... This has little to do with any library, but is plain basic Java knowledge.

[2020-02-26 15:30] felixRajkumar commented on #534
Actually I haven't implemented try with resources anywhere before I started using smbj. I am familiar with try catch statements alone. Anyway I will make sure I will learn that.Thanks a lot

[2020-02-26 17:16] pepijnve commented on #534
You could implement it that way, but that would make the internal state tracking of the library much more complicated. Closing the connection closes the underlying TCP connection at which point you simply can't send requests to the server anymore.
The way smbj works is pretty standard as far as I know. For instance, this would not work either and is essentially the same thing:

[code]

To implemen

[2020-02-27 05:32] SubhasishDey opened #535 "SMB server connection exception while session setup"
Hi,

We are trying to connect to a SMB server, which fails with below error, the SMB server has enabled NTLMv2.

The exception happens while `Setting << 3 >> to SMB2_SESSION_SETUP with message id << 3 >>`

Can anyone please help me in understanding the reason ?

[code]

[2020-02-27 05:37] SubhasishDey commented on #535
This server gets connected by a Linux mount and functions without any issues, using below command

//<Windows2016Server/<SharedWindowsfolder> <localDirectoryonLinuxserver> cifs credentials=<credentialstoConnecttoWindowsServer>,_netdev,users,rw,noauto,uid=<localLinuxID>,gid=<LinuxID>,soft,nocase,sec=ntlmv2 0 0
//topsql278/Silversands_Shared /opt/wm/wmfs/topsql278_mnt cifs credentials=/opt/wm/cifs.c

[2020-02-27 13:03] felixRajkumar commented on #534
I can understand this. But I need to surely close the connection before I send the inputstream to the next function.

I used the below code to copy my inputstream. Is there is any other efficient way of handling this
`Connection connection = null;
        try {
            connection = smbClient.connect(getUserCredentials().get("HOSTNAME"));
            AuthenticationContext ac = new Authenticatio

[2020-02-27 13:06] pepijnve commented on #534
You have two options

1. Stream the file content to somewhere else (disk, in memory, ...) and return a stream pointing to that somewhere else
2. Stream the file contents directly from the server. In that case, create a wrapper InputStream that calls Connection#close when InputStream#close is called.

Which one makes the most sense depends on your application.

I do agree with @hierynomus that this

[2020-02-27 13:38] felixRajkumar commented on #534
Understood. Thanks for the knowledge sharing everyone @pepijnve  @hierynomus  @andershermansen

[2020-02-27 13:38] #534 closed

[2020-03-02 11:20] felixRajkumar opened #536 "com.hierynomus.smbj.event.SMBEventBus - PublicationError"
cause=java.lang.reflect.InvocationTargetException
	message='Error during invocation of message handler. There might be an access rights problem. Do you use non public inner classes?'
	handler=private void com.hierynomus.smbj.connection.Connection.sessionLogoff(com.hierynomus.smbj.event.SessionLoggedOff)
	listener=com.hierynomus.smbj.connection.Connection@7714f57d
	publishedMessage=com.hierynomus.s

[2020-03-02 11:25] #532 closed

[2020-03-02 20:33] ecki commented on #536
It looks like the NPE happens in your code (your FilteredMessageDispatcher calls a subscriber which is accessing a null field. Note that [SessionLoggedOff only has a sessionid member set](https://github.com/hierynomus/smbj/blob/600b4e1e651f513e0bf16559d1bd32b98323a5c1/src/main/java/com/hierynomus/smbj/session/Session.java#L153), not sure if that can be null. You should find it by logging all acces

[2020-03-03 10:14] felixRajkumar commented on #536
This is the latest version. I built the code and currently using it for AES encryption. Can you explain this a little more of why the error has occured

[2020-03-03 19:55] hierynomus commented on #536
`[smbj-0.1.0.jar:0.1.0-SNAPSHOT]` I'm pretty sure is not the latest released version.

[2020-03-04 04:38] saranya1988 commented on #96
@hierynomus,
Has the support for SMB 3.0 added to the library?

Regards,
SN

[2020-03-04 04:42] saranya1988 commented on #188
Hi,
Do we have Watch service implemented in smbj?

[2020-03-05 07:46] 3c71 commented on #96
I tried disabling SMB 2.x, and it results in SMB 3.x not supported exception. Guess it's not supported. I checked smb3 branch, but I'm not sure it's usable?

[2020-03-05 20:29] damartin1 commented on #496
Is there an update on this? Release timeframe?

[2020-03-06 13:57] SubhasishDey commented on #525
Hi Hierynomous,

I got the below log, it seems we are asking for extra permission, like WRITE_DAC, WRITE_OWNER, DeleteChild. This is send although I am opening the file using AccessMask.MAXIMUM_ALLOWED.

Can you please suggest on this.

Share Information:
	Share Name:		\\*\grpdata
	Share Path:		\??\D:\grpdata
	Relative Target Name:	DORY exchange\QUAL\Error\testfile.txt

Access Request Information:

[2020-03-06 15:03] mikhasd commented on #496
I have patched the "broken" class in my project.
Not sure if the latest smbj release has it fixed.

[2020-03-06 20:30] ecki commented on #525
Hm, the maximum_allowed constant seems to be correct. Maybe you see the result of shareaccess.ALL? (And this should not be related to refused authentications?)

https://github.com/hierynomus/smbj/blob/1494c5ca68912c9d58331f0461c30ca16af65a59/src/main/java/com/hierynomus/msdtyp/AccessMask.java#L56

[2020-03-09 07:02] #536 closed

[2020-03-09 07:10] felixRajkumar opened #537 "Connecting to a local machine that is in workgroup"
Hi,
    Can anyone tell how to connect how to connect a machine which is in domain to a machine that is in workgroup.

` try(Connection connection = smbClient.connect(credential.getMachineName()))
            {
                AuthenticationContext ac = new AuthenticationContext(credential.getUserName(),credential.getPassword().toCharArray(), credential.getDomain());
                Session sessio

[2020-03-09 07:29] felixRajkumar commented on #537
This is my config

                .builder()
                .withMultiProtocolNegotiate(true)
                .withEncryptData(true)
                .build();

[2020-03-09 13:00] felixRajkumar commented on #537
I would like to elaborate on this. Example I am in a domain abc, and there was a Device that is a standalone which is not connected to any domains. Can I access that by means of smbj

[2020-03-09 14:15] hierynomus commented on #537
What have you tried? What is the exception you're getting?

[2020-03-09 22:23] ricardo1604 commented on #234
Hi @ronchalant
Do you close the open file at finished?
Regards

Ricardo

[2020-03-10 13:57] ronchalant commented on #234
It's been a few years :)

The connection and diskshare objects should both be closing by being in the `try ()` block.

However in my sample/workaround, the disk entry opening here:

[code]
appears to not actually be closed. Looks like I messed up there; should be closed explicitly or in a `try ()` block.

The above snippets were from a test case I put together to demonstrate the issue and a workar

[2020-03-10 15:04] ricardo1604 commented on #234
Thanks @ronchalant
You're right the connection and diskshare should be closed in a `try()` block.
whether you find anything else in your prod code, I will be grateful that you share it

[2020-03-10 15:16] ronchalant commented on #234
My production code is pretty similar to the above functionally. I have not run into issues in production with this, though the `DiskEntry` looks like it also should be closed.

My guess is that closing the accompanying share will flush and close any open `DiskEntry` operations.

[2020-03-10 15:20] ricardo1604 commented on #234
Thanks !
Regards

[2020-03-10 21:01] 3c71 opened #538 "Proguard configuration?"
Hello,

After building the APK for release (with R8/proguard), I noticed smb support fails I keep getting an exception when calling list() and no other logs that could help determine the missing classes.

Any help appreciated.

g has already been closed
        at com.hierynomus.smbj.share.Share.send(Share.java:356)
        at com.hierynomus.smbj.share.Share.ioctlAsync(Share.java:346)
        at c

[2020-03-10 21:24] ecki commented on #538
Does it work without proguard?

Closing the objects at the wrong time is a common cause of problems, but that should not be related to proguard. Also the connection reuse, reconnect for DFS is an open point. Or actually was discussed, maybe check back in the other issues and also provide your code with an repeatable example.

[2020-03-10 21:25] 3c71 commented on #538
yes it works with proguard, otherwise I wouldn't ask.

[2020-03-10 21:26] ecki commented on #538
You mean it works or it doesn't work?

[2020-03-10 21:27] 3c71 commented on #538
sorry typo, it works perfect without proguard. it fails as soon as I "proguard" the apk.

In the mean time I tried to enable logs, but it doesn't work and I suspect proguard to remove some classes for that too. Bummer, hoped to get some error or message that could help figure out which classes are missing, but nope.

[2020-03-10 21:31] ecki commented on #538
It is probably easiest to Instrument the client, connection, session and so on and println or debug the close() (or finalizer) invocations

[2020-03-10 21:42] 3c71 commented on #538
Easiest if I pull the whole source code and modify locally.

For now I've added these to proguard, it still fails but I got some logs:
-keep class com.hierynomous.**{ *; }
-keep class org.slf4j.**{*;}

The logs shows it fails just after this:
2020-03-10 22:34:08.204 24927-25094/? I/3c.smbj:a: Starting DFS resolution for \\xx.yy.z.zzz\data

So I removed withDfsEnabled(true), and now it works!

Why

[2020-03-10 22:03] ecki commented on #537
When you connect to/against a local windows account you normally sent the hostname of the target machine as the domain part HOSTNAME\User. This works with workgroups or stand-alone. Some implementations are a bit picky and would require instead the workgroup name or empty string "" or "." a single dot. Note that the hostname is the netbios name not the fully qualified name or address.

[2020-03-11 06:48] 3c71 commented on #538
Ok, my bad, there seems to be no need for specific proguard rules. At least without DFS enabled. Not sure if proguard or release mode breaks it, haven't digged further, as I've had enough sync+build delays for the day.

[2020-03-11 07:41] hierynomus commented on #535
Have you checked the server logs? The server is disconneting the socket while smbj is setting up the session.

[2020-03-11 09:46] Simon192 opened #539 "Creating a file on a network share"
Hey,

I have a very simple question I guess.  I´m connecting to a network share and want to store pictures taken by my camera on this share.

I´ve set up the connection, removing files works fine, but how do I create files on the share?

Thanks in advance!

[2020-03-11 10:11] ecki commented on #539
You open the file on the share and write to its output stream:

    c.h.smbj.share.File file = share.openFile(
      "file",
      EnumSet.of(AccessMask.GENERIC_WRITE),
      EnumSet.of(FileAttributes.FILE_ATTRIBUTE_NORMAL),
      SMB2ShareAccess.ALL,
      SMB2CreateDisposition.FILE_OPEN_IF,
      EnumSet.noneOf(SMB2CreateOptions.class)
    )
    OutputStream os = file.getOutputStream(); // or fi

[2020-03-11 13:26] SubhasishDey commented on #535
Somehow it is not possible for us to get the thirdparty server logs, but as per our admin team we need to explicitly set sec=ntlmv2 0 in the mount to get it work.

Is there any way we can specify it in the library ?

[2020-03-11 22:06] ecki commented on #535
The NTLMAuthenticator uses NTMLv2. It even should support singing (enhanced security) but maybe that part is untested (https://github.com/hierynomus/smbj/blob/a8c74679c977946ff99a68cd19e69c6b20cf93d6/src/main/java/com/hierynomus/smbj/auth/NtlmAuthenticator.java#L121)

[2020-03-12 13:56] Simon192 commented on #539
Thank you very much! Works perfectly

[2020-03-12 13:56] #539 closed

[2020-03-20 05:09] SubhasishDey commented on #535
Hi ecki,

       Thanks for your reply. Just to add, this server works fine for other smb clients with the same configuration, and also we as a client are able to communicate to other SMB servers.

I have attached a winshark screenshot from a different instance having the same issue.
Here 10.60.30.158 is the server.
![WiresharkSnapshot](https://user-images.githubusercontent.com/16436150/77138176-0

[2020-03-20 05:13] ecki commented on #535
Th empty domain in packet 423 looks rather strange, can you compare that with a working client?

[2020-03-20 05:37] SubhasishDey commented on #535
Hi ecki,

The success scenario also has an empty domain from the same client but a different server (10.60.31.231)

![image](https://user-images.githubusercontent.com/16436150/77139169-fe2b9b80-6a9a-11ea-8588-60c32c17bd31.png)

[2020-03-20 20:01] ecki commented on #535
Do you have a non smbj client which can connect to the failing server? What is the difference between the two servers? (I think Windows is a bit less restrictive than samba or NAS software).

[2020-03-21 11:43] 3c71 opened #540 "Logs show a lot of connexions leaked"
It seems response bodies are never closed and I get many of those similar logs:

A connection to xxxxxxxxx was leaked. Did you forget to close a response body?
2020-03-21 12:39:07.457 28144-29092/xxxx W/OkHttp: java.lang.Throwable: response.body().close()
2020-03-21 12:39:07.457 28144-29092/xxxx W/OkHttp:     at okhttp3.internal.platform.Platform.getStackTraceForCloseable(Platform.kt:134)
2020-03-

[2020-03-21 20:13] hierynomus commented on #540
SMBJ does not use or rely on OkHttp. You might want to check your own code, this does not seem to have anything to do with SMBJ.

[2020-03-21 21:50] 3c71 commented on #540
OMG, I'm sorry, posted this to the wrong git.

[2020-03-21 21:50] #540 closed

[2020-04-01 16:10] smou opened #541 "Get and set SecurityInfo for root folder not possible"
I want to set the permissions for the root folder of the share, but i have to possibilty to get or set the securityInfo for the root folder.

variable for path variable were: null, "", "/", "/.", "."
but nothing works...

Is there another way or a chance to get that feature soon?
Thanks

[2020-04-01 19:53] #537 closed

[2020-04-01 19:54] felixRajkumar opened #542 "Will smb3 works if smb2 is disabled"
Hi,
     I would like to know if I disable smb2 , will smb3 works in this api.

[2020-04-02 14:21] smou commented on #541
after digging a bit deeper i found a solution, but in my opinion there is an inconsistant behavior.
by calling share.getSecurityInfo("",...) for Root folder i'm getting an Error.
If i open the directory and call getSecurityInfo it works fine. The difference between those two calls is open(<path>,...) and openDirectory(<path>,...)

[2020-04-03 06:56] felixRajkumar commented on #542
It is not possible since both of them share the same stack.

[2020-04-03 06:56] #542 closed

[2020-04-03 07:26] felixRajkumar commented on #395
**Only close the entry** does it implies the to close the DiskShare or something else

[2020-04-03 10:59] felixRajkumar opened #543 "Closing DiskShare"
Hi,
    I know that smb uses cached connections.I have a doubt related to that
    If I read a file in device A from D$ and I didn't close the connection.
    And I read a file in device B.
    Now if I again read a file from D$ or C$ , will it cause any issue.
    Also I have an another issue, I am reading a file through inputstream, If I close the diskShare will it
    affect my input stream.

[2020-04-03 11:05] felixRajkumar commented on #395
Here I would like to know whether the term DiskEntry specifies the DiskShare in the following code.

` Connection connection = client.connect("SERVERNAME");
        AuthenticationContext ac = new AuthenticationContext("USERNAME", "PASSWORD".toCharArray(), "DOMAIN");
        Session session = connection.authenticate(ac);
        // Connect to Share
        DiskShare share = (DiskShare) session.conn

[2020-04-03 11:42] hierynomus commented on #395
`entry` references to a `DiskEntry`, so a `File` or `Directory`

[2020-04-03 12:09] felixRajkumar commented on #395
Will I get any issues if I didn't close the diskShare. I have asked a similar question here #543

[2020-04-03 12:26] hierynomus commented on #543
If device `A` and `B` are different clients, there is no cacheing between those
If you're reading an InputStream, you'd better not close the `DiskShare` until you're done with the stream. Closing it means that the resources are no longer reachable.

[2020-04-03 12:31] felixRajkumar commented on #543
But if I access D$ of device A and with out closing the connection or diskShare , if I access the C$ of device A. It wont cause any issue due to caching right?

[2020-04-03 13:33] AndreyFomichev opened #544 "DiskShare.mkdir creates only one directory"
***DiskShare.mkdir*** creates only one directory in one call.

It is not possible to create several subdirectories per one call.
The request to implement ***DiskShare.mkdirs*** procedure which could create several nested directories in one call, for example, 2345 \ 3456 \ 4453 \ 123123.txt

[2020-04-03 15:08] hierynomus commented on #543
Not directly, but you will have 2 shares open. Keep in mind that teh server has a max opens typically

[2020-04-03 15:12] hierynomus commented on #544
Such a method could easily be implemented in a utility class, but I don't think it is necessarily a part of the DiskShare api

[2020-04-07 08:09] hierynomus commented on #544
@AndreyFomichev I suggest you change the PR to move this utility method to the `SmbFiles` class.

[2020-04-13 12:58] SubhasishDey commented on #535
Hi,

     I have got another such instance where it is failing for authentication in the Second Session Setup request at line 107 with STATUS_NOT_SUPPORTED. Can anyone please help me understand why am I getting this error.
Just to remind that the server is NTLM v2 and when mounted in a Linux server, it works fine.

Thanks again for your attention.

![AnotherNetworkTrace](https://user-images.github

[2020-04-14 16:23] Malunke opened #546 "padding during signing/verification SMB2 Signature"
Dear Developers,

I can't use SMB2 with OmniOS.

I think it is related to: https://illumos.topicbox.com/groups/developer/T5092d83142769ad1/smb2-with-android-mixplorer-and-illumos-omnios

The signature is only ever 16 bytes long. The fix for the linked issue suggests that the SMBJ implementation didn't account for padding during signing/verification.

[code]

[2020-04-14 17:27] hierynomus commented on #546
Correct, however this issue was fixed way back. As indicated in the linked thread. The App developer of the client application needs to update the dependency to the latest version.

[2020-04-14 17:33] Malunke commented on #546
Thanks a lot - the developer promised he updated everything but it still doesn't work. I will forward it to the developer and ask him to double check his implementation.

Thanks a lot.

[2020-04-14 18:24] hierynomus commented on #546
Otherwise, do you have a pcap (network trace) file which can be analyzed?

Op di 14 apr. 2020 om 19:34 schreef Malunke <notifications@github.com>:

[2020-04-15 21:20] wmunyan opened #547 "SmbFiles.copy triggers TransportException (SocketException)"
Hello,
I am using v0.8.0 of your library and am running into an issue.  Authentication seems to execute successfully, the SMB share creation indicates success as well.  However, I am using the `SmbFiles.copy` method to move a file from my local machine to the SMB share and receive the following stack trace:
[code]
As far as I can tell, permissions are correct on the share and I am authenticating a

[2020-04-15 22:02] hierynomus commented on #547
Judging from the logs, the file did indeed transfer successfully, can you confirm?

The exception happens in the packetreader, after an SMB_CLOSE was sent. Somehow the connection is immediately dropped on the remote side is what my guess is. Can you look at the server logs to see whether anything can be learned from those?

[2020-04-16 02:04] wmunyan commented on #547
The file doesn't transfer successfully and the application exits.  There should be a subsequent application log message indicating the file was copied and the number of bytes.  The SMB connection isn't supposed to be closing after this one file is transferred, either - there are another 4 or 5 files to be copied onto the share.

Where can I look in server logs to find further information?  Event v

[2020-04-17 08:39] hierynomus commented on #547
Great, let me know whether you've learned anything from there.

It fails when it sends the SMB2_CLOSE Message which closes the filehandle and finishes the transfer.

[2020-04-18 16:23] faizananwerali opened #548 "How to add brackets in (DiskShare) session.connectShare?"
Unfortunately my smb server has folders with round brackets in folder name. how do I add these brackets om (DiskShare) session.connectShare?

	public static void main(String[] args) throws Exception {
		// TODO Auto-generated method stub
		@SuppressWarnings("resource")
		SMBClient client = new SMBClient();

	    try (Connection connection = client.connect("10.100.0.5")) {
	        AuthenticationCo

[2020-04-18 16:30] faizananwerali opened #549 "can't connect share in sub directory"
can't connect share in sub directory. see  (DiskShare) session.connectShare("Softwares/Chating")

	public static void main(String[] args) throws Exception {
		// TODO Auto-generated method stub
		@SuppressWarnings("resource")
		SMBClient client = new SMBClient();

	    try (Connection connection = client.connect("10.100.0.5")) {
	        AuthenticationContext ac = new AuthenticationContext("", "".

[2020-04-18 16:53] Malunke commented on #546
I can't use wireshark because the client is my android phone (I don't know how to capture there) and the server is OmniOS -> also there packet capture is difficult for me.

The developer of MiXplorer answered to me:

[2020-04-18 23:31] ecki commented on #549
Shares are normally not hierarchical, are you sure that / is correct? If it is a subdir of the share, you do not specify it in the connect.

[2020-04-18 23:33] ecki commented on #548
That Code looks correct. What's the error you are getting?

[2020-04-29 08:53] Flemoz commented on #365
So is this still in the works? @hierynomus